Repository CNES/cars: changes, and which GitLab CI jobs are due for each by the changed paths.
All: hadolint-cars-docker, test-end2end

Path conditions:
  hadolint-cars-docker: any of: Dockerfile
  test-end2end: any of: tests/test_end2end.py, cars/**/*, pyproject.toml

fix: fix with conditions
  cars/applications/sparse_matching/basic_sparse_matching_app.py
Due: test-end2end

fix: fix in code
  cars/applications/sparse_matching/basic_sparse_matching_app.py
  cars/pipelines/tie_points/tie_points.py
  docs/source/configuration/applications/sparse_matching.rst
Due: test-end2end

feat: new roi mode
  cars/applications/dense_matching/abstract_dense_matching_app.py
  cars/applications/dense_matching/basic_dense_matching_app.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/surface_modeling/surface_modeling.py
  cars/pipelines/tie_points/tie_points.py
Due: test-end2end

feat: test
  cars/applications/dense_matching/basic_dense_matching_app.py
  cars/pipelines/tie_points/tie_points.py
Due: test-end2end

fix: fix with some default values
  cars/pipelines/surface_modeling/surface_modeling.py
  cars/pipelines/tie_points/tie_points.py
Due: test-end2end

fix: fix with scaling coeff, don't needed
  cars/applications/dense_matching/abstract_dense_matching_app.py
  cars/applications/dense_matching/basic_dense_matching_app.py
  cars/pipelines/surface_modeling/surface_modeling.py
Due: test-end2end

doc: update doc
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
Due: none

test: add new test with a priori roi and changed refs
  tests/data/ref_output/dsm_test_surface_modeling_gizeh_res4_with_roi.tif
  tests/data/ref_output/dsm_test_surface_modeling_gizeh_res4_with_roi_overview.png
  tests/data/ref_output/image_test_surface_modeling_gizeh_res4_with_roi.tif
  tests/data/ref_output/image_test_surface_modeling_gizeh_res4_with_roi_overview.png
  tests/pipelines/surface_modeling/test_pipeline.py
Due: none

fix: put the functions in roi tools and update the roi after polygone calculation
  cars/core/roi_tools.py
  cars/pipelines/surface_modeling/surface_modeling.py
  cars/pipelines/tie_points/tie_points.py
Due: test-end2end

fix: fix with used_conf
  cars/pipelines/conf_resolution/conf_first_resolution.yaml
  cars/pipelines/parameters/application_parameters.py
Due: test-end2end

fix: fix with the default configuration files
  cars/pipelines/conf_resolution/conf_final_resolution.yaml
  cars/pipelines/conf_resolution/conf_first_resolution.yaml
  cars/pipelines/default/default_pipeline.py
Due: test-end2end

fix: add no edition class in filling.tif
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/filling/filling.py
  cars/pipelines/filling/filling_pipeline_wrapper.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/surface_modeling/surface_modeling.py
  docs/source/configuration/applications/dsm_filling.rst
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  docs/source/configuration/output/configuration.rst
  docs/source/example_configs/configuration/filling_in_input.yaml
  docs/source/example_configs/configuration/output_auxiliary_advanced.yaml
  tests/data/ref_output/classif_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling.tif
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling_overview.png
  tests/data/ref_output/image_filled_phr_ventoux_pipeline_filling.tif
Due: test-end2end

fix: add no edition class in filling.tif
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/filling/filling.py
  cars/pipelines/filling/filling_pipeline_wrapper.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/surface_modeling/surface_modeling.py
  docs/source/configuration/applications/dsm_filling.rst
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  docs/source/configuration/output/configuration.rst
  docs/source/example_configs/configuration/filling_in_input.yaml
  docs/source/example_configs/configuration/output_auxiliary_advanced.yaml
  tests/data/ref_output/classif_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/dsm_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling.tif
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling_overview.png
  tests/pipelines/filling/test_pipeline.py
Due: test-end2end

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix: remove weasyprint as main
  Dockerfile
  cars/pipelines/analysis/analysis.py
  cars/pipelines/analysis/report_tools.py
  ci/cars-deps-env/Dockerfile
  pyproject.toml
  tests/pipelines/analysis/test_pipeline.py
  tests/pipelines/filling/test_pipeline.py
Due: hadolint-cars-docker, test-end2end

fix: remove weasyprint as main
  CHANGELOG.md
  Dockerfile
  cars/pipelines/analysis/analysis.py
  cars/pipelines/analysis/report_tools.py
  ci/cars-deps-env/Dockerfile
  pyproject.toml
  tests/pipelines/analysis/test_pipeline.py
  tests/pipelines/filling/test_pipeline.py
Due: hadolint-cars-docker, test-end2end

fix: add report_pdf target in gh ci
  .github/workflows/cars-ci.yml
Due: none

fix: fix target in github ci
  .github/workflows/cars-ci.yml
Due: none

feat: added new interpolation filling
  cars/applications/dsm_filling/__init__.py
  cars/applications/dsm_filling/interpolation_filling_app.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/filling/filling.py
  cars/pipelines/filling/filling_pipeline_wrapper.py
  cars/pipelines/surface_modeling/surface_modeling.py
Due: test-end2end

fix: cython dependancie for make dev_gdal
  Makefile
Due: none

fix: force rasterio < 1.5.0
  pyproject.toml
Due: test-end2end

fix: add subsampling and pipeline in global used conf
  cars/pipelines/default/default_pipeline.py
Due: test-end2end

ci: added edge detection to github ci
  .github/workflows/cars-ci.yml
Due: none

fix: do not mask filled areas on the right image
  cars/applications/dense_matching/dense_matching_algo.py
  tests/data/ref_output/classif_test_ventoux_with_filling.tif
  tests/data/ref_output/classif_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/classif_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/classif_test_ventoux_with_filling_overview.png
  tests/data/ref_output/classification_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/classification_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/dsm_filled_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/dsm_filled_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/dsm_test_ventoux_with_filling.tif
  tests/data/ref_output/dsm_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/dsm_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/dsm_test_ventoux_with_filling_overview.png
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling_overview.png
  tests/data/ref_output/image_filled_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/image_filled_phr_ventoux_pipeline_filling_global_overview.png
Due: test-end2end

fix: interleave band instead of pixel
  cars/applications/rasterization/simple_gaussian_app.py
Due: test-end2end

feat: add dtm output
  cars/applications/__init__.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
  cars/applications/dsm_merging/weighted_fusion_app.py
  cars/applications/dtm_generation/__init__.py
  cars/applications/dtm_generation/abstract_dtm_generation_app.py
  cars/applications/dtm_generation/bulldozer_app.py
  cars/applications/dtm_generation/bulldozer_config/base_config.yaml
  cars/core/constants.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/filling/filling.py
  cars/pipelines/merging/merging.py
  cars/pipelines/parameters/application_parameters.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/surface_modeling/surface_modeling.py
  docs/source/configuration/output/configuration.rst
  sonar-project.properties
  tests/data/ref_output/dtm_test_surface_modeling_ventoux.tif
  tests/data/ref_output/dtm_test_surface_modeling_ventoux_overview.png
  tests/pipelines/surface_modeling/test_pipeline.py
  tests/test_end2end.py
Due: test-end2end

docs: missing field in example configs
  docs/source/example_configs/configuration/classif_pivot_loader_config.yaml
  docs/source/example_configs/configuration/image_co3d_loader_config.yaml
  docs/source/example_configs/configuration/image_phr_loader_config.yaml
  docs/source/example_configs/configuration/image_pivot_loader_config.yaml
Due: none

docs: classification instead of image for loader
  docs/source/example_configs/configuration/classif_pivot_loader_config.yaml
Due: none

docs: example config for filling
  docs/source/example_configs/configuration/filling_in_input.yaml
Due: none

feat: update filling output file after surface modeling
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/rasterization/rasterization_algo.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/surface_modeling/surface_modeling.py
  cars/pipelines/surface_modeling/surface_modeling_pipeline_wrappers.py
  docs/source/configuration/applications/dense_match_filling.rst
  docs/source/configuration/output/configuration.rst
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/filling_test_surface_modeling_ventoux.tif
  tests/data/ref_output/filling_test_surface_modeling_ventoux_overview.png
Due: test-end2end

feat: update pandora to 1.8.1
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  pyproject.toml
Due: test-end2end
