Repository CNES/cars: changes, and which GitLab CI jobs are due for each by the changed paths.
All: hadolint-cars-docker, test-end2end

Path conditions:
  hadolint-cars-docker: any of: Dockerfile
  test-end2end: any of: tests/test_end2end.py, cars/**/*, pyproject.toml

bug: use advanced conf to read geometry plugin in filling pipeline
  cars/pipelines/filling/filling.py
Due: test-end2end

tests: little change in triangulation value (unit test)
  cars/pipelines/conf_resolution/conf_first_resolution.yaml
  tests/applications/triangulation/test_triangulation_tools.py
  tests/data/ref_output/classification_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/dsm__phr_ventoux_pipeline_formating.tif
  tests/data/ref_output/dsm__phr_ventoux_pipeline_formating_overview.png
  tests/data/ref_output/dsm_filled_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/dsm_filled_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/dsm_phr_ventoux_pipeline_formating.tif
  tests/data/ref_output/dsm_phr_ventoux_pipeline_formating_overview.png
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/filling_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/image_filled_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/image_filled_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/image_phr_ventoux_pipeline_formating.tif
  tests/data/ref_output/image_phr_ventoux_pipeline_formating_overview.png
Due: test-end2end

fix: circular import dask
  cars/orchestrator/cluster/mp_cluster/mp_tools.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/memory_tools.py
  cars/orchestrator/orchestrator.py
Due: test-end2end

fix: dask scatter, wiht carsdict
  cars/applications/dense_matching/census_mccnn_sgm_app.py
Due: test-end2end

ci: install pip in the docker dependency image uv based environment so it can be used in following jobs to install cars
  ci/cars-deps-env/Dockerfile
Due: none

feat: remove logging
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  pyproject.toml
Due: test-end2end

feat: decimation factor deactivated for first res
  cars/pipelines/conf_resolution/conf_first_resolution.yaml
Due: test-end2end

lint: sonarqube
  cars/pipelines/subsampling/subsampling.py
  sonar-project.properties
Due: test-end2end

fix: remove edge_detection
  docs/source/images/meta_pipeline_simplified.png
Due: none

fix: update dsm and filling map file names after first filling
  cars/pipelines/filling/filling.py
Due: test-end2end

fix: avoid profiling error if pipeline is a list
  cars/cars.py
Due: test-end2end

fix: github ci
  .github/workflows/cars-ci.yml
Due: none

fix: future warning scikit image
  pyproject.toml
Due: test-end2end

feat: add subsampling info in progress bar
  cars/applications/sensors_subsampling/rasterio_subsampling_app.py
Due: test-end2end

fix: profiling in workers
  cars/orchestrator/cluster/abstract_cluster.py
Due: test-end2end

fix: do not perform filling on classes that does not exist
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/filling/filling.py
  cars/pipelines/parameters/sensor_inputs.py
Due: test-end2end

bug: copy nodata values from mono to multiband classification in filling pipeline
  cars/pipelines/filling/filling.py
Due: test-end2end

fix: remove print
  cars/pipelines/default/default_pipeline.py
Due: test-end2end

fix: bug when filling is performed without filling map
  cars/pipelines/filling/filling.py
Due: test-end2end

docs: update changelog
  CHANGELOG.md
Due: none

feat: added libgeo param, renamed current dem margin param
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  docs/source/configuration/pipeline.rst
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/advanced_geometry_plugin_2.yaml
  docs/source/example_configs/pipeline/meta_pipeline_geometry_plugin_2.yaml
Due: test-end2end

tests: remove constraint on github
  .github/workflows/cars-ci.yml
  tests/pipelines/edge_detection/test_pipeline.py
  tests/pipelines/filling/test_pipeline.py
  tests/pipelines/formatting/test_pipeline.py
  tests/pipelines/merging/test_pipeline.py
  tests/pipelines/subsampling/test_subsampling.py
  tests/pipelines/surface_modeling/test_pipeline.py
  tests/test_end2end.py
Due: test-end2end

fix: take resolution into account when overriden
  cars/pipelines/parameters/output_parameters.py
Due: test-end2end

feat: change formatting method
  cars/pipelines/formatting/formatting.py
Due: test-end2end

tests: change paths
  cars/pipelines/formatting/formatting.py
  tests/test_end2end.py
Due: test-end2end

feat: remove support of python 3.9
  README.md
  pyproject.toml
Due: test-end2end

doc: update changelog
  CHANGELOG.md
Due: none

doc: update
  CHANGELOG.md
Due: none

test: add test to launch used conf + fixs
  cars/applications/grid_correction/grid_correction_app.py
  cars/pipelines/default/default_pipeline.py
  tests/test_end2end.py
Due: test-end2end

feat: add constraints no binary
  Dockerfile
  Makefile
Due: hadolint-cars-docker

feat: remove notebooks
  .github/workflows/cars-ci.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Makefile
  ci/cars-deps-env/Dockerfile
  pyproject.toml
  tests/applications/triangulation/test_triangulation_tools.py
  tests/test_notebook_helpers.py
  tests/test_notebooks.py
  tutorials/notebook_helpers.py
  tutorials/quick_start.sh
  tutorials/quick_start_docker.sh
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: test-end2end

docs: merge changelog 1.0
  CHANGELOG.md
Due: none

feat: remove constraint bulldozer
  pyproject.toml
Due: test-end2end

fix: removed duplicate surface_modeling, replaced tiepoints with tie_points
  docs/source/example_configs/configuration/full_config.yaml
  docs/source/example_configs/pipeline/meta_pipeline_list_2.yaml
  docs/source/example_configs/pipeline/meta_pipeline_list_3.yaml
  docs/source/example_configs/pipeline/tiepoints_pipeline.yaml
Due: none

fix: renamed searched config section
  docs/source/configuration/full_config.rst
Due: none

fix: plots in notebook
  cars/orchestrator/cluster/log_wrapper.py
Due: test-end2end

fix: remove shared memory check for eoscale (useless)
  cars/applications/dem_generation/bulldozer_dem_app.py
  cars/applications/dem_generation/bulldozer_memory.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
Due: test-end2end
