Repository CNES/cars: changes, and which GitLab CI jobs are due for each by the changed paths.
All: hadolint-cars-docker, test-end2end

hadolint-cars-docker:
  needs:
  - job: docker-image-build
    artifacts: false
  variables:
    HADOLINT_CONFIG_FILE: ci/hadolint_RNC_A_B_C_D.yaml
    ENV_DOCKERFILE: ${CARS_DOCKERFILE}

test-end2end:
  image: ${UL_ARTIFACTORY_HOST}/${CARS_ENV_IMAGE_NAME}:${CARS_ENV_IMAGE_TAG}
  before_script:
  - source /app/cars/venv/bin/activate
  - pip install --no-build-isolation --editable .[dev,docs,notebook]
  stage: test
  needs:
  - unit-test
  tags:
  - ${TEST_RUNNER_TAG}
  timeout: 120 minutes
  script:
  ...

docs: added documentation for the application/method separation
  docs/source/configuration/applications/dense_matching.rst
  docs/source/configuration/applications/sparse_matching.rst
Due: none

fix: properly use and set application in used_config
  cars/applications/dense_matching/basic_dense_matching_app.py
  cars/applications/sparse_matching/abstract_sparse_matching_app.py
  cars/applications/sparse_matching/basic_sparse_matching_app.py
Due: test-end2end

docs: added better examples, fixed small mistakes
  docs/source/configuration/applications/dense_matching.rst
  docs/source/configuration/applications/sparse_matching.rst
  docs/source/example_configs/configuration/applications_dense_matching.yaml
  docs/source/example_configs/configuration/applications_dense_matching_custom.yaml
  docs/source/example_configs/configuration/applications_dense_matching_full.yaml
  docs/source/example_configs/configuration/applications_dense_matching_minimal.yaml
  docs/source/example_configs/configuration/applications_sparse_matching_full.yaml
  docs/source/example_configs/configuration/applications_sparse_matching_minimal.yaml
Due: none

lint: fixed duplicated lines
  cars/applications/dense_matching/methods/pandora_method.py
  cars/applications/sparse_matching/basic_sparse_matching_app.py
  cars/core/tiling.py
Due: test-end2end

lint: lint fixes
  cars/applications/dense_matching/methods/pandora_method.py
  cars/applications/sparse_matching/methods/abstract_sparse_matching_method.py
  cars/applications/sparse_matching/methods/sift_sparse_method.py
Due: test-end2end

docs: added documentation for new param
  docs/source/configuration/applications/dense_matching.rst
  docs/source/example_configs/configuration/applications_dense_matching_full.yaml
Due: none

test: added tests for the new param
  tests/applications/dense_matching/test_dense_matching_config.py
Due: none

feat: added param classification_3sgm to dense matching
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/dense_matching/methods/pandora_method.py
Due: test-end2end

lint: added docstring
  cars/applications/dense_matching/methods/pandora_method.py
Due: test-end2end

fix: upgrade mccnn
  pyproject.toml
Due: test-end2end

fix: update with pandora release
  pyproject.toml
Due: test-end2end

fix: remove mccnn from dependencies
  pyproject.toml
Due: test-end2end

feat: products checker
  Dockerfile
  cars/cars.py
  cars/data_structures/cars_dataset.py
  cars/extractroi.py
  cars/pipelines/analysis/__init__.py
  cars/pipelines/analysis/analysis.py
  cars/pipelines/analysis/report_tools.py
  cars/pipelines/surface_modeling/surface_modeling.py
  pyproject.toml
  tests/pipelines/analysis/__init__.py
  tests/pipelines/analysis/test_pipeline.py
  tests/pipelines/subsampling/test_subsampling.py
  tests/test_cars.py
Due: hadolint-cars-docker, test-end2end

docs: fix missing apps
  docs/source/configuration/pipelines/filling.rst
  docs/source/configuration/pipelines/surface_modeling.rst
Due: none

docs: refacto developer documentation
  docs/source/developer_guide/algorithm_conception.rst
  docs/source/developer_guide/applications_algorithm/dem_generation.rst
  docs/source/developer_guide/applications_algorithm/dense_matching.rst
  docs/source/developer_guide/applications_algorithm/disparity_a_priori_computation.rst
  docs/source/developer_guide/applications_algorithm/grid_correction.rst
  docs/source/developer_guide/applications_algorithm/grid_generation.rst
  docs/source/developer_guide/applications_algorithm/images/dense_matching_tiling.png
  docs/source/developer_guide/applications_algorithm/images/resampling_tiling.png
  docs/source/developer_guide/applications_algorithm/images/sparse_matching_tiling.png
  docs/source/developer_guide/applications_algorithm/point_cloud_filtering.rst
  docs/source/developer_guide/applications_algorithm/rasterization.rst
  docs/source/developer_guide/applications_algorithm/resampling.rst
  docs/source/developer_guide/applications_algorithm/sparse_matching.rst
  docs/source/developer_guide/applications_algorithm/triangulation.rst
  docs/source/developer_guide/concepts/software_conception.rst
Due: none

fix: require numpy>=2.0
  pyproject.toml
Due: test-end2end

docs: update changelog for CARS 1.1
  CHANGELOG.md
Due: none

feat: classif is now monoband in filling apps
  cars/applications/dsm_filling/border_interpolation_app.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
  cars/applications/dsm_filling/exogenous_filling_app.py
  cars/pipelines/filling/filling.py
  cars/pipelines/filling/filling_pipeline_wrapper.py
Due: test-end2end

tests: fix unit tests
  tests/applications/dsm_filling/test_dsm_filling.py
Due: none

feat: adapt auxiliary filling to monoband classif
  cars/applications/auxiliary_filling/auxiliary_filling_algo.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/pipelines/filling/filling.py
  tests/data/ref_output/classif_test_ventoux_with_filling.tif
  tests/data/ref_output/classification_phr_ventoux_pipeline_filling.tif
  tests/data/ref_output/classification_phr_ventoux_pipeline_filling_overview.png
  tests/data/ref_output/image_filled_phr_ventoux_pipeline_filling.tif
Due: test-end2end

feat: update ref of unit test auxiliary filling
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
Due: none

feat: update ref of unit test auxiliary filling
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
  tests/data/input/classification_end2end_paca_aux_filling_0.tif
  tests/data/input/classification_end2end_paca_aux_filling_1.tif
  tests/data/input/classification_end2end_paca_aux_filling_2.tif
  tests/data/input/classification_input_auxiliary_filling.tif
  tests/data/input/color_end2end_paca_aux_filling_0.tif
  tests/data/input/color_end2end_paca_aux_filling_1.tif
  tests/data/input/color_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
Due: none

tests: update ref of end2end tests for auxiliary filling
  tests/data/ref_output/classification_phr_ventoux_pipeline_filling_global.tif
  tests/data/ref_output/classification_phr_ventoux_pipeline_filling_global_overview.png
  tests/data/ref_output/image_filled_phr_ventoux_pipeline_filling_global.tif
Due: none

fix: add metadata file in out dir
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/filling/filling.py
  cars/pipelines/formatting/formatting.py
  cars/pipelines/merging/merging.py
  cars/pipelines/subsampling/subsampling.py
  cars/pipelines/surface_modeling/surface_modeling.py
  tests/test_end2end.py
Due: test-end2end

fix: pipeline filling can be launched with relative paths
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/filling/filling.py
  cars/pipelines/formatting/formatting.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/subsampling/subsampling.py
Due: test-end2end

fix: add classif values of applications
  cars/pipelines/filling/filling.py
Due: test-end2end

fix: remove nodata from classif values
  cars/pipelines/filling/filling.py
Due: test-end2end

fix: fix with used_conf
  cars/pipelines/conf_resolution/conf_first_resolution.yaml
  cars/pipelines/parameters/application_parameters.py
Due: test-end2end

fix: remove useless lines
  cars/pipelines/tie_points/tie_points.py
Due: test-end2end

feat: reuse of epipolar_error_estimation
  cars/applications/sparse_matching/basic_sparse_matching_app.py
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/surface_modeling/surface_modeling.py
  cars/pipelines/tie_points/tie_points.py
Due: test-end2end

fix: fix refs
  tests/data/ref_output/classif_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/classif_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/classif_test_ventoux_with_filling_overview.png
  tests/data/ref_output/dsm_test_ventoux_meta_pipeline.tif
  tests/data/ref_output/dsm_test_ventoux_meta_pipeline_overview.png
  tests/data/ref_output/dsm_test_ventoux_with_filling.tif
  tests/data/ref_output/dsm_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/dsm_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/dsm_test_ventoux_with_filling_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling_overview.png
  tests/data/ref_output/image_test_ventoux_meta_pipeline.tif
  tests/data/ref_output/image_test_ventoux_meta_pipeline_overview.png
  tests/test_end2end.py
Due: test-end2end

test: last refs
  tests/data/ref_output/dsm_test_ventoux_meta_pipeline.tif
  tests/data/ref_output/dsm_test_ventoux_meta_pipeline_overview.png
  tests/data/ref_output/image_test_ventoux_meta_pipeline.tif
  tests/data/ref_output/image_test_ventoux_meta_pipeline_overview.png
Due: none

doc: changed doc
  docs/source/configuration/applications/sparse_matching.rst
Due: none

test: changed refs again and again and again
  tests/data/ref_output/classif_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/classif_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/classif_test_ventoux_with_filling_overview.png
  tests/data/ref_output/dsm_test_ventoux_meta_pipeline.tif
  tests/data/ref_output/dsm_test_ventoux_meta_pipeline_overview.png
  tests/data/ref_output/dsm_test_ventoux_with_filling.tif
  tests/data/ref_output/dsm_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/dsm_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/dsm_test_ventoux_with_filling_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326.tif
  tests/data/ref_output/filling_test_ventoux_with_filling_4326_overview.png
  tests/data/ref_output/filling_test_ventoux_with_filling_overview.png
  tests/data/ref_output/image_test_ventoux_meta_pipeline.tif
  tests/data/ref_output/image_test_ventoux_meta_pipeline_overview.png
Due: none

fix: fix with names
  cars/applications/sparse_matching/basic_sparse_matching_app.py
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/pipelines/tie_points/tie_points.py
Due: test-end2end

feat: add epipolar_error_estimation in margins
  cars/applications/sparse_matching/basic_sparse_matching_app.py
  cars/pipelines/tie_points/tie_points.py
Due: test-end2end

fix: fix with the default configuration files
  cars/pipelines/conf_resolution/conf_final_resolution.yaml
  cars/pipelines/conf_resolution/conf_first_resolution.yaml
  cars/pipelines/default/default_pipeline.py
Due: test-end2end

fix: fix by constructing a right margin up and down
  cars/applications/sparse_matching/basic_sparse_matching_app.py
  cars/applications/sparse_matching/sparse_matching_wrappers.py
Due: test-end2end

Path conditions:
  hadolint-cars-docker: any of: Dockerfile
  test-end2end: any of: tests/test_end2end.py, cars/**/*, pyproject.toml
