Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

refactor: consider performance_map as a distinct output from confidences to allow independant configuration of the performance map in output products
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/rasterization_constants.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

bug: don't try to rasterize performance map when it is not available
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

bug: add performance map output in compute_vector_raster_and_stats outputs in test
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint

bug: fix params and paths in end2end tests
  tests/test_end2end.py
Due: isort, black, flake8, pylint

refactor: remove the default altitude parameter from initial elevation parameters (always use 0 as default alt)
  cars/applications/grid_generation/grids.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

test: use 0 as default alt in test_resampling
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

refactor: remove check_inputs from input sensor parameters (the check is now always performed)
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/helpers.py
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: move tile_processing directory to dump_dir
  cars/orchestrator/orchestrator.py
  cars/orchestrator/tiles_profiler.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add total time for sequential tasks and parallel tasks
  cars/orchestrator/cluster/log_wrapper.py
Due: isort, black, flake8, pylint, sphinx-build

feat: separate sequential and multiprocessing in report, add sequantial applications
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/grid_correction.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

fix inversion performance map
  cars/applications/dense_matching/dense_matching_tools.py
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
Due: isort, black, flake8, pylint, sphinx-build

refactor: only compute dsm output if it is requested using the product level parameter
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feature: add depth_map output
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

quality: reduce the complexity of the triangulation application run by saving its output in a dedicated function, simplify some if statements
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

feature: support the auxiliary/point_cloud product, save point clouds by format given as parameter of save_points and replace save_points_clouds_as_xxx by save_intermediate_data in point cloud fusion
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: fix tests with new API
  tests/applications/point_cloud_fusion/test_point_cloud_fusion_config.py
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint

feature: use the last generated point cloud as official point cloud product
  cars/applications/point_cloud_denoising/point_cloud_denoising.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename save_points_cloud_by_pair into save_by_pair and set save_by_pair in all applications when output.save_by_pair is True
  cars/applications/point_cloud_denoising/point_cloud_denoising.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/data_structures/cars_dataset.py
  cars/orchestrator/orchestrator.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/applications/point_cloud_fusion/test_point_cloud_fusion_config.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add a way to choose the interpolation for resampling
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling_tools.py
Due: isort, black, flake8, pylint, sphinx-build

test: modify a test regarding my changes
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint

refactor: don't use use_endogenous_elevation in SensorToDenseDSM pipeline and start modifying baselines of tests accordingly (test_end2end_ventoux_unique and test_end2end_ventoux_with_color)
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/data/ref_output/color_end2end_ventoux.tif
  tests/data/ref_output/color_end2end_ventoux_with_color.tif
  tests/data/ref_output/confidence_from_ambiguity_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/data/ref_output/dsm_end2end_ventoux.tif
  tests/data/ref_output/dsm_end2end_ventoux_with_color.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

test: add test with full output and no input elevation
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  tests/data/input/phr_ventoux/input_no_elevation.json
  tests/data/ref_output/classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_with_snap_to_img1.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/dsm_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/dsm_end2end_ventoux_with_snap_to_img1.tif
  tests/data/ref_output/epi_pc_X_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Y_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Z_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_filling_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_mask_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/filling_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/mask_end2end_ventoux_no_elevation.tif
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove use_endogenous_elevation from test_check_full_conf unit test
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint

bug: throw an error when pairing is not defined with more than two inputs (instead of crashing later on in cars)
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove last occurences of use_endogenous_elevation
  tests/test_end2end.py
Due: isort, black, flake8, pylint

bug: fix if statement
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update cars configuration documentation with input/output refactoring
  docs/source/usage.rst
Due: sphinx-build

refactor: only create output dsm directory if dsm is part of the required products (instead of having an empty folder as output dsm)
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove resolution parameter from rasterization and replace it by output resolution
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/applications/rasterization/test_rasterization_config.py
  tests/test_end2end.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

test: fix tests after moving the resolution parameter of rasterization to output parameters
  tests/applications/rasterization/test_rasterization_config.py
  tests/pipelines/test_output.py
Due: isort, black, flake8, pylint

bug: fix invalid syntax in notebook
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
Due: jupyter-nb-clear-output

refactor: allow the point cloud output in point_cloud_to_dsm_pipeline
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update application documentation with save_intermediate_data
  docs/source/usage.rst
Due: sphinx-build

feature: check product level compatibility with pipeline
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

doc: fix table in doc
  docs/source/usage.rst
Due: sphinx-build

doc: fix inverted tabs in documentation
  docs/source/usage.rst
Due: sphinx-build

refactor: use dsm product level in test_end2end_use_epipolar_a_priori
  tests/test_end2end.py
Due: isort, black, flake8, pylint
