Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

tests: adapt auxiliary filling test to new input
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
Due: none

fix: strict in zip function
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add comments to explain the ROI is for the grid and not the images
  cars/core/geometry/shareloc_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add performance map classification
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/core/outputs.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  docs/source/usage/configuration.rst
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split_no_merging.tif
Due: isort, black, flake8, pylint, sphinx-build

feat: add ground_truth_reprojection application
  cars/applications/__init__.py
  cars/applications/ground_truth_reprojection/__init__.py
  cars/applications/ground_truth_reprojection/direct_localization.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_tools.py
  cars/applications/resampling/bicubic_resampling.py
  cars/core/constants.py
  cars/core/inputs.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

test: advanced new parameter ground_truth_dsm
  docs/source/usage.rst
  tests/applications/ground_truth_reprojection/__init__.py
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_sensor_dsm_ground_truth.tif
  tests/pipelines/test_advanced_parameters.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add information about ground truth reprojection
  docs/source/images/cars_pipeline_advanced.png
  docs/source/usage/configuration.rst
Due: sphinx-build

fix: row, col dimensions mistakes
  cars/applications/ground_truth_reprojection/direct_localization.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_tools.py
  cars/pipelines/default/default_pipeline.py
  docs/source/usage/configuration.rst
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_sensor_dsm_ground_truth.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: dem_median and other mistakes
  cars/applications/ground_truth_reprojection/direct_localization.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_tools.py
  cars/pipelines/default/default_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change alti ref method
  cars/applications/ground_truth_reprojection/direct_localization.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_tools.py
  cars/pipelines/default/default_pipeline.py
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth.tif
Due: isort, black, flake8, pylint, sphinx-build

feat: add right gt
  cars/applications/ground_truth_reprojection/direct_localization.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_tools.py
  cars/pipelines/default/default_pipeline.py
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth_left.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth_right.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_sensor_dsm_ground_truth_left.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_sensor_dsm_ground_truth_right.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add tile size as a parameter
  cars/applications/ground_truth_reprojection/direct_localization.py
  docs/source/usage/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

tests: update
  tests/data/ref_output_application/ground_truth_reprojection/ref_sensor_dsm_ground_truth_right.tif
Due: none

feat: use geoid
  cars/applications/ground_truth_reprojection/direct_localization.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  docs/source/usage/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

tests: update
  tests/pipelines/test_advanced_parameters.py
Due: isort, black, flake8, pylint

feat: decimation of the sifts
  cars/applications/sparse_matching/sift.py
  cars/pipelines/default/default_pipeline.py
  docs/source/usage/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: test notebook was running out ok time
  cars/applications/dem_generation/dichotomic_generation.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change in dichotomic generation
  cars/applications/dem_generation/dichotomic_generation.py
Due: isort, black, flake8, pylint, sphinx-build

test: change refs
  tests/data/ref_output/color_end2end_ventoux_split_4326.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_4326.tif
Due: none

fix: linter
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

fix: upgrade black
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: perform loc inverse in parallel (for now this sequential loc inverse are also realized for comparison)
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

Enlever paramètre non utilisé
  cars/applications/sparse_matching/sift.py
  docs/source/usage/configuration.rst
  tests/applications/sparse_matching/test_sparse_matching_config.py
Due: isort, black, flake8, pylint, sphinx-build

feat: perform inverse locs in parallel when libgeo is used, sequential when shareloc is used
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

remove outlier removal after fusion
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

perf: sample values using a single window read, instead of n reads for n points
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change in the documentation
  docs/source/developer_guide/creating_a_plugin.rst
  docs/source/developer_guide/faq_dev.rst
  docs/source/developer_guide/index.rst
  docs/source/developer_guide/troubleshooting.rst
  docs/source/examples.rst
  docs/source/glossary.rst
  docs/source/how_CARS_works?/3d_products.rst
  docs/source/how_CARS_works?/from_satellite_images_to_dsm.rst
  docs/source/how_CARS_works?/in_a_nutshell.rst
  docs/source/how_CARS_works?/index.rst
  docs/source/how_CARS_works?/masks_and_classifications_usage.rst
  docs/source/how_CARS_works?/overview.rst
  docs/source/how_to_use_CARS?.rst
  docs/source/how_to_use_CARS?/advanced_configuration.rst
  docs/source/how_to_use_CARS?/basic_configuration.rst
  docs/source/how_to_use_CARS?/how_to_launch_CARS?.rst
  docs/source/howto.rst
  docs/source/index.rst
  docs/source/troubleshooting_and_faqs.rst
  docs/source/usage.rst
  docs/source/usage/configuration.rst
  docs/source/usage/plugins.rst
Due: sphinx-build

doc: changes
  docs/source/developer_guide/algorithm_conception.rst
  docs/source/examples.rst
  docs/source/glossary.rst
  docs/source/how_CARS_works?/from_satellite_images_to_dsm.rst
  docs/source/how_CARS_works?/in_a_nutshell.rst
  docs/source/how_to_use_CARS?/advanced_configuration.rst
  docs/source/how_to_use_CARS?/how_to_launch_CARS?.rst
  docs/source/troubleshooting_and_faqs.rst
Due: sphinx-build

doc: add docker tuto
  docs/source/howto.rst
Due: sphinx-build

doc: final changes
  docs/source/examples.rst
  docs/source/how_CARS_works/3d_products.rst
  docs/source/how_CARS_works/from_satellite_images_to_dsm.rst
  docs/source/how_CARS_works/in_a_nutshell.rst
  docs/source/how_CARS_works/index.rst
  docs/source/how_CARS_works/masks_and_classifications_usage.rst
  docs/source/how_CARS_works/overview.rst
  docs/source/how_to_use_CARS.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  docs/source/how_to_use_CARS/how_to_launch_CARS.rst
  docs/source/how_to_use_CARS?.rst
  docs/source/howto.rst
  docs/source/index.rst
Due: sphinx-build

doc: normally final changes
  docs/source/examples.rst
  docs/source/howto.rst
Due: sphinx-build

lint: removed unused if statement
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

update to pandora 1.6.3
  setup.cfg
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/confidence_from_ambiguity_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/confidence_from_intensity_std_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/data/ref_output/disp1_ref_pandora.nc
  tests/data/ref_output/disp1_ref_pandora_mask_ref.nc
  tests/data/ref_output/disp1_ref_pandora_mask_sec.nc
  tests/data/ref_output/disp3_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_ventoux.tif
  tests/data/ref_output/dsm_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_no_merging.tif
Due: none

feat: replaced numba implementations with pybind implementations
  cars/applications/dense_matching/cpp/includes/dense_matching.hpp
  cars/applications/dense_matching/cpp/src/bindings.cpp
  cars/applications/dense_matching/cpp/src/dense_matching.cpp
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: build cars with meson
  Makefile
  cars/applications/dense_matching/cpp/meson.build
  meson.build
  pyproject.toml
  setup.cfg
  version.sh
Due: sphinx-build

fix: removed numba
  .github/workflows/cars-ci.yml
  Makefile
  NOTICE
  cars/__init__.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/orchestrator/cluster/dask_jobqueue_utils.py
  tests/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

feat: added a new target for the CI
  Makefile
  cars/orchestrator/cluster/dask_jobqueue_utils.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
