Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: fix in doc
  docs/source/CARS overview/CARS_pipeline.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

docs: fixed a broken list
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

docs: aligned save_intermediate_data's described behavior with meta pipeline devs
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

docs: added a full advanced pipeline schema
  docs/source/images/cars_pipeline_advanced.png
Due: sphinx-build

docs: added resolution override files
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

docs: added descriptions for new parameters and behaviors
  docs/source/CARS overview/CARS_pipeline.rst
  docs/source/CARS overview/from_satellite_images_to_dsm.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  docs/source/images/cars_pipeline_multi_pair.png
  docs/source/images/gizeh_multires_res1.png
  docs/source/images/gizeh_multires_res2.png
  docs/source/images/gizeh_multires_res4.png
Due: sphinx-build

docs: reflect changes made to the output directory
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

fix: fix pandora warnings
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/cars.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for wheel
  pyproject.toml
Due: none

fix: fix in pyproject
  pyproject.toml
Due: none

doc: small fix
  docs/source/CARS overview/CARS_pipeline.rst
Due: sphinx-build

doc: fix some things
  docs/source/CARS overview/from_satellite_images_to_dsm.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

rebase
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in exception
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: put the exception in shareloc geometry
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in message
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

test: modify test
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint

fix: put runtime error instead of value error
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

test: add test when roi is outside the dtm
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint

fix: put a try catch when dem is outside
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in mss
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

bug: fix return order from image envelope function
  cars/applications/auxiliary_filling/auxiliary_filling_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

bug: fix return order from image envelope function
  cars/applications/auxiliary_filling/auxiliary_filling_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: the variable was already defined
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: add pytest mark
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint

test: fix in unit test
  tests/applications/dense_matching/test_pandora_loader.py
  tests/applications/grid_generation/test_grids.py
  tests/applications/resampling/test_resampling.py
  tests/orchestrator/cluster/test_cluster.py
  tests/pipelines/test_advanced_parameters.py
Due: isort, black, flake8, pylint

test:modify test resampling
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

feat: add classification_fusion_margin
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/cpp/dense_matching_cpp.py
  cars/applications/dense_matching/cpp/includes/dense_matching.hpp
  cars/applications/dense_matching/cpp/src/dense_matching.cpp
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/dense_matching/dense_matching_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for sonarqube
  cars/applications/dense_matching/cpp/dense_matching_cpp.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for sonaqube
  cars/applications/dense_matching/cpp/src/dense_matching.cpp
Due: sphinx-build

test : fix in test
  tests/applications/dense_matching/test_dense_matching_tools.py
Due: isort, black, flake8, pylint

fix: fix in dense matching cpp
  cars/applications/dense_matching/cpp/src/dense_matching.cpp
Due: sphinx-build

feat: cleanup sequential orchestrators
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dem_generation/rasterization.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

test: remove pytest.mark
  tests/orchestrator/cluster/test_cluster.py
Due: isort, black, flake8, pylint

test: test if it comes from test factorize tasks mp
  tests/orchestrator/cluster/test_cluster.py
Due: isort, black, flake8, pylint

doc: add classifcation_fusion_margin in doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix notebook
  tutorials/data_gizeh_small.tar.bz2
  tutorials/data_gizeh_small.tar.bz2.md5sum
Due: none

fix: fix in meta pipeline
  cars/applications/grid_generation/transform_grid.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for disp to alt ratio
  cars/applications/grid_generation/transform_grid.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
