Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: update ref
  cars/applications/dense_matching/dense_matching_tools.py
  cars/core/geometry/shareloc_geometry.py
  cars/data_structures/cars_dataset.py
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/shareloc/clr_end2end_ventoux_egm96.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/confidence_from_ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/shareloc/dem_max_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dem_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dem_min_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dsm_end2end_ventoux_egm96.tif
  tests/data/ref_output/shareloc/dsm_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/shareloc/dsm_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dsm_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dsm_n_pts_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dsm_pts_in_cell_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dsm_std_end2end_ventoux_quality_stats.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove known invalid tiles
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/resampling/bicubic_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use local disp by default
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update
  docs/source/usage/index.rst
Due: sphinx-build

tests: update
  tests/data/ref_output/clr_end2end_ventoux_split_4326.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_4326.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_split_4326.tif
  tests/data/ref_output/shareloc/dsm_end2end_ventoux_split_4326.tif
  tests/data/ref_output/shareloc/source_pc_end2end_ventoux_split_4326.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split_4326.tif
Due: none

feat: manage nodata in grids
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix use of srtm folder
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/grids.py
  cars/core/tiling.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/core/test_tiling.py
  tests/data/ref_output/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
Due: isort, black, flake8, pylint, sphinx-build

test: update
  tests/data/ref_output/shareloc/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/performance_map_end2end_gizeh_crop.tif
Due: none

fix: bug grid
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

fix: bug negative transform
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

test: update
  tests/data/ref_output/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
Due: none

test: update shareloc
  tests/data/ref_output/shareloc/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/performance_map_end2end_gizeh_crop.tif
Due: none

fix: docker pip
  Dockerfile.deps
Due: none

fix: save cars dataset with none tiles
  cars/data_structures/cars_dataset.py
  tests/data_structure/test_arrays.py
  tests/data_structure/test_points.py
Due: isort, black, flake8, pylint, sphinx-build

remove point cloud data_valid
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/core/constants.py
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/data/ref_output/ref_simple_rasterization.nc
Due: isort, black, flake8, pylint, sphinx-build

feat: align filling methods
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matches_filling/plane.py
  docs/source/usage/index.rst
Due: isort, black, flake8, pylint, sphinx-build

tests: update ref
  cars/applications/dense_matching/dense_matching_tools.py
  tests/applications/dense_matching/test_dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: scipy filter bug
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update
  tests/data/ref_output/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/performance_map_end2end_gizeh_crop.tif
Due: none

tests: update
  tests/data/ref_output/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/performance_map_end2end_gizeh_crop.tif
Due: none

fix: docker
  Dockerfile.deps
Due: none

feat: numba implementation of classif estimation
  cars/applications/dense_matching/dense_matching_tools.py
  tests/applications/dense_matching/test_dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

update changelog
  CHANGELOG.md
Due: none

feat: add profiling decorator default
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/cars.py
  cars/core/cars_logging.py
  cars/core/preprocessing.py
  cars/core/tiling.py
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/dask_cluster_tools.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/sequential_cluster.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  docs/source/usage/index.rst
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add pie chart
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/sparse_matching/sift.py
  cars/cars.py
  cars/orchestrator/cluster/dask_cluster_tools.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  tests/applications/grid_generation/test_grids.py
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: convert inf to nan to avoid overflow error
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: sonar
  cars/core/cars_logging.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update notebooks
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

feat: add moustach
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: black
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/cars_logging.py
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

lint: update black
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
