Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: update sonar properties with new file names
  cars/applications/point_cloud_outlier_removal/outlier_removal_tools.py
  sonar-project.properties
  tests/applications/point_cloud_outlier_removal/test_outlier_removal.py
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_quality_stats.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: move pipeline name from metadata.json to used_conf.json
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: delete the dump dir at the end of cars default pipeline is save_intermediate_data is deactivated for all applications and improve the cleaning of application dump dir
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove dense matching config dump in metadata.json and dump the whole config in used_conf.json instead of what the input conf was (dict, null or Path)
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

bug: clean worker log in cars.py main instead of cleaning it before summary is generated
  cars/cars.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: write bbox envelope and intersection files as geojson and dump the content of these files in metadata.json
  cars/core/geometry/abstract_geometry.py
  cars/core/preprocessing.py
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove 'inputs' from metadata.json
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: invert application name and pair name in metadata.json to match dump_dir tree structure
  cars/applications/dense_match_filling/plane.py
  cars/applications/dense_match_filling/zero_padding.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: invert pair key and sparse matching in metadata.json
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching_constants.py
Due: isort, black, flake8, pylint, sphinx-build

doc: fix usage.rst compilation
  cars/data_structures/cars_dataset.py
Due: isort, black, flake8, pylint, sphinx-build

feature: add index file for depth_map and dsm products
  cars/applications/point_cloud_outlier_removal/pc_out_removal.py
  cars/applications/point_cloud_outlier_removal/point_removal_constants.py
  cars/applications/point_cloud_outlier_removal/small_components.py
  cars/applications/point_cloud_outlier_removal/statistical.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/constants.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: clean worker logs at the end of processing, gather cleaning tasks in a dedicated function in the default pipeline
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: quit on sparse matching after grid correction
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feature: support point cloud index in merging mode
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outlier_removal/small_components.py
  cars/applications/point_cloud_outlier_removal/statistical.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

feature: write point cloud index in no merging mode
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outlier_removal/pc_out_removal.py
  cars/applications/point_cloud_outlier_removal/small_components.py
  cars/applications/point_cloud_outlier_removal/statistical.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove _run suffix from keys in metadata.json
  cars/applications/dense_match_filling/fill_disp_constants.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/grid_generation/grid_constants.py
  cars/applications/point_cloud_fusion/cloud_fusion_constants.py
  cars/applications/point_cloud_outlier_removal/point_removal_constants.py
  cars/applications/rasterization/rasterization_constants.py
  cars/applications/resampling/resampling_constants.py
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/applications/triangulation/triangulation_constants.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change points_cloud to point_cloud
  tests/applications/point_cloud_outlier_removal/__init__.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing.py
Due: isort, black, flake8, pylint

refactor: remove file paths from metadata.json
  cars/applications/grid_generation/grid_correction.py
  cars/applications/rasterization/rasterization_constants.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching_constants.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: don't save refined_config_dense_dsm.json on disk
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: add assertions on index.json file in test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

bug: store input configuration instead of patched pandora configuration in used_conf
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: take metadata.json refactoring into account in end2end tests
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

test: use used_conf instead of refined conf in test_end2end_use_epipolar_a_priori
  tests/test_end2end.py
Due: isort, black, flake8, pylint

refactor: apply code review on documentation and constant usage
  cars/applications/dem_generation/dichotomic_generation.py
  cars/data_structures/cars_dataset.py
  tests/applications/point_cloud_outlier_removal/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

docs: exploring the field updates
  docs/source/exploring_the_field/3d_products.rst
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
  docs/source/exploring_the_field/in_a_nutshell.rst
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
  docs/source/images/dense.matching.circled.drawio.png
  docs/source/images/dense.rasterization.circled.drawio.png
  docs/source/images/dense.resampling.circled.drawio.png
  docs/source/images/dense.triangulation.circled.drawio.png
  docs/source/images/dsm.png
  docs/source/index.rst
  docs/source/usage.rst
Due: sphinx-build

fix: update pre-commit config
  .pre-commit-config.yaml
Due: none

docs: update other sections
  docs/source/glossary.rst
  docs/source/howto.rst
  docs/source/troubleshooting_and_faqs.rst
  docs/source/usage.rst
Due: sphinx-build

fix: increase size of images
  docs/source/images/dense.matching.circled.drawio.png
  docs/source/images/dense.rasterization.circled.drawio.png
  docs/source/images/dense.resampling.circled.drawio.png
  docs/source/images/dense.triangulation.circled.drawio.png
Due: sphinx-build

docs: align docs with new interface
  README.md
  docs/source/_static/css/my_custom.css
  docs/source/getting_started.rst
  docs/source/images/cars_pipeline_multi_pair.png
  docs/source/index.rst
  docs/source/usage.rst
Due: sphinx-build

docs: split usage section between pages
  docs/source/usage.rst
  docs/source/usage/command_line.rst
  docs/source/usage/configuration.rst
  docs/source/usage/overview.rst
  docs/source/usage/plugins.rst
Due: sphinx-build

docs: review corrections
  docs/source/exploring_the_field/in_a_nutshell.rst
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
  docs/source/usage/configuration.rst
  docs/source/usage/plugins.rst
Due: sphinx-build

doc: fix docstrings in cars_dataset.py
  cars/data_structures/cars_dataset.py
Due: isort, black, flake8, pylint, sphinx-build

test: remove debug print
  tests/test_end2end.py
Due: isort, black, flake8, pylint

release 0.10.0
  CHANGELOG.md
Due: none

feat: support python >= 3.9
  .readthedocs.yaml
  Dockerfile
  README.md
  cars/__init__.py
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

tests: update ref of ventoux_no_elevation for python 3.10
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
Due: none

feat: use new version of shareloc
  CHANGELOG.md
  setup.cfg
Due: none

test: add merging true to quality stats test
  tests/data/ref_output/color_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_n_pts_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_pts_in_cell_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_std_end2end_ventoux_quality_stats.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

docs: readthedocs review
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
  docs/source/howto.rst
  docs/source/images/disparity_map.png
  docs/source/images/point_cloud.png
  docs/source/images/roi_san_fernando_argentina.jpg
  docs/source/usage/configuration.rst
Due: sphinx-build
