Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: add slurp classif sensor loader
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/__init__.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/slurp_classif_loader.py
  tests/data/input/phr_paca/left_classif.tif
  tests/data/input/phr_paca/right_classif.tif
Due: isort, black, flake8, pylint, sphinx-build

docs: add slurp sensor loader in docs
  cars/pipelines/parameters/sensor_loaders/basic_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/slurp_classif_loader.py
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  docs/source/example_configs/configuration/classif_basic_loader_config.yaml
  docs/source/example_configs/configuration/classif_full_config.yaml
  docs/source/example_configs/configuration/classif_slurp_loader_config.yaml
  docs/source/example_configs/configuration/mask_full_config.yaml
Due: isort, black, flake8, pylint, sphinx-build

fix: allow list of values for a filling method
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove main_file parmater from image pivot format
  cars/applications/auxiliary_filling/auxiliary_filling_algo.py
  cars/applications/auxiliary_filling/auxiliary_filling_wrappers.py
  cars/applications/dense_matching/disparity_grid_algo.py
  cars/applications/ground_truth_reprojection/direct_localization_app.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_algo.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/bundleadjustment.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/preprocessing.py
  cars/pipelines/parameters/sensor_loaders/pivot_image_loader.py
  tests/applications/grid_generation/test_grids.py
  tests/applications/resampling/test_resampling.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

fix: review
  cars/applications/grid_generation/epipolar_grid_generation_app.py
  cars/applications/resampling/resampling_wrappers.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/core/inputs.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/parameters/sensor_loaders/basic_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/basic_image_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_image_loader.py
  cars/pipelines/parameters/sensor_loaders/slurp_classif_loader.py
  cars/pipelines/unit/unit_pipeline.py
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  docs/source/example_configs/configuration/classif_pivot_loader_config.yaml
  docs/source/example_configs/configuration/image_basic_loader_config.yaml
  docs/source/example_configs/configuration/image_pivot_loader_config.yaml
  tests/applications/resampling/test_resampling.py
  tests/core/geometry/test_abstract_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
  tests/data/input/classification_end2end_paca_aux_filling_0.tif
  tests/data/input/classification_end2end_paca_aux_filling_1.tif
  tests/data/input/classification_end2end_paca_aux_filling_2.tif
  tests/data/input/classification_input_auxiliary_filling.tif
  tests/data/input/color_end2end_paca_aux_filling_1.tif
  tests/data/input/dsm_input_auxiliary_filling.tif
  tests/data/input/test_application/grid_generation_gizeh_ROI_color.json
  tests/data/input/test_application/grid_generation_gizeh_ROI_no_color.json
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/classification_end2end_ventoux_fusion.tif
  tests/data/ref_output/classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/classification_end2end_ventoux_with_classif.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/epi_pc_classification_end2end_ventoux_no_elevation.tif
  tests/pipelines/test_sensors_inputs.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: merge of MR: cast int to str for classes to fill
  cars/pipelines/default/default_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

code quality: add constants
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/parameters/sensor_loaders/basic_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/basic_image_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_image_loader.py
  cars/pipelines/parameters/sensor_loaders/slurp_classif_loader.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change loader names
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/basic_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/slurp_classif_loader.py
Due: isort, black, flake8, pylint, sphinx-build

docs: change loader name
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  docs/source/example_configs/configuration/classif_pivot_loader_config.yaml
  docs/source/example_configs/configuration/classif_slurp_loader_config.yaml
Due: isort, black, flake8, pylint, sphinx-build

docs: full configuration more readable
  cars/pipelines/default/default_pipeline.py
  docs/source/_static/css/cars_tabs.css
  docs/source/_static/css/my_custom.css
  docs/source/_static/js/cars_tabs.js
  docs/source/cars_configs_extension.py
  docs/source/configuration/full_config.rst
  docs/source/example_configs/configuration/full_config.yaml
Due: isort, black, flake8, pylint, sphinx-build

feat: convert output json files into yaml files
  cars/data_structures/cars_dataset.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/conf_resolution/conf_final_resolution.json
  cars/pipelines/conf_resolution/conf_final_resolution.yaml
  cars/pipelines/conf_resolution/conf_first_resolution.json
  cars/pipelines/conf_resolution/conf_first_resolution.yaml
  cars/pipelines/conf_resolution/conf_intermediate_resolution.json
  cars/pipelines/conf_resolution/conf_intermediate_resolution.yaml
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/unit/unit_pipeline.py
  docs/source/cars_configs_extension.py
  docs/source/configuration/applications.rst
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: modified texture and performance_map auxiliary parameters
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/rasterization/abstract_pc_rasterization_app.py
  cars/applications/rasterization/rasterization_algo.py
  cars/applications/rasterization/simple_gaussian_app.py
  cars/applications/triangulation/abstract_triangulation_app.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/core/constants.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/basic_image_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_image_loader.py
  cars/pipelines/unit/unit_pipeline.py
  docs/source/configuration/applications/auxiliary_filling.rst
  docs/source/example_configs/configuration/advanced_ground_truth_dsm.yaml
  docs/source/example_configs/configuration/inputs_depth_maps.yaml
  docs/source/example_configs/configuration/inputs_dsms.yaml
  docs/source/example_configs/configuration/output_depth_map_output.yaml
  docs/source/example_configs/configuration/output_dsm_output.yaml
  docs/source/example_configs/configuration/output_n_depth_maps_1_dsm.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/advanced_ground_truth_dsm.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/inputs_depth_maps.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/inputs_dsms.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_depth_map_output.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_dsm_output.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_depth_maps_1_dsm.yaml
  tests/data/input/phr_ventoux/input_with_color.json
  tests/data/input/phr_ventoux/input_with_color_and_classif.json
  tests/data/ref_output/performance_map_end2end_ventoux_with_color.tif
  tests/pipelines/test_output.py
  tests/pipelines/test_sensors_inputs.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove empty files
  cars/applications/point_cloud_fusion/abstract_pc_fusion_app.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles_app.py
  cars/applications/point_cloud_fusion/pc_fusion_algo.py
  cars/applications/point_cloud_fusion/pc_fusion_wrappers.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing.py
Due: isort, black, flake8, pylint, sphinx-build

feat: added filter_incomplete_disparity_range param
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/core/constants_disparity.py
  docs/source/configuration/applications/dense_matching.rst
Due: isort, black, flake8, pylint, sphinx-build

test: disabled new param for most tests, changed refs where not disabled
  tests/data/ref_output/classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/classification_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/contributing_pair_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/dsm_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/dsm_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/epi_pc_X_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_X_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/epi_pc_Y_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Y_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/epi_pc_Z_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Z_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/epi_pc_classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_classification_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/filling_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/filling_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/weights_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/weights_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output_application/dense_matching/disp1_ref_pandora_mask_sec.nc
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: mask all invalid data in filling
  cars/applications/dense_match_filling/fill_disp_algo.py
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/sparse_matching/sparse_matching_algo.py
Due: isort, black, flake8, pylint, sphinx-build

feat: mask only classification used in filling
  cars/applications/dense_matching/abstract_dense_matching_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/sparse_matching/abstract_sparse_matching_app.py
  cars/applications/sparse_matching/sift_app.py
  cars/applications/sparse_matching/sparse_matching_algo.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: bands as string
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/sparse_matching/sparse_matching_algo.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: masking
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/sparse_matching/sparse_matching_algo.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update
  tests/data/ref_output/classification_end2end_paca_aux_filling_overview.png
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/color_end2end_paca_matches_filling_overview.png
  tests/data/ref_output/dsm_end2end_paca_border_interpolation.tif
  tests/data/ref_output/dsm_end2end_paca_border_interpolation_overview.png
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling_overview.png
  tests/data/ref_output/mask_end2end_paca_matches_filling.tif
  tests/data/ref_output/mask_end2end_paca_matches_filling_overview.png
Due: none

doc: update
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
Due: sphinx-build

fix: use only classes filling to mask
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/sparse_matching/sparse_matching_algo.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: filling
  cars/applications/dense_matching/dense_matching_algo.py
Due: isort, black, flake8, pylint, sphinx-build

feat: filling is now monoband
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix after rebase
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: add unit test
  tests/pipelines/test_output.py
Due: isort, black, flake8, pylint

fix: fix in test end2end
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: fix in output parameters
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

feat: classif is now monoband
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for classification
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

test: modified unit test
  tests/pipelines/test_output.py
Due: isort, black, flake8, pylint

test: change ref
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: fix for test
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/unit/unit_pipeline.py
  tests/data/ref_output/classif_end2end_ventoux_lr.tif
  tests/data/ref_output/classif_end2end_ventoux_lr_overview.png
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/classification_end2end_ventoux_fusion.tif
  tests/data/ref_output/classification_end2end_ventoux_fusion_overview.png
  tests/data/ref_output/classification_end2end_ventoux_with_classif.tif
  tests/data/ref_output/classification_end2end_ventoux_with_classif_overview.png
  tests/data/ref_output/filling_end2end_gizeh_fill_with_zero.tif
  tests/data/ref_output/filling_end2end_gizeh_fill_with_zero_overview.png
Due: isort, black, flake8, pylint, sphinx-build

fix and doc
  cars/pipelines/unit/unit_pipeline.py
  docs/source/configuration/output/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in classif
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: little fix
  docs/source/configuration/output/configuration.rst
Due: sphinx-build

fix: little fix
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add of other
  cars/pipelines/unit/unit_pipeline.py
  docs/source/configuration/output/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in filling
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
