Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: use pip install vlsift
  Dockerfile.deps
  Makefile
  cars/applications/sparse_matching/sparse_matching_tools.py
  docs/source/developer_guide/how_to_contribute.rst
  docs/source/docker_guide.rst
  docs/source/faq.rst
  docs/source/install.rst
  docs/source/install_with_otb.rst
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

fix: update doc (slurm)
  docs/source/user_guide/configuration.rst
Due: sphinx-build

fix: move dask check conf to clusters
  cars/orchestrator/cluster/__init__.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/dask_cluster_tools.py
  cars/orchestrator/cluster/local_dask_cluster.py
  cars/orchestrator/cluster/pbs_dask_cluster.py
  cars/orchestrator/cluster/slurm_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: rasterization 4326 (pc to dsm)
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/core/preprocessing.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  tests/data/input/phr_ventoux/input_4326.json
  tests/data/ref_output/clr_end2end_ventoux_split_4326.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_4326.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split_4326.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: save name of color bands in point cloud fusion
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/constants.py
  cars/core/datasets.py
  cars/data_structures/dataframe_converter.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/data/ref_output/rasterization_multiple_res_ref.nc
  tests/data/ref_output/rasterization_multiple_with_source_res_ref.nc
  tests/data/ref_output/rasterization_res_ref_1.nc
  tests/data/ref_output/rasterization_res_ref_2.nc
  tests/data/ref_output/ref_simple_rasterization.nc
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add epipolar extent to roi
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

tests: add unitary test for get_roi
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint

fix: log warning (epsg4326/resolution)
  cars/core/preprocessing.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/data/ref_output/shareloc/clr_end2end_ventoux_split_4326.tif
  tests/data/ref_output/shareloc/dsm_end2end_ventoux_split_4326.tif
  tests/data/ref_output/shareloc/source_pc_end2end_ventoux_split_4326.tif
Due: isort, black, flake8, pylint, sphinx-build

docs: merge request feedbacks
  docs/source/contributing_the_project.rst
  docs/source/exploring_the_field/3d_products.rst
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
  docs/source/exploring_the_field/in_a_nutshell.rst
  docs/source/exploring_the_field/index.rst
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
  docs/source/index.rst
  docs/source/recipes.rst
  docs/source/usage/index.rst
Due: sphinx-build

doc: update changelog 0.7.3
  CHANGELOG.md
Due: none

docs: typo
  CHANGELOG.md
Due: none

fix: makefile cmd name
  Makefile
Due: none

feat: save point cloud dataframe by pair (csv, laz)
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/data_structures/cars_dataset.py
  cars/data_structures/dataframe_converter.py
  cars/orchestrator/orchestrator.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  docs/source/usage/index.rst
  tests/applications/rasterization/test_rasterization_tools.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remover log in init file that breaks logging config
  cars/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

feat: allow saving of point cloud with EPSG 4326
  cars/data_structures/dataframe_converter.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix wrong import and wrong interface
  cars/orchestrator/cluster/slurm_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

feat: raise explicit message slurm
  cars/orchestrator/cluster/slurm_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change queue from multiprocessing to threads to avoid deserialization
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix geoid interpolation
  cars/applications/dem_generation/dichotomic_generation.py
Due: isort, black, flake8, pylint, sphinx-build

fix: disp grid
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add debug file
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

fix: linter
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add inverse loc otb
  cars/core/geometry/otb_geometry.py
  otb_remote_module/app/CMakeLists.txt
  otb_remote_module/app/otbLocalizeInverse.cxx
Due: isort, black, flake8, pylint, sphinx-build

feat: local disp by default
  cars/applications/dense_matching/census_mccnn_sgm.py
  docs/source/usage/index.rst
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change disp min and max estimation
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/core/inputs.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: inverse pandora right grid
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/core/inputs.py
  docs/source/usage/index.rst
  tests/applications/dense_matching/test_dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change pc name
  cars/data_structures/cars_dataset.py
  cars/data_structures/dataframe_converter.py
Due: isort, black, flake8, pylint, sphinx-build

feat: better tile disp range
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change disp min max loc method
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/core/geometry/test_otb_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: tile with potential crash not computed
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  docs/source/usage/index.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: pandora cross validation
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: rebase
  cars/applications/dense_matching/dense_matching_tools.py
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/core/geometry/test_abstract_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/disp1_ref_pandora.nc
  tests/data/ref_output/disp1_ref_pandora_msk_ref.nc
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp3_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: sonar
  sonar-project.properties
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
