Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: remove taskset if IS_WIN
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

doc: remove unvalid comma
  docs/source/usage.rst
Due: sphinx-build

doc: rename false into False
  docs/source/usage.rst
Due: sphinx-build

fix: notebook clip
  tutorials/notebook_helpers.py
Due: isort, black, flake8, pylint

refactor: rename content.json into metadata.json
  cars/orchestrator/orchestrator.py
  cars/pipelines/sensor_to_dense_dsm/dsm_output.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  docs/source/usage.rst
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename initial_elevation.dem_path into initial_elevation.dem
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  docs/source/usage.rst
  tests/data/input/phr_ventoux/input_custom_geoid.json
  tests/data/input/phr_ventoux/input_without_color.json
  tests/pipelines/test_sensors_inputs.py
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

refactor: support sensor defined as a string and no pairing with only two input images
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename dem_path key into dem
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
Due: jupyter-nb-clear-output

refactor: move epsg code from input to output parameters
  cars/pipelines/output/output_constants.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/dsm_output.py
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  tests/data/input/phr_ventoux/input_4326.json
  tests/pipelines/test_sensors_inputs.py
  tests/test_end2end.py
  tests/test_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename pipeline/output into pipeline/parameters
  cars/pipelines/parameters/__init__.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/advanced_parameters.py
  cars/pipelines/sensor_to_dense_dsm/dsm_output.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feature: add a new 'advanced' category to cars parameters
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/pipeline_constants.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

bug: fix failing tests
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

test: add unit test for advanced parameters configuration checks
  cars/pipelines/parameters/advanced_parameters.py
  tests/pipelines/test_advanced_parameters.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

test: add unit test for the update conf function
  tests/pipelines/test_advanced_parameters.py
Due: isort, black, flake8, pylint

refactor: update Python notebooks with advanced parameters category
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

bug: fix path in test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

refactor: rename save_disparity_map, save_grids, save_matches and save_points_cloud into save_intermediate_data
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/grid_generation/grid_correction.py
  cars/applications/grid_generation/grid_generation.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/pipelines/conf_pipeline/sensor_to_pc.json
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  docs/source/software_design/application.rst
  docs/source/usage.rst
  tests/applications/dense_matching/test_dense_matching_config.py
  tests/applications/dense_matching_filling/test_dense_matching_filling_config.py
  tests/applications/grid_generation/test_grid_generation_config.py
  tests/applications/sparse_matching/test_sparse_matching_config.py
  tests/applications/triangulation/test_triangulation_config.py
  tests/data/input/test_application/configfile.json
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: move sensor inputs parameters and constants from cars/pipelines/sensor_to_dense_dsm to cars/pipelines/parameters
  cars/applications/dem_generation/dem_generation_tools.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/preprocessing.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/applications/resampling/test_resampling.py
  tests/helpers.py
  tests/pipelines/test_sensors_inputs.py
  tests/test_inputs.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

refactor: rename output/outdir parameter into output/directory
  cars/cars.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/dsm_output.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

bug: fix moved file in import
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

refactor save dem median, min and max in dump_dir
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: move output parameters to pipeline/parameters, format color and dsm output files
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/dsm_output.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

bug: fix rasterization config in test
  tests/applications/rasterization/test_rasterization_config.py
Due: isort, black, flake8, pylint

refactor: write rasterize intermediate data in dump_dir/rasterize
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/test_end2end.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

bug: fix uninitialized variable
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

test: add test for output parameters
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  tests/pipelines/test_output.py
  tests/pipelines/test_sensors_inputs.py
  tests/test_end2end.py
  tests/test_inputs.py
  tests/test_output.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: write logs and profiling output in outdir/logs
  cars/cars.py
  cars/orchestrator/cluster/abstract_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

feature: add common parameter advanced.save_intermediate_data to save data from all applications
  cars/applications/application_constants.py
  cars/applications/dem_generation/dem_generation.py
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/grid_generation/grid_generation.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/holes_detection/holes_detection.py
  cars/applications/point_cloud_denoising/point_cloud_denoising.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/point_cloud_fusion.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/triangulation/triangulation.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove pair folder in the sensorToDenseDSM pipeline and write each application output in different dirs
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/grid_generation/grid_correction.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/preprocessing.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/applications/resampling/test_resampling_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

bug: fix paths in tests
  tests/test_end2end.py
Due: isort, black, flake8, pylint

bug: don't use initial grid as uncorrected grid in triangulation
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove unused applications from SensorToSparseDSM
  cars/pipelines/conf_pipeline/sensor_to_sparse_dsm.json
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: write sensor_to_sparse_dsm intermediate data to dump dir
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: improve the management of rasterization output with save_intermediate_data, remove all save_xxx parameters
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: add more official products using the outputs/auxiliary/xxx option
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/data/ref_output/classification_end2end_ventoux.tif
  tests/data/ref_output/classification_end2end_ventoux_split.tif
  tests/data/ref_output/classification_end2end_ventoux_with_classif.tif
  tests/data/ref_output/rasterization_res_ref_1_intervals.nc
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

test: fix parameter config tests with new parameter names
  tests/applications/rasterization/test_rasterization_config.py
  tests/pipelines/test_output.py
Due: isort, black, flake8, pylint

refactor: starter update that splits the CLI and the Python API
  cars/starter.py
Due: isort, black, flake8, pylint, sphinx-build
