Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

robustify the code for fully nan depth maps
  cars/applications/point_cloud_fusion/pc_tif_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: implemented dem coregistration, the fit dem now is used for the whole pipeline
  cars/applications/dem_generation/dichotomic_generation.py
  cars/pipelines/default/default_pipeline.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
  pyproject.toml
Due: isort, black, flake8, pylint, sphinx-build

fix: added a check on max allowed offsets for coreg, and a warning
  cars/applications/dem_generation/dichotomic_generation.py
Due: isort, black, flake8, pylint, sphinx-build

fix: recompute grid correction when initial elevation fit is used
  cars/applications/dem_generation/dichotomic_generation.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: updated notebook to match dem_generation's interface
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

test: updated refs of the test that uses a fit dem, and dsm filling refs
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/mask_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth_left.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth_right.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: change names
  cars/applications/dense_matching/census_mccnn_sgm.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: change conditions
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

test: add test for each conf
  tests/applications/dense_matching/test_dense_matching_config.py
Due: isort, black, flake8, pylint

feat: added coregistration max shift as a config parameter. fix: don't compute coregistration even when save_intermediate_data is true
  cars/applications/dem_generation/dichotomic_generation.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add confidence filter in pandora sparse matching
  cars/applications/sparse_matching/pandora_sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change docstring for doc
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: put the conditions as parameters
  cars/applications/sparse_matching/pandora_sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for multi res
  cars/applications/sparse_matching/pandora_sparse_matching.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change the window size of nanratio
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add confidence filtering in doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: put new conf for sparse matching
  cars/applications/dense_matching/loaders/config_census_sgm_sparse.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/sparse_matching/pandora_sparse_matching.py
Due: isort, black, flake8, pylint, sphinx-build

feat: modification for the conf
  cars/applications/sparse_matching/pandora_sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

test: change ref dsm filling
  tests/data/ref_output/dsm_filling_bulldozer_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_bulldozer_gizeh_crop_roi.tif
Due: none

test: fix ref
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/mask_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
Due: none

test: change ref again and again and again
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
Due: none

feat: robustify the code
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: rebase
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add re entrance of envelops
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: add test
  tests/data/ref_output/color_end2end_ventoux_split_4326.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_4326.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: add profiling for filling
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/exogenous_filling.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add profiling on some functions
  cars/applications/grid_generation/grid_correction.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/core/preprocessing.py
Due: isort, black, flake8, pylint, sphinx-build

feat: upgrade pandora from 1.6.3 to 1.7.0
  pyproject.toml
Due: none

bug: handle cases where pandora sparse matching return empty or None tiles
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

feat: upgrade mccnn plugin and fix a bug
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  pyproject.toml
Due: isort, black, flake8, pylint, sphinx-build

feat: add robustification for new filter
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

fix : fix a bug
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

test: add unit test
  tests/applications/dense_matching/test_pandora_loader.py
Due: isort, black, flake8, pylint

test: add disparity denoiser in some tests, correct a bug, and change some refs
  cars/applications/dense_matching/dense_matching_tools.py
  tests/data/ref_output/mask_end2end_ventoux_split.tif
  tests/data/ref_output/msk_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split_no_merging.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

test: change ref
  tests/data/ref_output/classif_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/classification_end2end_ventoux_split.tif
  tests/data/ref_output/clr_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/color_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/filling_end2end_ventoux_split.tif
  tests/data/ref_output/filling_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/mask_end2end_ventoux_split.tif
  tests/data/ref_output/msk_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split_no_merging.tif
Due: none

test: add test end2end
  tests/applications/dense_matching/test_dense_matching_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint

doc: add denoise_disparity map in doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
