Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

docs: revert changes
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_depth_maps_1_dsm.yaml
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

feat: review
  docs/source/_static/css/cars_tabs.css
  docs/source/configuration/config_overview.rst
  docs/source/configuration/input.rst
  docs/source/configuration/input/running_cars_with_dsm_as_input.rst
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  docs/source/configuration/output.rst
  docs/source/configuration/output/configuration.rst
  docs/source/configuration/output/directory_content.rst
Due: sphinx-build

docs: fixs
  docs/source/example_configs/getting_started/gizeh_configfile.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/inputs_sensor_image_basic.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/inputs_sensor_image_intermediate.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_auxiliary_advanced.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_auxiliary_basic.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_pairs_1_dsm.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_pairs_n_depth_maps.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_pairs_n_point_clouds.yaml
  docs/source/getting_started.rst
  docs/source/how_to_use_CARS/advanced_configuration/orchestrator.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration/input.rst
  docs/source/how_to_use_CARS/basic_configuration/orchestrator.rst
  docs/source/how_to_use_CARS/basic_configuration/output.rst
Due: sphinx-build

docs: refacto
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_depth_map_output.yaml
  docs/source/how_to_use_CARS.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration_restructured.rst
  docs/source/how_to_use_CARS/basic_configuration_restructured/inputs.rst
  docs/source/how_to_use_CARS/basic_configuration_restructured/orchestrator.rst
  docs/source/how_to_use_CARS/basic_configuration_restructured/output.rst
Due: sphinx-build

docs: changed example style
  docs/source/_static/css/cars_tabs.css
  docs/source/_static/js/cars_tabs.js
  docs/source/cars_configs_extension.py
Due: isort, black, flake8, pylint, sphinx-build

docs: changes from MR 955
  docs/source/configuration/applications/auxiliary_filling.rst
Due: sphinx-build

tests: adapt tests
  tests/applications/resampling/test_resampling.py
  tests/data/input/phr_ventoux/input_with_color.json
  tests/data/input/phr_ventoux/input_with_color_and_classif.json
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint

feat: develop getting started
  docs/source/installation.rst
  docs/source/quick_start.rst
Due: sphinx-build

fix: overriding epipolar resolutions if dsm inputs
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add full config and review changes
  docs/source/configuration/full_config.rst
  docs/source/example_configs/configuration/full_config.yaml
  docs/source/index.rst
  docs/source/installation.rst
Due: sphinx-build

notebook: fix notebooks
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

sonarqube: duplicated sensor loader
  sonar-project.properties
Due: none

fix: infinite tile size
  .gitlab-ci.yml
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

release: update changelog for cars 0.12.3
  CHANGELOG.md
Due: none

ci: make patch release behavior independant of branch name
  .gitlab-ci.yml
Due: none

fix: int cast of inf
  cars/applications/dense_matching/dense_matching_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

CI: test
  .gitlab-ci.yml
  docs/source/technical_foundations/from_satellite_images_to_dsm.rst
Due: sphinx-build

doc: rebase
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  docs/source/configuration/output/directory_content.rst
Due: sphinx-build

doc: deleted how to use cars
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

doc: add info in doc
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

doc: little fix
  docs/source/technical_foundations/from_satellite_images_to_dsm.rst
Due: sphinx-build

docs: related software
  docs/source/index.rst
  docs/source/related_software.rst
Due: sphinx-build

fix: get_transform / get_size
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_image_loader.py
Due: isort, black, flake8, pylint, sphinx-build

fix: forbid the use of auto mode and loader_conf
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add docker pulls badge
  README.md
Due: none

docs: change name of pivot formats'
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
Due: sphinx-build

fix: readthedocs
  pyproject.toml
Due: none

docs: add citation file
  CITATION.cff
  README.md
Due: none

docs: add doi and url
  CITATION.cff
Due: none

feat: update applications with filling
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/parameters/sensor_loaders/basic_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/basic_image_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_image_loader.py
  tests/data/input/phr_paca/input.json
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/color_end2end_paca_matches_filling_overview.png
  tests/data/ref_output/dsm_end2end_paca_border_interpolation.tif
  tests/data/ref_output/dsm_end2end_paca_border_interpolation_overview.png
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling_overview.png
  tests/data/ref_output/mask_end2end_paca_matches_filling.tif
  tests/data/ref_output/mask_end2end_paca_matches_filling_overview.png
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: input classification is now mono-band
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/resampling/resampling_algo.py
  cars/applications/resampling/resampling_wrappers.py
  cars/core/inputs.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/parameters/sensor_loaders/basic_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: deal with mono-vand classif in aux filling
  cars/applications/auxiliary_filling/auxiliary_filling_algo.py
  cars/core/inputs.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  tests/data/input/classification_end2end_paca_aux_filling_0.tif
  tests/data/input/classification_end2end_paca_aux_filling_1.tif
  tests/data/input/classification_end2end_paca_aux_filling_2.tif
  tests/data/input/classification_input_auxiliary_filling.tif
  tests/data/input/color_end2end_paca_aux_filling_0.tif
  tests/data/input/color_end2end_paca_aux_filling_1.tif
  tests/data/input/color_end2end_paca_aux_filling_2.tif
  tests/data/input/color_input_auxiliary_filling.tif
  tests/data/input/dsm_input_auxiliary_filling.tif
  tests/data/input/phr_paca/left_classif.tif
  tests/data/input/phr_paca/right_classif.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for tests
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tutorials:updata classif for gizeh_small and notebook
  tutorials/data_gizeh_small.tar.bz2
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

tests: update tests with monoband classif
  tests/data/input/phr_gizeh/classif1.tif
  tests/data/input/phr_gizeh/classif2.tif
  tests/data/input/phr_ventoux/left_classif.tif
  tests/data/input/phr_ventoux/right_classif.tif
  tests/data/ref_output/classif_end2end_ventoux_lr.tif
  tests/data/ref_output/classification_end2end_ventoux_fusion.tif
  tests/data/ref_output/classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/classification_end2end_ventoux_with_classif.tif
  tests/data/ref_output/epi_pc_classification_end2end_ventoux_no_elevation.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: deactivate filling with basic and pivot loader
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
