Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

docs: update CHANGELOG
  CHANGELOG.md
Due: none

release: update Pandora from 1.6.1a2 to 1.6.1
  setup.cfg
Due: none

release: update Shareloc from 0.2.0 to 0.2.1
  setup.cfg
Due: none

fix: clip values between min and max before cast
  cars/applications/resampling/bicubic_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

Resolve "rendre dsm radius float"
  cars/applications/rasterization/rasterization_tools.py
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: use a modified version of shareloc interpolate_geoid_height to read geoid files, and remove the read_geoid_file function
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/geometry/abstract_geometry.py
  tests/applications/triangulation/test_triangulation_tools.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove OTB environment variable
  cars/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: add test with tif geoid
  tests/applications/triangulation/test_triangulation_tools.py
  tests/data/input/geoid/egm96_15.tif
Due: isort, black, flake8, pylint

feat: disable dask crash due to memory overload
  cars/__init__.py
  cars/cars.py
  cars/orchestrator/cluster/dask_config/distributed.yaml
Due: isort, black, flake8, pylint, sphinx-build

feat: add task_timeout as a parameter
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/dask_cluster_tools.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: do not compute all epipolar image if saved with a ROI
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: replace delayed by None at the end
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add task_timeout as parameter
  docs/source/usage.rst
Due: sphinx-build

test: add task_timeout parameter
  cars/orchestrator/cluster/dask_cluster_tools.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: add a parameter to sensor_to_dense_dsm to setup output geoid used in triangulation
  cars/pipelines/sensor_to_dense_dsm/dsm_output.py
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: add output/geoid parameter to end2end tests using geoid
  tests/test_end2end.py
Due: isort, black, flake8, pylint

refactor: remove use_geoid_alt parameter from triangulation
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_constants.py
  tests/applications/triangulation/test_triangulation_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feature: add used geoid in dataset attributes
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: gather geoid and dem paths in initial_elevation instead of having to separate keys
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change config
  cars/pipelines/output/__init__.py
  cars/pipelines/output/ouput_pipeline.py
  cars/pipelines/output/output_constants.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/dsm_output.py
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/test_inputs.py
  tests/test_output.py
Due: isort, black, flake8, pylint, sphinx-build

fix: deprecated warnings
  cars/applications/dense_matching/dense_matching_tools.py
  cars/orchestrator/cluster/dask_config/dask.yaml
  cars/orchestrator/cluster/dask_config/distributed.yaml
Due: isort, black, flake8, pylint, sphinx-build

bug: fix dem and geoid input paths
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: update Python notebooks with the elevation API
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

refactor: setup initial elevation in a dedicated function
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: move default altitude to initial elevation
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: move default alt to initial_elevation in test config
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint

refactor: add a test case with different geoids in input and output
  tests/data/input/geoid/egm96_15_modified.tif
  tests/data/input/phr_ventoux/input_custom_geoid.json
  tests/data/input/phr_ventoux/input_without_color.json
  tests/data/ref_output/clr_end2end_ventoux_egm96_custom_geoid.tif
  tests/data/ref_output/dsm_end2end_ventoux_egm96_custom_geoid.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

bug: fix altitude key in test_resampling config
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

doc: update usage documentation after elevation parameters refactoring
  docs/source/usage.rst
Due: sphinx-build

ajout CI github
  .github/workflows/cars-ci.yml
  README.md
  setup.cfg
  tests/orchestrator/cluster/test_cluster_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint

doc: add pleiades tutorial
  docs/source/howto.rst
  docs/source/images/cars_pipeline_sensor_to_pc.png
Due: sphinx-build

fix: add windows compatible lock
  cars/core/cars_logging.py
Due: isort, black, flake8, pylint, sphinx-build

feat: upgrade shareloc
  setup.cfg
Due: none

fix: spawn multiprocessing if IS_WIN
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: use cpu_count if IS_WIN
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add docstrings
  cars/core/cars_logging.py
Due: isort, black, flake8, pylint, sphinx-build

fix: avoid PermissionError
  cars/core/cars_logging.py
Due: isort, black, flake8, pylint, sphinx-build

fix: replace symbol by degrees
  cars/applications/grid_generation/epipolar_grid_generation.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
