Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

docs: add docstring to fix sonarqube
  cars/orchestrator/cluster/log_wrapper.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: cleaned up corresponding tiles tools file
  cars/data_structures/corresponding_tiles_tools.py
Due: isort, black, flake8, pylint, sphinx-build

test: removed plane method from tests
  tests/data_structure/test_corresponding_tiles.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint

docs: removed plane method from docs
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dense_match_filling.yaml
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: removed hole detection and dense match filling.plane methods
  cars/applications/__init__.py
  cars/applications/dense_match_filling/__init__.py
  cars/applications/dense_match_filling/abstract_dense_match_filling_app.py
  cars/applications/dense_match_filling/cpp/__init__.py
  cars/applications/dense_match_filling/cpp/dense_match_filling_cpp.py
  cars/applications/dense_match_filling/cpp/includes/dense_match_filling.hpp
  cars/applications/dense_match_filling/cpp/meson.build
  cars/applications/dense_match_filling/cpp/src/bindings.cpp
  cars/applications/dense_match_filling/cpp/src/dense_match_filling.cpp
  cars/applications/dense_match_filling/fill_disp_algo.py
  cars/applications/dense_match_filling/fill_disp_wrappers.py
  cars/applications/dense_match_filling/plane_app.py
  cars/applications/hole_detection/__init__.py
  cars/applications/hole_detection/abstract_hole_detection_app.py
  cars/applications/hole_detection/cloud_to_bbox_app.py
  cars/applications/hole_detection/hole_detection_algo.py
  cars/applications/hole_detection/hole_detection_wrappers.py
  cars/pipelines/unit/unit_pipeline.py
  meson.build
  tests/applications/dense_matching_filling/test_dense_matching_filling_config.py
Due: isort, black, flake8, pylint, sphinx-build

lint: fixed the disable comment
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

docs: removed hole detection mention, merged general and specific method conf tables
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

docs: Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: delete pandora sparse file
  cars/applications/sparse_matching/pandora_sparse_matching_app.py
Due: isort, black, flake8, pylint, sphinx-build

test(ref): updated refs 2
  tests/data/ref_output/ambiguity_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/classif_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/clr_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/filling_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/msk_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split_no_merging.tif
Due: none

tests: increase tolerance for test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

test: skip ventoux_unique test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: fix doc
  cars/pipelines/unit/unit_pipeline.py
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_sparse_matching.yaml
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: remove skip
  tests/test_end2end.py
Due: isort, black, flake8, pylint

ci: use long timeout for end2end cars tests
  .gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

docs: fix links
  CONTRIBUTING.md
Due: none

fix: exception in worker
  cars/core/cars_logging.py
Due: isort, black, flake8, pylint, sphinx-build

fix: delete some files
  cars/core/create_mask
  cars/core/work/CAMPUS/etudes/3D/Development/calendt/cars/test1/nan_propagation.py
Due: isort, black, flake8, pylint, sphinx-build

fix: put upper case
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/grid_generation/grid_generation_algo.py
  cars/applications/resampling/resampling_wrappers.py
  cars/applications/sparse_matching/sparse_matching_wrappers.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/projection.py
  cars/core/tiling.py
  cars/data_structures/format_transformation.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change profiling
  cars/orchestrator/cluster/log_wrapper.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add profiling
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/grid_generation/grid_generation_algo.py
  cars/applications/point_cloud_outlier_removal/small_components_app.py
  cars/applications/resampling/resampling_wrappers.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/core/create_mask
  cars/core/geometry/abstract_geometry.py
  cars/core/preprocessing.py
  cars/core/projection.py
  cars/core/tiling.py
  cars/core/work/CAMPUS/etudes/3D/Development/calendt/cars/test1/nan_propagation.py
  cars/data_structures/format_transformation.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add epsg in texture
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change the way of defining the epsg in texture
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: scale of epi step for big images
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

bug: offset geoid height when if output DSM has a vertical CRS before performing localization using ellipsoid altitudes in auxiliary filling
  cars/applications/auxiliary_filling/abstract_auxiliary_filling_app.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: update test and reference after auxiliary filling bug fixes
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
  tests/data/input/classification_end2end_paca_aux_filling_0.tif
  tests/data/input/classification_end2end_paca_aux_filling_1.tif
  tests/data/input/classification_end2end_paca_aux_filling_2.tif
  tests/data/input/color_end2end_paca_aux_filling_0.tif
  tests/data/input/color_end2end_paca_aux_filling_1.tif
  tests/data/input/color_end2end_paca_aux_filling_2.tif
Due: isort, black, flake8, pylint

test: copy auxiliary filling test output to intermediate_data
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
Due: isort, black, flake8, pylint

test: update reference for auxiliary filling test
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
Due: none

ci: export intermediate data dir as artifacts in unit test job
  .gitlab-ci.yml
Due: none

bug: use linspace in row/col space instead of arange in carto crs space to generate coordinate grid
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
Due: isort, black, flake8, pylint, sphinx-build

ref1: change ref
  tests/data/ref_output/colorisation_end2end_gizeh_reentrance.tif
Due: none

test: update reference for auxiliary filling test
  tests/data/input/color_end2end_paca_aux_filling_1.tif
Due: none

Revert "test: update reference for auxiliary filling test"
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
Due: none

ref2:change ref
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/color_end2end_ventoux_split_4326.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_4326.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split_4326.tif
Due: none

add quick fix for memory usage
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add option when lat is under -80 or over 84°
  cars/core/preprocessing.py
Due: isort, black, flake8, pylint, sphinx-build

fix: put >=
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build
