Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: fix in doc
  docs/source/configuration/output/configuration.rst
Due: sphinx-build

fix: remove print
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in texture bands
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for list option in classif mode
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

fix: ignore warnings
  cars/applications/dsm_filling/border_interpolation_app.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
  cars/applications/dsm_filling/exogenous_filling_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: refacto loaders
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/parameters/sensor_loaders/basic_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/basic_image_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_image_loader.py
  cars/pipelines/parameters/sensor_loaders/slurp_classif_loader.py
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  tests/data/input/phr_paca/input.json
  tests/data/input/phr_ventoux/input_with_color.json
  tests/data/input/phr_ventoux/input_with_color_and_classif.json
  tests/pipelines/test_sensors_inputs.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: fix
  cars/pipelines/unit/unit_pipeline.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

docs: docs refacto
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
  docs/source/example_configs/configuration/classif_basic_loader_config.yaml
  docs/source/example_configs/configuration/classif_pivot_loader_config.yaml
  docs/source/example_configs/configuration/full_config.yaml
  docs/source/example_configs/configuration/image_pivot_loader_config.yaml
  docs/source/example_configs/configuration/mask_full_config.yaml
Due: sphinx-build

test:change ref
  tests/data/ref_output/classif_end2end_ventoux_lr.tif
  tests/data/ref_output/classif_end2end_ventoux_lr_overview.png
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_overview.png
  tests/data/ref_output/classification_end2end_ventoux_fusion.tif
  tests/data/ref_output/classification_end2end_ventoux_fusion_overview.png
  tests/data/ref_output/classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/classification_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/classification_end2end_ventoux_with_classif.tif
  tests/data/ref_output/classification_end2end_ventoux_with_classif_overview.png
  tests/data/ref_output/filling_end2end_gizeh_fill_with_zero.tif
  tests/data/ref_output/filling_end2end_gizeh_fill_with_zero_overview.png
Due: none

fix rebase
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: change band names to band ids in filling apps
  docs/source/configuration/applications/dense_match_filling.rst
  docs/source/configuration/applications/dsm_filling.rst
  docs/source/example_configs/configuration/applications_dense_match_filling.yaml
  docs/source/example_configs/configuration/applications_dsm_filling_1.yaml
  docs/source/example_configs/configuration/applications_dsm_filling_2.yaml
  docs/source/example_configs/configuration/applications_dsm_filling_3.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dense_match_filling.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_2.yaml
Due: sphinx-build

docs: fix example config for pivot image
  docs/source/example_configs/configuration/image_pivot_loader_config.yaml
Due: sphinx-build

feat: robustify dem generation without bulldozer, overide parameter caused by sharedmemory
  Dockerfile
  cars/applications/dem_generation/__init__.py
  cars/applications/dem_generation/bulldozer_dem_app.py
  cars/applications/dem_generation/bulldozer_memory.py
  cars/applications/dem_generation/dem_generation_algo.py
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dem_generation/dichotomic_generation_app.py
  cars/applications/dsm_filling/border_interpolation_app.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
  cars/applications/dsm_filling/exogenous_filling_app.py
  docs/source/configuration/applications/dem_generation.rst
  tests/data/ref_output/dem_max_end2end_ventoux_8bit.tif
  tests/data/ref_output/dem_max_end2end_ventoux_8bit_overview.png
  tests/data/ref_output/dem_min_end2end_ventoux_8bit.tif
  tests/data/ref_output/dem_min_end2end_ventoux_8bit_overview.png
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change epipolar error maximum bias from 150 to 50
  cars/applications/sparse_matching/sift_app.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update pandora 1.7.2
  ci/cars-deps-env/Dockerfile
  pyproject.toml
Due: none

docs: edit param in docs and add png for tests
  docs/source/configuration/applications/sparse_matching.rst
  docs/source/example_configs/configuration/full_config.yaml
  tests/data/ref_output/classif_end2end_ventoux_lr_overview.png
  tests/data/ref_output/classification_end2end_paca_aux_filling_overview.png
  tests/data/ref_output/classification_end2end_ventoux_fusion_overview.png
  tests/data/ref_output/classification_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/classification_end2end_ventoux_with_classif_overview.png
  tests/data/ref_output/color_end2end_gizeh_fill_with_zero_overview.png
  tests/data/ref_output/color_end2end_paca_aux_filling_overview.png
  tests/data/ref_output/color_end2end_paca_matches_filling_overview.png
  tests/data/ref_output/color_end2end_ventoux_fusion_overview.png
  tests/data/ref_output/color_end2end_ventoux_lr_overview.png
  tests/data/ref_output/color_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/contributing_pair_end2end_ventoux_fusion_overview.png
  tests/data/ref_output/contributing_pair_end2end_ventoux_lr_overview.png
  tests/data/ref_output/contributing_pair_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/dem_max_end2end_ventoux_8bit_overview.png
  tests/data/ref_output/dem_median_end2end_ventoux_8bit_overview.png
  tests/data/ref_output/dem_min_end2end_ventoux_8bit_overview.png
  tests/data/ref_output/dsm_end2end_gizeh_fill_with_zero_overview.png
  tests/data/ref_output/dsm_end2end_paca_border_interpolation_overview.png
  tests/data/ref_output/dsm_end2end_paca_bulldozer_overview.png
  tests/data/ref_output/dsm_end2end_paca_matches_filling_overview.png
  tests/data/ref_output/dsm_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/dsm_end2end_ventoux_with_classif_overview.png
  tests/data/ref_output/dsm_inf_end2end_ventoux_lr_overview.png
  tests/data/ref_output/epi_pc_X_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/epi_pc_Y_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/epi_pc_Z_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/epi_pc_classification_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/filling_end2end_gizeh_fill_with_zero_overview.png
  tests/data/ref_output/filling_end2end_ventoux_no_elevation_overview.png
  tests/data/ref_output/performance_map_end2end_ventoux_fusion_overview.png
  tests/data/ref_output/performance_map_end2end_ventoux_lr_overview.png
  tests/data/ref_output/phased_dsm_end2end_ventoux_fusion_overview.png
  tests/data/ref_output/phased_dsm_end2end_ventoux_lr_overview.png
  tests/data/ref_output/weights_end2end_ventoux_fusion_overview.png
  tests/data/ref_output/weights_end2end_ventoux_lr_overview.png
  tests/data/ref_output/weights_end2end_ventoux_no_elevation_overview.png
Due: sphinx-build

fix: remove mask from merge_dsm_infos signature and use contributing_pair instead of source_pc as key
  cars/core/constants.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: fix dtm -> dem
  docs/source/configuration/input/running_cars_with_sensors_as_input.rst
Due: sphinx-build

fix: cars-starter inputs
  cars/starter.py
Due: isort, black, flake8, pylint, sphinx-build

feat: shareloc to 0.2.11
  pyproject.toml
Due: none

doc: update changelog
  CHANGELOG.md
Due: none

doc: update changelog with bugfix versions
  CHANGELOG.md
Due: none

doc: fix typos
  CHANGELOG.md
Due: none

ci: launch end2end tests on pyproject changes
  .gitlab-ci.yml
Due: none

ci: add jobs to build and test cars docker
  .gitlab-ci.yml
  Dockerfile
  ci/cars-docker-build.yml
  pyproject.toml
Due: none

ci: use sonarqube gitlab-ci component instead of sonarqube template, which is not compatible with sonar-scanner 7.1
  .gitlab-ci.yml
Due: none

ci: switch back to cars-ci master branch
  .gitlab-ci.yml
Due: none

quality: force black to version 25 as 26a1 breaks lint job
  pyproject.toml
Due: none

Init refacto pipeline
  tests/pipelines/edge_detection/__init__.py
  tests/pipelines/edge_detection/test_pipeline.py
  tests/pipelines/filling/__init__.py
  tests/pipelines/filling/test_pipeline.py
  tests/pipelines/formatting/__init__.py
  tests/pipelines/formatting/test_pipeline.py
  tests/pipelines/merging/__init__.py
  tests/pipelines/merging/test_pipeline.py
  tests/pipelines/surface_modeling/__init__.py
  tests/pipelines/surface_modeling/test_pipeline.py
  tests/pipelines/tie_points/__init__.py
  tests/pipelines/tie_points/test_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: deactivate test_notebooks
  tests/test_notebooks.py
Due: isort, black, flake8, pylint

fix: put initial_elevation in generate disparity grids
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

bundle: fix in bundle adjustement
  cars/bundleadjustment.py
Due: isort, black, flake8, pylint, sphinx-build

feat: put advanced and applications in subsampling
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/pipeline_constants.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/subsampling/subsampling.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix with savings
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

rebase and fix
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/subsampling/subsampling.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add subsampling pipeline
  cars/applications/sensors_subsampling/__init__.py
  cars/applications/sensors_subsampling/abstract_subsampling_app.py
  cars/applications/sensors_subsampling/rasterio_subsampling_app.py
  cars/applications/sensors_subsampling/subsampling_algo.py
  cars/pipelines/subsampling/__init__.py
  cars/pipelines/subsampling/subsampling.py
Due: isort, black, flake8, pylint, sphinx-build
