Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: rebase
  docs/source/user_guide/configuration.rst
Due: sphinx-build

fix: dask absolute path
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: parallelize tile correspondance
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/conf_pipeline/sensor_to_pc.json
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: rebase
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  docs/source/user_guide/configuration.rst
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: the data produced by the test overwrites the reference
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: rename pipeline names
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/preprocessing.py
  cars/pipelines/__init__.py
  cars/pipelines/conf_pipeline/sensor_to_dense_dsm.json
  cars/pipelines/conf_pipeline/sensor_to_sparse_dsm.json
  cars/pipelines/point_clouds_to_dsm/__init__.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/__init__.py
  cars/pipelines/sensor_to_dense_dsm/dsm_output.py
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/__init__.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/data/ref_output/dsm_end2end_ventoux_split.tif.aux.xml
  tests/helpers.py
  tests/test_end2end.py
  tests/test_notebooks.py
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

fix: bug fiona<1.9
  cars/core/outputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add valid + new api
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: replace rasterization by cars-rasterize (without masks)
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

fix: sonarqube
  sonar-project.properties
Due: none

feat: deactivate by default point cloud removing
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: all tests are correct
  cars/applications/rasterization/rasterization_tools.py
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add input image preparation tutorial
  docs/source/faq.rst
  docs/source/user_guide/input_image_preparation.rst
Due: sphinx-build

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: add cars-rasterize (setup.cfg)
  setup.cfg
Due: none

fix: infinite tile size when unused
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
Due: isort, black, flake8, pylint, sphinx-build

doc: warn developer about custom parallelisation
  cars/applications/point_cloud_fusion/pc_tif_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: mp mode now available for dense matches filing
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/holes_detection/holes_detection_tools.py
  cars/orchestrator/cluster/mp_tools.py
  cars/orchestrator/cluster/mp_wrapper.py
  cars/orchestrator/cluster/multiprocessing_cluster.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: clean cluster repo tree
  cars/orchestrator/cluster/mp_cluster/__init__.py
  cars/orchestrator/cluster/mp_cluster/mp_factorizer.py
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/mp_tools.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

feat: forbid bad usage of sensor to dense dsm pipeline
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refac: replace otbapp by compute_matches python
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

refac: remove cxx/hxx/h + update install
  Dockerfile.deps
  Makefile
  cars/applications/sparse_matching/sparse_matching_tools.py
  otb_remote_module/CMakeLists.txt
  otb_remote_module/app/CMakeLists.txt
  otb_remote_module/app/otbEpipolarSparseMatching.cxx
  otb_remote_module/include/otbVlfeatSiftImageFilter.h
  otb_remote_module/include/otbVlfeatSiftImageFilter.hxx
  setup.cfg
  setup.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add docstring
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: return empty matches if length of frames < 2
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: pixel convention
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

docs: forget type
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: support all confidence suffix
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_constants.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/core/constants_disparity.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/conf_pipeline/sensor_to_sparse_dsm.json
  docs/source/user_guide/configuration.rst
  tests/data/ref_output/confidence_from_ambiguity_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp1_sec_pandora_msk_sec.nc
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_sec_pandora.nc
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

doc: refresh time mp mode
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: confidence consistency
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/data/ref_output/confidence_from_ambiguity_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp1_sec_pandora_msk_sec.nc
Due: isort, black, flake8, pylint, sphinx-build

feat: rename dog to peak threshold
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/externals/otb_pipelines.py
  docs/source/user_guide/configuration.rst
  tests/data/input/notebooks_input/content_dir/content.json
  tests/data/input/notebooks_input/lowres_dem/content.json
Due: isort, black, flake8, pylint, sphinx-build

feat: generate performace map
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/dense_matching/loaders/config_census_sgm.json
  cars/applications/dense_matching/loaders/config_mccnn.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  docs/source/user_guide/configuration.rst
  tests/applications/dense_matching/test_pandora_loader.py
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add threshold
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update wiht confidence fix
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
Due: none

doc: change size of images
  docs/source/user_guide/configuration.rst
Due: sphinx-build

doc: update
  docs/source/user_guide/configuration.rst
Due: sphinx-build

fea: precision about pipeline name crash
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: update package (docker image)
  Dockerfile.deps
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
