Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

docs: add documentation for geomodel as string
  docs/source/user_guide/configuration.rst
  docs/source/user_guide/plugins.rst
Due: sphinx-build

feat: remove @ character for file options
  cars/cars.py
Due: isort, black, flake8, pylint, sphinx-build

feat: starter first version
  cars/starter.py
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

feat: move import for performance reasons
  cars/starter.py
Due: isort, black, flake8, pylint, sphinx-build

fix: clean args.conf condition
  cars/cars.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove CarsArgumentParser import
  tests/test_cars.py
Due: isort, black, flake8, pylint

feat: add dense_point_clouds_to_dense_dsm pipeline
  cars/starter.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add cars-starter usage
  docs/source/user_guide/cli.rst
Due: sphinx-build

doc: update dev guide cluster mp
  docs/source/developer_guide/design/cluster_mp.rst
Due: sphinx-build

fix: docker
  Dockerfile.deps
Due: none

feat: change default value of nodata from -9999 to 0 and adapt tests and doc
  README.md
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  docs/source/getting_started.rst
  docs/source/user_guide/configuration.rst
  tests/data/input/data_gizeh_crop/configfile_crop.json
  tests/data/input/phr_gizeh/input_msk_fill.json
  tests/data/input/phr_paca/input.json
  tests/data/input/phr_ventoux/input.json
  tests/data/input/phr_ventoux/input_bias.json
  tests/data/input/phr_ventoux/input_shareloc.json
  tests/data/input/phr_ventoux/input_with_classif.json
  tests/data/input/phr_ventoux/input_with_color.json
  tests/data/input/phr_ventoux/input_without_color.json
  tests/data/input/test_application/configfile.json
Due: isort, black, flake8, pylint, sphinx-build

remove no_data:0 in tutrials
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: version
  Dockerfile.deps
Due: none

fix: move creation of used_conf.json from init to run of pipelines
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: replace copy by deepcopy to avoid used_conf dict to be edited
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: auto version for dev docker ubuntu packages
  Dockerfile.deps
Due: none

feat: method application param become optional + check conf error log
  cars/applications/application_template.py
  cars/applications/dense_matches_filling/__init__.py
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/grid_generation/grid_generation.py
  cars/applications/holes_detection/holes_detection.py
  cars/applications/point_cloud_fusion/point_cloud_fusion.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/resampling/resampling.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/triangulation/triangulation.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add debug mode with roi to compute only tiles needed for roi but without changing tiling
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/core/preprocessing.py
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: support of MultiPolygon for ROI
  cars/core/roi_tools.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: debug_with_roi parameter and multipolygon feature added in docs
  docs/source/user_guide/configuration.rst
Due: sphinx-build

tests: add multipolygon resampling test
  tests/core/test_roi_tools.py
Due: isort, black, flake8, pylint

chore: Update NOTICE
  NOTICE
Due: none

feat: generate dtm
  tests/applications/triangulation/test_triangulation_tools.py
Due: isort, black, flake8, pylint

fix: sonarqube
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: rename dem
  cars/applications/__init__.py
  cars/applications/dem_generation/__init__.py
  cars/applications/dem_generation/dem_generation.py
  cars/applications/dem_generation/dem_generation_constants.py
  cars/applications/dem_generation/dem_generation_tools.py
  cars/applications/dem_generation/dichotimic_generation.py
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: rename
  cars/applications/dem_generation/__init__.py
  cars/applications/dem_generation/dem_generation.py
  cars/applications/dem_generation/dichotomic_generation.py
  cars/orchestrator/registry/saver_registry.py
  tests/data/ref_output/dem_max_end2end_ventoux.tif
  tests/data/ref_output/dem_max_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dem_mean_end2end_ventoux.tif
  tests/data/ref_output/dem_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dem_min_end2end_ventoux.tif
  tests/data/ref_output/dem_min_end2end_ventoux_quality_stats.tif
  tests/test_end2end.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: merge tar.gz tutorial
  tutorials/data_gizeh_small.tar.bz2
Due: none

fix: typo
  cars/applications/dem_generation/__init__.py
  cars/orchestrator/registry/saver_registry.py
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: add test-ci-otb-free target Makefile to run test without OTB, clean pytest markers, rename otb specific tests for makefile target
  Makefile
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/core/geometry/test_otb_geometry.py
Due: isort, black, flake8, pylint

fix: remove old preproc_*.json for ventoux in end2end test, not used but fail CI
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: remove get_time_ground_direction and linked functions and tests, not used anymore
  cars/core/projection.py
  tests/core/test_projection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: update get_geometry_plugin default test function to align with cars (otb if available, shareloc otherwise) and update tests accordingly
  tests/applications/grid_generation/test_grids.py
  tests/applications/resampling/test_resampling.py
  tests/core/test_projection.py
  tests/core/test_tiling.py
  tests/helpers.py
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint

fix: update tests data for shareloc, initial_elevation with a file, clean some unused data
  tests/data/input/data_gizeh_crop/configfile_crop.json
  tests/data/input/phr_gizeh/input_msk_fill.json
  tests/data/input/phr_paca/input.json
  tests/data/input/phr_reunion/input.json
  tests/data/input/phr_reunion/preproc_input.json
  tests/data/input/phr_reunion/srtm/srtm_reunion.vrt
  tests/data/input/phr_ventoux/input_bias.json
  tests/data/input/phr_ventoux/input_with_classif.json
  tests/data/input/phr_ventoux/input_with_color.json
  tests/data/input/phr_ventoux/input_without_color.json
  tests/data/input/phr_ventoux/preproc_input.json
  tests/data/input/phr_ventoux/preproc_input_bias.json
  tests/data/input/phr_ventoux/preproc_input_with_classif.json
  tests/data/input/phr_ventoux/preproc_input_with_color.json
  tests/data/input/phr_ventoux/preproc_input_without_color.json
Due: none

fix: update srtm with a file for shareloc to work in test_projection test_ground_intersection_envelopes
  tests/core/test_projection.py
Due: isort, black, flake8, pylint

fix: update test_grids test to work with shareloc and OTB
  cars/core/geometry/shareloc_geometry.py
  tests/applications/grid_generation/test_grids.py
  tests/data/input/test_application/configfile.json
  tests/data/input/test_application/grid_generation_gizeh_ROI_color
  tests/data/input/test_application/grid_generation_gizeh_ROI_color.json
  tests/data/input/test_application/grid_generation_gizeh_ROI_color.pickle
  tests/data/input/test_application/grid_generation_gizeh_ROI_no_color
  tests/data/input/test_application/grid_generation_gizeh_ROI_no_color.json
  tests/data/input/test_application/grid_generation_gizeh_ROI_no_color.pickle
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_color_otb
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_color_shareloc
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_no_color_otb
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_no_color_shareloc
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove initial_elevation in sensor_to_dense_dsm_matching_methods_comparison notebook to work with shareloc, and be coherent with other notebooks
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
Due: jupyter-nb-clear-output
