Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: fix for pylint again
  cars/applications/resampling/resampling_algo.py
  tests/applications/grid_generation/test_grids.py
Due: isort, black, flake8, pylint, sphinx-build

refacto: refacto cars meta pipeline
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/rasterization/simple_gaussian_app.py
  cars/applications/resampling/resampling_algo.py
  cars/applications/sparse_matching/sift_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/projection.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/sequential_cluster.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/default/unit_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/pipeline_template.py
  tests/test_cars.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for circular import
  cars/pipelines/default/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix with names
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/grid_generation/transform_grid.py
  cars/pipelines/default/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change import order
  cars/applications/dem_generation/rasterization_app.py
  tests/applications/grid_generation/test_grids.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in unit pipeline
  cars/pipelines/default/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: reformat dense_matching_wrappers
  cars/applications/dense_matching/dense_matching_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for pylint
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix again for pylint
  cars/applications/dem_generation/dem_generation_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for pylint
  cars/applications/dem_generation/dem_generation_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: adapt notebook to new interface
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

fix: last fix for pylint
  cars/applications/dem_generation/dem_generation_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: delete pandora sparse
  cars/applications/sparse_matching/__init__.py
  cars/applications/sparse_matching/pandora_sparse_matching_app.py
  cars/applications/sparse_matching/sparse_matching_algo.py
  cars/applications/sparse_matching/sparse_matching_wrappers.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/default/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: final changes
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/point_cloud_outlier_removal/outlier_removal_algo.py
  cars/applications/point_cloud_outlier_removal/small_components_app.py
  cars/core/constants.py
  cars/pipelines/conf_resolution/conf_final_resolution.json
  cars/pipelines/conf_resolution/conf_first_resolution.json
  cars/pipelines/conf_resolution/conf_intermediate_resolution.json
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/default/unit_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/pipeline_template.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

tests: fix in test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

test: other modif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

test: fix test_end2end
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: normally final changes
  cars/applications/grid_generation/transform_grid.py
  cars/bundleadjustment.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in notebook
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
Due: jupyter-nb-clear-output

test: fix in test_pipeline_template
  tests/pipelines/test_pipeline_template.py
Due: isort, black, flake8, pylint

notebook: fix in notebook
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

feat: small fix
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/resampling/resampling_algo.py
  cars/cars.py
  cars/pipelines/default/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in meta pipeline
  cars/applications/resampling/resampling_algo.py
  cars/cars.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/default/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

rebase: rebase
  cars/applications/grid_generation/transform_grid.py
  cars/applications/resampling/resampling_algo.py
  cars/pipelines/default/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: modify unit test
  cars/bundleadjustment.py
  cars/pipelines/default/default_pipeline.py
  tests/applications/grid_generation/test_grids.py
  tests/data/ref_output/cloud1_ref_pandora
Due: isort, black, flake8, pylint, sphinx-build

notebook: change notebook
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

pylint: fix in test
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

notebook: fix in notebook
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
Due: jupyter-nb-clear-output

fix: small diff
  cars/applications/resampling/resampling_algo.py
  cars/pipelines/default/default_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update tag
  .gitlab-ci.yml
Due: none

fix: fix for sonarqube
  sonar-project.properties
Due: none

fix: fix in resampling for sonarqube
  cars/applications/resampling/resampling_algo.py
  sonar-project.properties
Due: isort, black, flake8, pylint, sphinx-build

fix: forgot somethinf
  cars/applications/resampling/resampling_algo.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove print
  cars/applications/resampling/resampling_algo.py
Due: isort, black, flake8, pylint, sphinx-build

fix: little fix for review
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/unit/__init__.py
  cars/pipelines/unit/unit_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build
