Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: added dynamic apps for point cloud outlier removal
  cars/pipelines/parameters/application_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: renamed sparse_matching.sift to sparse_matching
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: removed activated from pc outlier removal and dsm filling applications
  cars/applications/dsm_filling/border_interpolation_app.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
  cars/applications/dsm_filling/exogenous_filling_app.py
  cars/applications/point_cloud_outlier_removal/small_components_app.py
  cars/applications/point_cloud_outlier_removal/statistical_app.py
  cars/pipelines/parameters/application_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: removed activated param
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: changed error to warning in bulldozer filling
  cars/applications/dsm_filling/bulldozer_filling_app.py
Due: isort, black, flake8, pylint, sphinx-build

docs: removed activated for dynamic apps
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_1.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_2.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_3.yaml
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

test: fixed test config creation, updated refs
  tests/test_end2end.py
Due: isort, black, flake8, pylint

docs: remove geom from README
  README.md
Due: none

fix: update global used conf and current ref conf for resolution 1
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for ci
  .gitlab-ci.yml
Due: none

feat: add pytest-check
  pyproject.toml
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: add pytest-check in assert image directly
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: fix in test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: disable pylint
  tests/helpers.py
Due: isort, black, flake8, pylint

feat: added north convention to sensor images opening
  cars/applications/dense_matching/disparity_grid_algo.py
  cars/applications/resampling/resampling_algo.py
  cars/core/datasets.py
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

bug: ensure that dem min is higher that dem max on filled pixels in dem generation
  cars/applications/dem_generation/rasterization.py
Due: isort, black, flake8, pylint, sphinx-build

Apply 1 suggestion(s) to 1 file(s)
  cars/applications/dem_generation/rasterization.py
Due: isort, black, flake8, pylint, sphinx-build

fix: robustify rasterio_get_values for when dem tile does not cover window
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

ci: adapt gitlab ci for release 0.12.2
  .gitlab-ci.yml
Due: none

release: update changelog for cars 0.12.2
  CHANGELOG.md
Due: none

feat: delete point cloud denoising
  cars/applications/__init__.py
  cars/applications/point_cloud_denoising/__init__.py
  cars/applications/point_cloud_denoising/abstract_pc_denoising_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

bug: ensure that dem min is higher that dem max on filled pixels in dem generation
  cars/applications/dem_generation/rasterization_app.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in unit pipeline
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: put logging.info instead of logging.error
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add zeros padding nodata
  cars/applications/dense_match_filling/fill_disp_algo.py
  cars/applications/dense_match_filling/zero_padding_app.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

ci: update test references
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
Due: none

tests: prevent end-to-end tests from running when they are not affected
  .gitlab-ci.yml
Due: none

test: update test references
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/color_end2end_ventoux_split_4326.tif
  tests/data/ref_output/colorisation_end2end_gizeh_reentrance.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_4326.tif
Due: none

fix: classification for pandora
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/pipelines/unit/unit_pipeline.py
  tests/data/ref_output/classification_end2end_ventoux_with_classif.tif
  tests/data/ref_output/dsm_end2end_ventoux_with_classif.tif
  tests/test_end2end.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

docs: add new logos
  docs/source/images/cars_favicon.svg
  docs/source/images/cars_picto.png
  docs/source/images/cars_picto.svg
  docs/source/images/logo_co3D_cnes.png
Due: sphinx-build

feat: upgrade shareloc to 0.2.10
  pyproject.toml
Due: none

docs: update README
  README.md
  docs/source/conf.py
  docs/source/images/favicon.ico
  docs/source/images/logo_co3D_cnes.jpg
  docs/source/images/picto_dark.png
  docs/source/images/picto_light.png
Due: isort, black, flake8, pylint, sphinx-build

fix: properly handle sensor nodata for stereo matching
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/resampling/resampling_algo.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: replace nodata only when nodata is not None
  cars/applications/resampling/resampling_algo.py
Due: isort, black, flake8, pylint, sphinx-build

test: pass nodatas to get_config
  tests/helpers.py
Due: isort, black, flake8, pylint

notebook: fixed loader check calls
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

fix: dev dependency
  pyproject.toml
Due: none

feat: add a sensor loader specific to classification with a filling dictionary
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/__init__.py
  cars/pipelines/parameters/sensor_loaders/basic_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/basic_image_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_classif_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_image_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader_template.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
