Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: update some OTB end2end tests reference to work
  tests/data/ref_output/classif_end2end_ventoux_with_classif.tif
  tests/data/ref_output/dsm_end2end_ventoux_with_color.tif
Due: none

fix: ref test values in get_min_max_band differ after 10e-9, use np.allclose to be more robust
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
Due: isort, black, flake8, pylint

fix: update some end2end data values with python3.8 and rasterio same version
  tests/data/ref_output/shareloc/confidence_from_intensity_std_before_end2end_ventoux.tif
  tests/data/ref_output/shareloc/confidence_from_intensity_std_end2end_ventoux.tif
  tests/data/ref_output/shareloc/dem_max_end2end_ventoux.tif
  tests/data/ref_output/shareloc/dem_max_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dem_mean_end2end_ventoux.tif
  tests/data/ref_output/shareloc/dem_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/dem_min_end2end_ventoux.tif
  tests/data/ref_output/shareloc/dem_min_end2end_ventoux_quality_stats.tif
Due: none

fix: manage 8 bits data (sift parameter)
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/inputs.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  docs/source/user_guide/configuration.rst
  tests/data/input/phr_ventoux/input_8bits.json
  tests/data/input/phr_ventoux/left_image_8bits.geom
  tests/data/input/phr_ventoux/left_image_8bits.tif
  tests/data/input/phr_ventoux/right_image_8bits.geom
  tests/data/input/phr_ventoux/right_image_8bits.tif
  tests/data/ref_output/dsm_end2end_ventoux_8bits.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: update doctype end2end tests
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: update pytest markers to unit tests for pc_tif_tools tests
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
Due: isort, black, flake8, pylint

fix: black typos in tests evolution
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint

refacto: output of resampling is not used in input of triangulation anymore
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_constants.py
  cars/applications/triangulation/triangulation_tools.py
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add factorisation of delayed for mp cluster
  cars/orchestrator/cluster/mp_cluster/mp_factorizer.py
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/mp_tools.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add docstrings, update configuration in docs, refacto FactorizedObject
  cars/applications/dense_matching/dense_matching_tools.py
  cars/orchestrator/cluster/mp_cluster/mp_factorizer.py
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/mp_tools.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

tests: add one unitary test that factorize two consecutive tasks
  tests/orchestrator/cluster/test_cluster.py
Due: isort, black, flake8, pylint

fix: specify file instead of directory for srtm
  tests/data/input/phr_ventoux/input_8bits.json
Due: none

fix: add ref for end2end test with shareloc
  tests/data/ref_output/shareloc/dsm_end2end_ventoux_8bits.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: add default_elevation for plugin without dem
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: multipoints direct loc
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/otb_geometry.py
  cars/core/projection.py
  docs/source/developer_guide/design/plugin.rst
  otb_remote_module/app/CMakeLists.txt
  otb_remote_module/app/otbConvertSensorToGeoMultiPointFast.cxx
  otb_remote_module/app/otbConvertSensorToGeoPointFast.cxx
  tests/core/geometry/test_otb_geometry.py
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: test_generate_epipolar_grids_otb
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/otb_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/projection.py
  tests/core/geometry/test_otb_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
  tests/data/input/phr_paca/srtm/N43E007.omd
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: update shareloc multiloc test
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint

feat: double precsion for direct loc output
  cars/core/geometry/otb_geometry.py
  otb_remote_module/app/otbConvertSensorToGeoMultiPointFast.cxx
  tests/core/geometry/test_otb_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add documentation on factorization to Cluster Multiprocessing section
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  docs/source/developer_guide/design/cluster_mp.rst
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add params for matches filtering in input config
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add two params in user_guide/configuration
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: change mean and std into median and iqr to compute threshold of SIFT outliers
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove huge outliers before computing mean and std to filter sifts
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

tests: add test for statistical filtering with median
  tests/applications/point_cloud_outliers_removing/test_outliers_removing.py
Due: isort, black, flake8, pylint

doc: update changelog
  CHANGELOG.md
Due: none

docs: typo
  CHANGELOG.md
Due: none

docs: changelog completion
  CHANGELOG.md
Due: none

fix: downgrade pylint and astroid for sphinx to work
  setup.cfg
Due: none

feat: save mask after triangulation and process it through rasterisation
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add SLURM config parameters
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/slurm_dask_cluster.py
  docs/source/user_guide/configuration.rst
  tests/orchestrator/cluster/test_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: use importlib instead deprecated pkg_ressource
  cars/__init__.py
  cars/applications/dense_matching/dense_matching_tools.py
  docs/source/conf.py
Due: isort, black, flake8, pylint, sphinx-build

tests: add mask to end2end test split
  tests/data/input/phr_ventoux/input_with_classif_and_mask.json
  tests/data/input/phr_ventoux/left_mask.tif
  tests/data/input/phr_ventoux/right_mask.tif
  tests/data/ref_output/classif_end2end_ventoux_split.tif
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/filling_end2end_ventoux_split.tif
  tests/data/ref_output/msk_end2end_ventoux_split.tif
  tests/data/ref_output/shareloc/classif_end2end_ventoux_split.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_split.tif
  tests/data/ref_output/shareloc/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/shareloc/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/shareloc/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/shareloc/filling_end2end_ventoux_split.tif
  tests/data/ref_output/shareloc/msk_end2end_ventoux_split.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: fix used_conf and rename msk to mask
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/constants.py
  docs/source/user_guide/configuration.rst
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/data/input/rasterization_input/ref_single_cloud_in_df.nc
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix used_conf and rename msk to mask
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/constants.py
  docs/source/user_guide/configuration.rst
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/data/input/rasterization_input/ref_single_cloud_in_df.nc
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: downgrade astroid
  docs/requirements-docs.txt
Due: sphinx-build

feat: update CHANGELOG
  CHANGELOG.md
Due: none

fix: build.os is required
  .readthedocs.yaml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/source/user_guide/configuration.rst
Due: sphinx-build

fix: vlsift version 0.1.*
  setup.cfg
Due: none

fix: unconstraint pip<=23.0.1, cython<3.0.0
  Makefile
Due: none
