Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: use only one dockerfile, for production and development
  Dockerfile
  Dockerfile.local
  Makefile
  docs/source/contributing_the_project.rst
Due: sphinx-build

doc: update for master
  docs/source/exploring_the_field/3d_products.rst
  docs/source/getting_started.rst
  docs/source/howto.rst
Due: sphinx-build

feat: make classif resampling facultative during sparse matching
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling.py
  cars/applications/resampling/resampling_tools.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: correction of the freeze while using classifications
  cars/applications/resampling/resampling_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: resample classification for dense matches filling
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update AUTHORS.md
  AUTHORS.md
Due: none

refactor: implement small component filtering in epipolar geometry (in python)
  cars/applications/triangulation/epipolar_outlier_filtering.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

Revert "doc: update for master"
  docs/source/exploring_the_field/3d_products.rst
  docs/source/getting_started.rst
  docs/source/howto.rst
Due: sphinx-build

Revert "feat: use only one dockerfile, for production and development"
  Dockerfile.local
  Makefile
  docs/source/contributing_the_project.rst
Due: sphinx-build

Revert "Chaine low cost: sans validation croisée"
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/config_census_sgm.json
  cars/applications/dense_matching/loaders/config_mccnn.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  docs/source/usage.rst
  tests/applications/dense_matching/test_pandora_loader.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

Revert "feat(docker): create docker dev environment"
  Dockerfile.local
  docs/source/contributing_the_project.rst
Due: sphinx-build

Revert "fix(doc): update documentation"
  docs/source/exploring_the_field/3d_products.rst
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
  docs/source/getting_started.rst
  docs/source/howto.rst
  docs/source/software_design/orchestrator.rst
  docs/source/software_design/plugin.rst
  docs/source/troubleshooting_and_faqs.rst
  docs/source/usage.rst
  tutorials/data_gizeh.tar.bz2.md5sum
  tutorials/data_gizeh_small.tar.bz2.md5sum
Due: sphinx-build

doc: integration of Datafalk documentation contribution (2bd8324) after content conflicts with other modifications
  docs/source/contributing_the_project.rst
  docs/source/exploring_the_field/3d_products.rst
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
  docs/source/getting_started.rst
  docs/source/howto.rst
  docs/source/software_design/orchestrator.rst
  docs/source/software_design/plugin.rst
  docs/source/troubleshooting_and_faqs.rst
  docs/source/usage.rst
Due: sphinx-build

feat(docker): create docker dev environment
  Dockerfile.local
  docs/source/contributing_the_project.rst
Due: sphinx-build

Chaine low cost: sans validation croisée
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/config_census_sgm.json
  cars/applications/dense_matching/loaders/config_mccnn.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  docs/source/usage.rst
  tests/applications/dense_matching/test_pandora_loader.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: Malformed table + blank line
  docs/source/exploring_the_field/3d_products.rst
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
Due: sphinx-build

fix: duplicate label + Title underline too short
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
  docs/source/howto.rst
Due: sphinx-build

doc: remove section about otbcli_DownloadSRTMTiles which have been removed in OTB 8.0 because SRTM download requires authentication
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
Due: sphinx-build

feat: add relative altitude offsets
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add the relative altitude offsets in the doc
  docs/source/usage.rst
Due: sphinx-build

fix: added attribute-defined-outside-init to the list of suppressed pylint errors
  .pylintrc
Due: none

feat: added ability to end the pipeline wherever we want
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: lint
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: imports sorted in the pipeline
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: removed sparse pipeline import from tests
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: removed pipelines and cut the main cars pipeline in multiple functions
  cars/cars.py
  cars/pipelines/depth_maps_to_dsm/depth_maps_to_dsm_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/depth_map_inputs.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: replaced all the pipelines by a unique CarsPipeline, adjusted the tests' code accordingly
  cars/pipelines/__init__.py
  cars/pipelines/conf_pipeline/__init__.py
  cars/pipelines/conf_pipeline/depth_maps_to_dsm.json
  cars/pipelines/conf_pipeline/sensor_to_dense_dsm.json
  cars/pipelines/conf_pipeline/sensor_to_pc.json
  cars/pipelines/conf_pipeline/sensor_to_sparse_dsm.json
  cars/pipelines/depth_maps_to_dsm/__init__.py
  cars/pipelines/depth_maps_to_dsm/depth_maps_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/__init__.py
  setup.cfg
  tests/applications/resampling/test_resampling.py
  tests/helpers.py
  tests/test_cars.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: removed generate_geometry_plugin_with_dem, put its code in check_geometry_plugin
  cars/pipelines/parameters/depth_map_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

fix: ventoux_unique's second-to-last dense run didn't use the same pandora config
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: iterate over all pairs even when quit_on_app says to end there
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: bug registry_savers were not cleaned when resetting registries
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

fix: default pipeline now has merging=False
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: updated refs back to master
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/mask_end2end_gizeh_crop_no_merging.tif
Due: none

fix: disable merging in the no_merging gizeh test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: updated end2end gizeh no merging (two pixels wrong)
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/mask_end2end_gizeh_crop_no_merging.tif
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
