Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

test: fix uint overflow in ref updating
  ref_updating.py
Due: isort, black, flake8, pylint

misc: rasterio file opening replaced with 'with' statements
  cars/applications/grid_generation/grid_correction_app.py
  cars/core/geometry/abstract_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: check sensors with multiple bands
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/loaders/config_census_sgm_default.json
  cars/applications/dense_matching/loaders/config_census_sgm_sparse.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

refactorize sensor laoder factory
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/loaders/config_census_sgm_default.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/__init__.py
  cars/pipelines/parameters/sensor_loaders/basic_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader_template.py
Due: isort, black, flake8, pylint, sphinx-build

minor: rename EPI_COLOR to EPI_TEXTURE
  cars/applications/dense_match_filling/abstract_dense_match_filling_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/hole_detection/cloud_to_bbox_app.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles_app.py
  cars/applications/point_cloud_fusion/pc_fusion_algo.py
  cars/applications/point_cloud_fusion/pc_fusion_wrappers.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/sparse_matching/pandora_sparse_matching_app.py
  cars/applications/sparse_matching/sift_app.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/applications/triangulation/triangulation_algo.py
  cars/bundleadjustment.py
  cars/core/constants.py
  cars/data_structures/cars_dataset.py
  docs/source/developer_guide/concepts/application.rst
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/applications/dense_matching/test_pandora_loader.py
  tests/applications/resampling/test_resampling.py
  tests/data/ref_output_application/dense_matching/disp1_ref_pandora.nc
  tests/data/ref_output_application/dense_matching/disp1_ref_pandora_mask_ref.nc
  tests/data/ref_output_application/dense_matching/disp1_ref_pandora_mask_sec.nc
  tests/data/ref_output_application/dense_matching/disp3_ref_pandora.nc
  tests/data/ref_output_application/dense_matching/disp_with_confidences_ref_pandora.nc
  tests/data/ref_output_application/resampling/data1_ref_left.nc
  tests/data/ref_output_application/resampling/data1_ref_right.nc
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

tests: add unit test for sensor loader
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint

feat: add used_band parameter in dense_matching and refacto of resampling application
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/resampling/resampling_algo.py
  cars/applications/resampling/resampling_wrappers.py
  cars/applications/sparse_matching/pandora_sparse_matching_app.py
  cars/applications/sparse_matching/sparse_matching_algo.py
  cars/core/datasets.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/basic_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader_template.py
Due: isort, black, flake8, pylint, sphinx-build

fix: upgrade pandora
  pyproject.toml
Due: none

feat: deal with specific band for matching, save texture, factory for sensor loaders
  cars/applications/dense_matching/abstract_dense_matching_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/grid_generation/epipolar_grid_generation_app.py
  cars/applications/point_cloud_fusion/pc_fusion_algo.py
  cars/applications/point_cloud_fusion/pc_fusion_wrappers.py
  cars/applications/rasterization/simple_gaussian_app.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/resampling/resampling_algo.py
  cars/applications/resampling/resampling_wrappers.py
  cars/applications/sparse_matching/abstract_sparse_matching_app.py
  cars/applications/sparse_matching/pandora_sparse_matching_app.py
  cars/applications/sparse_matching/sift_app.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/applications/triangulation/triangulation_algo.py
  cars/core/datasets.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/parameters/sensor_loaders/basic_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader_template.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove color from pipeline
  cars/applications/dense_matching/abstract_dense_matching_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/grid_generation/epipolar_grid_generation_app.py
  cars/applications/point_cloud_fusion/pc_fusion_algo.py
  cars/applications/point_cloud_fusion/pc_fusion_wrappers.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/resampling/resampling_algo.py
  cars/applications/resampling/resampling_wrappers.py
  cars/applications/sparse_matching/abstract_sparse_matching_app.py
  cars/applications/sparse_matching/pandora_sparse_matching_app.py
  cars/applications/sparse_matching/sift_app.py
  cars/applications/sparse_matching/sparse_matching_algo.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/applications/triangulation/triangulation_algo.py
  cars/core/datasets.py
  cars/core/preprocessing.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/sensor_loaders/__init__.py
  cars/pipelines/parameters/sensor_loaders/abstract_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/basic_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_sensor_loader.py
Due: isort, black, flake8, pylint, sphinx-build

feat: strenghten sensor loaders
  cars/pipelines/parameters/sensor_loaders/basic_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_sensor_loader.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add docstrings
  cars/applications/dense_matching/abstract_dense_matching_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/resampling/abstract_resampling_app.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/sparse_matching/pandora_sparse_matching_app.py
  cars/applications/sparse_matching/sift_app.py
Due: isort, black, flake8, pylint, sphinx-build

feat: docs add new parameters
  cars/applications/auxiliary_filling/auxiliary_filling_algo.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
  tests/applications/auxiliary_filling/test_auxiliary_filling_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: tests end2end
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/ground_truth_reprojection/direct_localization_app.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_algo.py
  cars/applications/rasterization/rasterization_algo.py
  cars/applications/rasterization/rasterization_constants.py
  cars/applications/rasterization/rasterization_wrappers.py
  cars/applications/rasterization/simple_gaussian_app.py
  cars/applications/resampling/abstract_resampling_app.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/resampling/resampling_algo.py
  cars/core/constants.py
  cars/core/datasets.py
  cars/core/inputs.py
  cars/orchestrator/tiles_profiler.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/basic_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_sensor_loader.py
  tests/applications/rasterization/test_rasterization_config.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/data/input/phr_ventoux/input_8bits.json
  tests/data/input/phr_ventoux/input_bias.json
  tests/data/input/phr_ventoux/input_custom_geoid.json
  tests/data/input/phr_ventoux/input_no_elevation.json
  tests/data/input/phr_ventoux/input_with_classif.json
  tests/data/input/phr_ventoux/input_with_classif_and_mask.json
  tests/data/input/phr_ventoux/input_with_color.json
  tests/data/input/phr_ventoux/input_with_color_and_classif.json
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: adapt tutorials to interfaces
  tutorials/notebook_helpers.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, jupyter-nb-clear-output

docs: remove classif description docs
  docs/source/Additional_tips.rst
  docs/source/CARS overview/masks_and_classifications_usage.rst
Due: sphinx-build

docs: add documentation for sensor loader
  docs/source/getting_started.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

feat: deal with texture_bands parameter in inputs
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/sensor_loaders/basic_sensor_loader.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add sensor laoder plugin documentation in dev guide
  docs/source/developer_guide/creating_a_plugin.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: adapt resampling test to new grid
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

fix: typos
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: deal with several files in aux filling
  cars/applications/auxiliary_filling/auxiliary_filling_algo.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/pipelines/default/default_pipeline.py
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
Due: isort, black, flake8, pylint, sphinx-build

docs: fix json example file
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: main_file in inverse loc for libgeo
  cars/applications/dense_matching/census_mccnn_sgm_app.py
Due: isort, black, flake8, pylint, sphinx-build

doc: typo
  cars/pipelines/default/default_pipeline.py
  docs/source/Additional_tips.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

ci: clean branch
  .gitlab-ci.yml
  pyproject.toml
Due: none

ci: remove https from github url
  .gitlab-ci.yml
Due: none

ci: trigger pipeline again
  .gitlab-ci.yml
Due: none

ci: add a change to pyproject to trigger docker build (check for non regression)
  pyproject.toml
Due: none

ci: try fix branch for github sync job (comment some jobs to speed up the test)
  .gitlab-ci.yml
Due: none

feat: transform grid for resampling
  cars/applications/grid_generation/transform_grid.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/resampling/resampling_algo.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add fft
  cars/applications/grid_generation/transform_grid.py
  cars/applications/resampling/resampling_algo.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix the step
  cars/applications/resampling/bicubic_resampling_app.py
Due: isort, black, flake8, pylint, sphinx-build

feat: put resolution in advanced
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add transform grid and tests
  cars/applications/grid_generation/transform_grid.py
  cars/applications/resampling/resampling_algo.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  tests/applications/grid_generation/test_grids.py
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for pylint
  cars/applications/resampling/abstract_resampling_app.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/resampling/resampling_algo.py
  tests/applications/grid_generation/test_grids.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
