Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

docs: added a 'default config' with explanations regarding the merging parameter
  docs/source/usage.rst
Due: sphinx-build

fix(docs): key mistake
  docs/source/usage.rst
Due: sphinx-build

feat: when point_cloud is in product_level, guarantee the existence of a point cloud in the output
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix(docs): clearer explanation
  docs/source/usage.rst
Due: sphinx-build

docs: reflect changes made to the pipeline, add example configurations to emulate old pipelines' behavior
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  docs/source/usage.rst
Due: isort, black, flake8, pylint, sphinx-build

doc: modified configurations' explanations to reflect the actual behavior of cars
  docs/source/usage.rst
Due: sphinx-build

fix: indentation after rebase
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: update API call of cars-filter
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
Due: isort, black, flake8, pylint, sphinx-build

misc: renamed CarsPipeline to DefaultPipeline, + directory and file
  cars/cars.py
  cars/pipelines/__init__.py
  cars/pipelines/default/__init__.py
  cars/pipelines/default/default_pipeline.py
  docs/source/usage.rst
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: restrained the scope of pylint's attribute-defined-outside-init rule to default_pipeline.py
  .pylintrc
Due: none

refactor: add cars-filter to cars dependencies
  setup.cfg
Due: none

Revert "refactor: implement small component filtering in epipolar geometry (in python)"
  cars/applications/triangulation/epipolar_outlier_filtering.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

test: tests for unit test cars-filter (point cloud and epipolar)
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing.py
Due: isort, black, flake8, pylint, sphinx-build

feat: added bulldozer integration
  cars/applications/dsm_filling/__init__.py
  cars/applications/dsm_filling/bulldozer_config/base_config.yaml
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/dsm_filling.py
  cars/applications/dsm_filling/dsm_filling_tools.py
  cars/pipelines/default/default_pipeline.py
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

misc: added unit tests for dsm_filling
  tests/data/input/data_gizeh_crop/srtm_dir/N29E031_KHEOPS.tif.aux.xml
Due: none

fix: adapted dsm_filling to the new cars api
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/core/preprocessing.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: properly formatted yaml for sonarqube
  cars/applications/dsm_filling/bulldozer_config/base_config.yaml
Due: sphinx-build

fix: excluded bulldozer_config from sonarqube
  sonar-project.properties
Due: none

fix: updated notebooks to take into account changes to compute_terrain_bbox
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

misc: added unit tests for dsm_filling
  cars/applications/dsm_filling/bulldozer_filling.py
  tests/applications/dsm_filling/__init__.py
  tests/applications/dsm_filling/test_dsm_filling.py
  tests/applications/dsm_filling/test_dsm_filling_config.py
  tests/data/ref_output/dsm_filled_end2end_paca.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_roi.tif
  tests/data/ref_output/dsm_filling_filling_bulldozer_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_filling_bulldozer_gizeh_crop_roi.tif
  tests/data/ref_output/filling_bulldozer_end2end_paca.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: updated refs for bulldozer from trex
  tests/data/ref_output/dsm_filled_end2end_paca.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: removed a qgis aux file and added a gitignore rule for them
  tests/data/input/data_gizeh_crop/srtm_dir/N29E031_KHEOPS.tif.aux.xml
Due: none

fix: added a gitignore rule for qgis aux files
  .gitignore
Due: none

fix: updated tests according to changes in dsm_filling's save behavior
  tests/applications/dsm_filling/test_dsm_filling.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: replace dsm.tif with the filled version, add band to filling.tif if it exists, save old dsm to dump_dir
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: changed description of the file
  cars/applications/dsm_filling/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

fix: added uppercase to the description of the file
  cars/applications/dsm_filling/bulldozer_filling.py
Due: isort, black, flake8, pylint, sphinx-build

fix: updated default bulldozer config
  cars/applications/dsm_filling/bulldozer_config/base_config.yaml
Due: sphinx-build

feat: set bulldozer's workers count based on orchestrator
  cars/applications/dsm_filling/bulldozer_filling.py
Due: isort, black, flake8, pylint, sphinx-build

fix: added orchestrator as a parameter of dsm_filling
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/pipelines/default/default_pipeline.py
  tests/applications/dsm_filling/test_dsm_filling.py
Due: isort, black, flake8, pylint, sphinx-build

fix: separated end2end paca in two runs: bulldozer and matches_filling
  tests/data/ref_output/color_end2end_paca_bulldozer.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_filled_end2end_paca.tif
  tests/data/ref_output/filling_bulldozer_end2end_paca.tif
  tests/data/ref_output/mask_end2end_paca_bulldozer.tif
  tests/data/ref_output/mask_end2end_paca_matches_filling.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: updated bulldozer unit test refs
  tests/applications/dsm_filling/test_dsm_filling.py
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_roi.tif
Due: isort, black, flake8, pylint

fix: suppressed bulldozer's outputs
  cars/applications/dsm_filling/bulldozer_filling.py
Due: isort, black, flake8, pylint, sphinx-build

fix: documentation
  docs/source/usage.rst
Due: sphinx-build

misc: added myself to contributors
  AUTHORS.md
Due: none

feature: use cars-filter in epipolar mode when outlier filtering app activated and merging is deactivated
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: post-rebase fixes
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

documentation: fix docstrings in outliers removing functions
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
Due: isort, black, flake8, pylint, sphinx-build

fix: post-rebase fixes
  tests/applications/dsm_filling/test_dsm_filling.py
Due: isort, black, flake8, pylint

misc: renamed files in dump_dir/dsm_filling
  cars/applications/dsm_filling/bulldozer_filling.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
