Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

doc: update changelog
  CHANGELOG.md
Due: none

bug: fix geopandas version
  pyproject.toml
Due: none

refactor: update Shareloc verison to 0.2.8
  pyproject.toml
Due: none

refactor: make requirement on geopandas less restrictive
  pyproject.toml
Due: none

feat: modify import notebooks
  tutorials/notebook_helpers.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, jupyter-nb-clear-output

fix: fix in import
  cars/devibrate.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix pylint
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dem_generation/rasterization_app.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in import
  cars/applications/point_cloud_fusion/point_cloud_algo.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix sonarqube
  sonar-project.properties
Due: none

refacto: harmonized files names
  cars/applications/grid_generation/epipolar_grid_generation_app.py
  cars/applications/grid_generation/grid_correction_app.py
  cars/applications/grid_generation/grid_generation_constants.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles_app.py
  cars/applications/point_cloud_fusion/pc_fusion_algo.py
  cars/applications/point_cloud_fusion/pc_fusion_wrappers.py
  cars/applications/point_cloud_outlier_removal/__init__.py
  cars/applications/point_cloud_outlier_removal/abstract_outlier_removal_app.py
  cars/applications/point_cloud_outlier_removal/outlier_removal_algo.py
  cars/applications/point_cloud_outlier_removal/outlier_removal_constants.py
  cars/applications/point_cloud_outlier_removal/small_components_app.py
  cars/applications/point_cloud_outlier_removal/statistical_app.py
  cars/applications/rasterization/simple_gaussian_app.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/pipelines/default/default_pipeline.py
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
Due: isort, black, flake8, pylint, sphinx-build

refacto: replace grids_algo by grid_generation_algo
  cars/applications/grid_generation/epipolar_grid_generation_app.py
  cars/applications/grid_generation/grid_correction_app.py
  cars/applications/grid_generation/grid_generation_algo.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/core/preprocessing.py
  tests/applications/grid_generation/test_grids.py
  tests/core/test_tiling.py
Due: isort, black, flake8, pylint, sphinx-build

fix: delete point_cloud_tools
  cars/applications/point_cloud_fusion/point_cloud_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix pylint again
  cars/applications/sparse_matching/sparse_matching_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

test: change in test_dense_matching_tools
  tests/applications/dense_matching/test_dense_matching_tools.py
Due: isort, black, flake8, pylint

fix: reformat files
  cars/applications/dem_generation/dem_generation_algo.py
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dense_matching/dense_matching_algo.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in tests
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/applications/grid_generation/test_grids.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/applications/resampling/test_resampling.py
  tests/applications/sparse_matching/test_sparse_matching_tools.py
  tests/applications/triangulation/test_triangulation_tools.py
Due: isort, black, flake8, pylint

tests: modif in ref_updating
  ref_updating.py
Due: isort, black, flake8, pylint

tests: change in dsm_filling
  tests/applications/dsm_filling/test_dsm_filling.py
Due: isort, black, flake8, pylint

test: add dsm_filling directory
  tests/data/ref_output_application/dsm_filling/dsm_filling_border_interpolation_gizeh_crop_no_roi.tif
  tests/data/ref_output_application/dsm_filling/dsm_filling_border_interpolation_gizeh_crop_roi.tif
  tests/data/ref_output_application/dsm_filling/dsm_filling_bulldozer_gizeh_crop_no_roi.tif
  tests/data/ref_output_application/dsm_filling/dsm_filling_bulldozer_gizeh_crop_roi.tif
  tests/data/ref_output_application/dsm_filling/dsm_filling_exogenous_filling_gizeh_crop_no_roi.tif
  tests/data/ref_output_application/dsm_filling/dsm_filling_exogenous_filling_gizeh_crop_roi.tif
Due: none

test: change input in auxiliary filling
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
  tests/data/input/classification_end2end_paca_aux_filling_0.tif
  tests/data/input/classification_end2end_paca_aux_filling_1.tif
  tests/data/input/classification_end2end_paca_aux_filling_2.tif
  tests/data/input/color_end2end_paca_aux_filling_0.tif
  tests/data/input/color_end2end_paca_aux_filling_1.tif
  tests/data/input/color_end2end_paca_aux_filling_2.tif
Due: isort, black, flake8, pylint

tests: refacto tests end2end
  ref_updating.py
  tests/applications/dsm_filling/test_dsm_filling.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint

test: delete comment in test end2end
  tests/test_end2end.py
Due: isort, black, flake8, pylint

refactor: make ref_updating.py more robust
  ref_updating.py
Due: isort, black, flake8, pylint

refactor: add .gitignore file
  tests/data/intermediate_data/.gitignore
Due: none

fix: row/col inversion
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add rpc_options
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

refacto: rectification grids are now always a dict
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/grid_generation/epipolar_grid_generation_app.py
  cars/applications/grid_generation/grid_correction_app.py
  cars/applications/grid_generation/grid_generation_algo.py
  cars/applications/ground_truth_reprojection/direct_localization_app.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/applications/resampling/resampling_algo.py
  cars/applications/sparse_matching/abstract_sparse_matching_app.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/preprocessing.py
  cars/pipelines/default/default_pipeline.py
  tests/applications/grid_generation/test_grids.py
  tests/applications/resampling/test_resampling.py
  tests/applications/sparse_matching/test_sparse_matching_tools.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/core/geometry/test_abstract_geometry.py
  tests/core/test_tiling.py
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_color_shareloc
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_no_color_shareloc
  tests/pipelines/test_wrappers.py
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

refacto: simplified the grid generation app
  cars/applications/grid_generation/epipolar_grid_generation_app.py
Due: isort, black, flake8, pylint, sphinx-build

test: modified grid generation tests to use only dicts & tif
  tests/applications/grid_generation/test_grids.py
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_color_shareloc
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_color_shareloc/grid_left.tif
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_color_shareloc/grid_right.tif
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_color_shareloc/grids_attrs.pickle
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_no_color_shareloc
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_no_color_shareloc/grid_left.tif
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_no_color_shareloc/grid_right.tif
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_no_color_shareloc/grids_attrs.pickle
Due: isort, black, flake8, pylint

notebook: adapted notebook to the new grid object / api
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
Due: jupyter-nb-clear-output

feat: cleanup sequential orchestrators
  cars/applications/dem_generation/dichotomic_generation_app.py
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

fix: lint
  tests/applications/grid_generation/test_grids.py
Due: isort, black, flake8, pylint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
