Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

test: forgot this file
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: add comment
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change comment
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: path
  cars/orchestrator/cluster/mp_cluster/multiprocessing_profiler.py
Due: isort, black, flake8, pylint, sphinx-build

fix: robustify cluster cleanup
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_profiler.py
Due: isort, black, flake8, pylint, sphinx-build

feat: initialize rectification grid outside of wrapper
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: matches_to_sensor_coords is now dynamic
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/core/geometry/abstract_geometry.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: give a RectificationGrid object in triangulation for any geometry plugin
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: add geom plugin
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: scatter grids with pickle
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

fix: end of threads
  cars/orchestrator/cluster/mp_cluster/multiprocessing_profiler.py
Due: isort, black, flake8, pylint, sphinx-build

feat: updgrade shareloc
  pyproject.toml
Due: none

fix: split shared data and transitionning data in disk wrapper
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

fix: update end2end referece to fix master branch
  tests/data/ref_output/performance_map_end2end_ventoux_with_color.tif
  tests/data/ref_output/performance_map_from_risk_end2end_ventoux_with_color.tif
Due: none

feat: factorize interpolation for matches filter
  cars/applications/sparse_matching/sparse_matching.py
Due: isort, black, flake8, pylint, sphinx-build

fix: robustify angles infos
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/core/datasets.py
  cars/core/utils.py
  tests/core/test_utils.py
Due: isort, black, flake8, pylint, sphinx-build

feat: parallelization of triangulated_matches
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: change unit test ref
  cars/pipelines/default/default_pipeline.py
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
Due: isort, black, flake8, pylint, sphinx-build

notebook: change notebook
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: fix a bug and change decimation factor
  cars/applications/sparse_matching/sift.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add a breakpoint and put pandora by default
  cars/applications/sparse_matching/pandora_sparse_matching.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change dem generation and sparse matching
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: put a dictionary in fill dataframe
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update changelog
  CHANGELOG.md
Due: none

notebook: change notebook
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

doc: put filter at true in doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: fix some errors
  cars/applications/dem_generation/dem_generation_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

doc: fix typo
  CHANGELOG.md
Due: none

feat: upgrade bulldozer
  pyproject.toml
Due: none

fix: row/col inversion in matches_to_sensor_coords function
  cars/core/geometry/abstract_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update ref
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_roi.tif
Due: none

doc: add precision
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

doc: update global schema
  docs/source/images/cars_pipeline_multi_pair.png
Due: sphinx-build

tests: increase tolerance of bulldozer tests for GH action CI
  tests/applications/dsm_filling/test_dsm_filling.py
Due: isort, black, flake8, pylint

fix: fix in default pipeline
  cars/pipelines/default/default_pipeline.py
  tests/data/ref_output/classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/color_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/dsm_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/dsm_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/dsm_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_n_pts_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_pts_in_cell_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_std_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/epi_pc_X_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Y_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Z_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/filling_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/mask_end2end_ventoux_no_elevation.tif
Due: isort, black, flake8, pylint, sphinx-build

doc: update schema
  docs/source/images/cars_pipeline_multi_pair.png
Due: sphinx-build
