Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: add the possibility to override the filter
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in test end2end
  tests/test_end2end.py
Due: isort, black, flake8, pylint

test: ref was not the good ones
  tests/data/ref_output/clr_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/color_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split_no_merging.tif
Due: none

test: fix in test
  tests/applications/dense_matching/test_pandora_loader.py
Due: isort, black, flake8, pylint

doc: fix typo
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

test: change ref because of bulldozer
  tests/data/ref_output/dsm_filling_bulldozer_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_bulldozer_gizeh_crop_roi.tif
Due: none

test: change ref for bulldozer and fix one with xdem
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/mask_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth_left.tif
  tests/data/ref_output_application/ground_truth_reprojection/ref_epipolar_disp_ground_truth_right.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

test: change ref of unit test
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
Due: none

feat: add cars-bundle-adjustment
  cars/bundleadjustment.py
  cars/pipelines/default/default_pipeline.py
  pyproject.toml
  tests/data/input/phr_gizeh/img1.geom
  tests/data/input/phr_gizeh/img1.tif
  tests/data/input/phr_gizeh/img2.geom
  tests/data/input/phr_gizeh/img2.tif
  tests/data/input/phr_gizeh/img3.geom
  tests/data/input/phr_gizeh/img3.tif
  tests/data/input/phr_gizeh/input_bundle_adjustment.json
  tests/test_bundleadjustment.py
Due: isort, black, flake8, pylint, sphinx-build

fix: move rpcfit dependancy to a specific installation target
  cars/bundleadjustment.py
  pyproject.toml
Due: isort, black, flake8, pylint, sphinx-build

docs: add documentation for disparity bounds estiamtion parameters
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: shrink disparity interval for sparse_matching
  .pylintrc
  cars/applications/sparse_matching/pandora_sparse_matching.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: new dem_generation application using rasterization
  cars/applications/application.py
  cars/applications/dem_generation/__init__.py
  cars/applications/dem_generation/bulldozer_config/base_config.yaml
  cars/applications/dem_generation/dem_generation.py
  cars/applications/dem_generation/rasterization.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/default/default_pipeline.py
  sonar-project.properties
Due: isort, black, flake8, pylint, sphinx-build

fix: change method name
  cars/applications/dem_generation/dem_generation.py
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dem_generation/rasterization.py
  cars/pipelines/default/default_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: fix notebooks
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

fix: remove xdem logs
  cars/applications/dem_generation/dem_generation_tools.py
  cars/applications/dem_generation/rasterization.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: deal with pixels where DEM min > DEM max because of Bulldozer
  cars/applications/dem_generation/rasterization.py
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add margin before coregistration
  cars/applications/dem_generation/dem_generation_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in code quality and docs from review
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dem_generation/rasterization.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in pandora loader
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

doc: modify the doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: add the fast cross validation
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

test: add unit test
  tests/applications/dense_matching/test_pandora_loader.py
Due: isort, black, flake8, pylint

feat: override use_cross_validation to fast
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

test: add unit test in test_dense_matching_config
  tests/applications/dense_matching/test_dense_matching_config.py
Due: isort, black, flake8, pylint

fix: fix bug with median for intervals
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

test: forgot the auxiliary filling test
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
Due: none

test: add modif in test_end2end
  tests/test_end2end.py
Due: isort, black, flake8, pylint

doc: change doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: replace nan_threshold
  cars/applications/sparse_matching/pandora_sparse_matching.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove warnings
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
