Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

docs: added yaml when referencing the input config
  docs/source/Additional_tips.rst
  docs/source/getting_started.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  docs/source/how_to_use_CARS/how_to_launch_CARS.rst
Due: sphinx-build

docs: commented some yaml files
  docs/source/example_configs/getting_started/gizeh_configfile.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/organization_structure.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/inputs_sensor_image.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/inputs_sensor_image_pairing.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/organization_structure.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_1.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_auxiliary.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_depth_map_output.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_depth_maps_1_dsm.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_pairs_1_dsm.yaml
Due: sphinx-build

fix: threshold bounds sup to -30 and not -90 if res < 16
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: normalize bounds sup with median disparity for confidence filtering
  cars/applications/dense_matching/dense_matching_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: threshold disp min and max to borders
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_algo.py
Due: isort, black, flake8, pylint, sphinx-build

tests: uodata ref of unit test
  tests/data/ref_output/cloud1_ref_pandora
Due: none

feat: add second median filter on downsampled median DEM
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: changes in confidence filtering
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/pipelines/default/default_pipeline.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: changes in confidence filtering
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_algo.py
  cars/applications/dense_matching/dense_matching_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add second median filter on downsampled median DEM
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: scale disp_to_alt_ratio properly and add margin to DEM min and max for low resolutions
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/dense_matching/disparity_grid_algo.py
  cars/applications/grid_generation/transform_grid.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: update test ref with ci artifact
  cars/applications/dense_matching/disparity_grid_algo.py
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in docs and revert change in test ref
  docs/source/how_to_use_CARS/advanced_configuration.rst
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
Due: sphinx-build

feat: added scaling from sensor images resolution
  cars/applications/application.py
  cars/applications/application_template.py
  cars/applications/dem_generation/abstract_dem_generation_app.py
  cars/applications/dem_generation/dichotomic_generation_app.py
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/point_cloud_outlier_removal/abstract_outlier_removal_app.py
  cars/applications/point_cloud_outlier_removal/small_components_app.py
  cars/applications/point_cloud_outlier_removal/statistical_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/unit/unit_pipeline.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  tests/applications/point_cloud_outlier_removal/test_outlier_removal_config.py
  tests/core/geometry/test_shareloc_geometry.py
  tests/pipelines/test_advanced_parameters.py
  tests/pipelines/test_output.py
Due: isort, black, flake8, pylint, sphinx-build

fix: docstring fix
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: removed sift_peak_threshold override if None, disabled None being an option
  cars/applications/sparse_matching/sift_app.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: notebook api fix
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: used inverse transform
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/disparity_grid_algo.py
Due: isort, black, flake8, pylint, sphinx-build

fix: nb matches
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: scaling parameters default value set to None
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

feat: added scaling from sensor images resolution
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

feat: put out_geoid at true
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add world classif
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/unit/unit_pipeline.py
  pyproject.toml
Due: isort, black, flake8, pylint, sphinx-build

doc: modify doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: little fix
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

test: modify unit test
  tests/pipelines/test_advanced_parameters.py
Due: isort, black, flake8, pylint

fix: fix pylint and add the world classif
  cars/applications/dense_matching/loaders/config_mapping.json
  cars/applications/dense_matching/loaders/global_land_cover_map.tif
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in pipeline
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add log
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

fix: little fix
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

test: change ref
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_paca_border_interpolation.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
Due: none

feat: vcrs is now in the output files
  cars/applications/rasterization/abstract_pc_rasterization_app.py
  cars/applications/rasterization/simple_gaussian_app.py
  cars/core/projection.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/unit/unit_pipeline.py
  tests/pipelines/test_output.py
Due: isort, black, flake8, pylint, sphinx-build

docs: added documentation for EPSG and VCRS
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_epsg_1.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_epsg_2.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_epsg_3.yaml
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
