Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: add confidence in default sparse matching conf
  cars/applications/dense_matching/loaders/config_census_sgm_sparse.json
Due: sphinx-build

test: change ref auxiliary_filling
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
Due: none

fix: change np.amin to np.nanmin after grids.compute_epipolar_grid_min_max
  cars/core/preprocessing.py
Due: isort, black, flake8, pylint, sphinx-build

test : put accurate in quality stats
  tests/data/ref_output/color_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_n_pts_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_pts_in_cell_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_std_end2end_ventoux_quality_stats.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: dem are now float32 and invalid values are nan
  cars/applications/dem_generation/dichotomic_generation.py
Due: isort, black, flake8, pylint, sphinx-build

feat: factorize compute_epsg to get it out of triangulation wrapper
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_sparse_tools.py
  cars/applications/triangulation/triangulation_tools.py
  cars/pipelines/default/default_pipeline.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: allow numpy >2
  cars/applications/rasterization/rasterization_tools.py
  pyproject.toml
Due: isort, black, flake8, pylint, sphinx-build

feature: add a constant and a mean ratio to the statistical filtering formula
  cars/applications/point_cloud_outlier_removal/outlier_removal_tools.py
  cars/applications/point_cloud_outlier_removal/statistical.py
  cars/applications/sparse_matching/pandora_sparse_matching.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: update statistical filtering parameters in test end2end
  cars/applications/point_cloud_outlier_removal/statistical.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

test: update application tests with new statistical filtering parameters
  tests/applications/point_cloud_outlier_removal/test_outlier_removal.py
  tests/applications/point_cloud_outlier_removal/test_outlier_removal_config.py
  tests/applications/sparse_matching/test_sparse_matching_config.py
Due: isort, black, flake8, pylint

test: update statistical filtering parameters for pandora sparse matching in test end2end
  tests/test_end2end.py
Due: isort, black, flake8, pylint

refactor: update notebooks with API changes (new statistical filtering parameters
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

doc: add documentation for new filtering parameters
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

refactor: update cars-filter version to 0.2.*
  pyproject.toml
Due: none

docs: retrieve auxiliary filling documentation
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

test: add dedicated references for auxiliary filling tests, so that the tests doe not depend on end2end output references
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
  tests/data/input/classification_input_auxiliary_filling.tif
  tests/data/input/color_input_auxiliary_filling.tif
  tests/data/input/dsm_input_auxiliary_filling.tif
Due: isort, black, flake8, pylint

fix: notebook show
  tutorials/notebook_helpers.py
Due: isort, black, flake8, pylint

fix: clamp grid position direct loc to only valid positions
  cars/applications/grid_generation/grids.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change dem_generation parameters to decrease memory consumption
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: put dichotomic method in one test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

docs: add new parameter in dem generation docs
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: downsample dem median at the end
  cars/applications/dem_generation/rasterization.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: force first point_cloud_outlier_removal application to small_components
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: fix executable name
  cars/bundleadjustment.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add margin for pc outlier removal
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/point_cloud_outlier_removal/pc_out_removal.py
  cars/applications/point_cloud_outlier_removal/small_components.py
  cars/applications/point_cloud_outlier_removal/statistical.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/data_structures/format_transformation.py
  cars/pipelines/default/default_pipeline.py
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/data_structure/test_format_transformation.py
Due: isort, black, flake8, pylint, sphinx-build

fix: crop secondary dataset
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: robustify no depth map re entrance
  cars/applications/point_cloud_fusion/point_cloud_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove translation in warp
  cars/applications/dem_generation/rasterization.py
Due: isort, black, flake8, pylint, sphinx-build

fix: increase margin for dem
  cars/applications/dem_generation/rasterization.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
