Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: use reconstruct_data in notebooks
  tutorials/notebook_helpers.py
Due: isort, black, flake8, pylint

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: bug color
  cars/applications/point_cloud_fusion/point_cloud_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: defaut configuration low res pipeline
  cars/pipelines/conf_pipeline/sensor_to_low_resolution_dsm.json
Due: sphinx-build

fix: flake8
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/core/outputs.py
  cars/core/preprocessing.py
  cars/core/tiling.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing.py
Due: isort, black, flake8, pylint, sphinx-build

fix: enforce dict order into pandora conf pipeline
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

fix: dask memory profiler
  cars/orchestrator/cluster/abstract_dask_cluster.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add memory profiler in default profiler
  cars/orchestrator/cluster/log_wrapper.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update tests
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: clean astroid recursion limit in autoapi (align with pylint)
  docs/source/conf.py
Due: isort, black, flake8, pylint, sphinx-build

quality: update a specific lint disabling
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: correct color image read
  cars/applications/resampling/bicubic_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

feat: set DASK_CONFIG at cars start
  Dockerfile
  cars/cars.py
  env_cars.sh
Due: isort, black, flake8, pylint, sphinx-build

translation: fr to en
  dask/README.md
Due: none

feat: move dask folder in cars, modify OMP_NUM_THREADS
  dask/README.md
  dask/dask.yaml
  dask/distributed.yaml
  dask/jobqueue.yaml
  dask/reference_confs/dask-schema.yaml
  dask/reference_confs/dask.yaml
  dask/reference_confs/distributed-schema.yaml
  dask/reference_confs/distributed.yaml
  dask/reference_confs/jobqueue.yaml
  env_cars.sh
Due: none

feat: set DASK_CONFIG at cars start
  Dockerfile
  env_cars.sh
  setup.cfg
Due: none

feat: add yaml
  cars/orchestrator/cluster/dask_config/README.md
  cars/orchestrator/cluster/dask_config/dask.yaml
  cars/orchestrator/cluster/dask_config/distributed.yaml
  cars/orchestrator/cluster/dask_config/jobqueue.yaml
  cars/orchestrator/cluster/dask_config/reference_confs/dask-schema.yaml
  cars/orchestrator/cluster/dask_config/reference_confs/dask.yaml
  cars/orchestrator/cluster/dask_config/reference_confs/distributed-schema.yaml
  cars/orchestrator/cluster/dask_config/reference_confs/distributed.yaml
  cars/orchestrator/cluster/dask_config/reference_confs/jobqueue.yaml
  setup.cfg
Due: sphinx-build

feat: clean dask folder
  dask/README.md
  dask/dask.yaml
  dask/distributed.yaml
  dask/jobqueue.yaml
  dask/reference_confs/dask-schema.yaml
  dask/reference_confs/dask.yaml
  dask/reference_confs/distributed-schema.yaml
  dask/reference_confs/distributed.yaml
  dask/reference_confs/jobqueue.yaml
  sonar-project.properties
Due: none

feat: fix sonarqube
  sonar-project.properties
Due: none

doc: update readme dask config
  cars/orchestrator/cluster/dask_config/README.md
Due: sphinx-build

feat: activated dashboard only when needed
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/local_dask_cluster.py
  cars/orchestrator/cluster/pbs_dask_cluster.py
  docs/source/user_guide/configuration.rst
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

feat: update otb_max_ram_hint
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update tests
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove tile sizing through OTB_MAX_RAM_HINT
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/pbs_dask_cluster.py
  cars/orchestrator/cluster/sequential_cluster.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  docs/source/user_guide/configuration.rst
  env_cars.sh
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: fix otb max ram hint set for 5gb workers
  cars/orchestrator/cluster/pbs_dask_cluster.py
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update notebooks
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_full_resolution_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_full_resolution_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

feat: clean OTb variable
  Dockerfile
Due: none

fix: update docker python
  Dockerfile.deps
Due: none

Prevent negative worker lifetimes
  cars/orchestrator/cluster/pbs_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

Enable infinite workloads in PBS mode
  cars/orchestrator/cluster/pbs_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

Fix memory unit in worker resources specification
  cars/orchestrator/cluster/pbs_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

quality: formatting file (black)
  cars/orchestrator/cluster/pbs_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

quality: resolve lint warnings
  docs/source/conf.py
  setup.py
  tutorials/notebook_helpers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: re-entry low res grid correction and disparity range
  cars/pipelines/conf_pipeline/sensor_to_low_resolution_dsm.json
  cars/pipelines/pipeline_constants.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

doc: epipolar a priori configuration
  docs/source/user_guide/cli.rst
  docs/source/user_guide/configuration.rst
Due: sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
