Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

doc: update schema
  docs/source/images/cars_pipeline_multi_pair.png
Due: sphinx-build

doc: add missing phase doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: when an invalid lon/lat is given, output a default epsg
  cars/core/preprocessing.py
  tests/core/test_preprocessing.py
Due: isort, black, flake8, pylint, sphinx-build

fix: docker
  .dockerignore
  Dockerfile
  Makefile
Due: none

feat: cars-extractroi for multiple bands
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

packaging: repair Windows wheel with delvewheel
  pyproject.toml
Due: none

fix: robustified load_single_tile_dict
  cars/data_structures/cars_dataset.py
Due: isort, black, flake8, pylint, sphinx-build

feat: build Dockerfile with python -m build and pip
  Dockerfile
Due: none

Update AUTHORS.md
  AUTHORS.md
Due: none

feat: new filling method border interpolation
  cars/applications/dsm_filling/__init__.py
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/dsm_filling.py
  cars/applications/dsm_filling/exogenous_filling.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_profiler.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refact: split dsm filling between three applications
  cars/applications/application.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  cars/applications/dsm_filling/__init__.py
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/dsm_filling.py
  cars/applications/dsm_filling/exogenous_filling.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add parameters to border_interpolation method
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/exogenous_filling.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove fill_no_data parameter
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/exogenous_filling.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update exogenous filling method with changes of MR 844
  cars/applications/dsm_filling/exogenous_filling.py
Due: isort, black, flake8, pylint, sphinx-build

tests: add unit tests for 3 new filling methods
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/exogenous_filling.py
  tests/applications/dsm_filling/test_dsm_filling.py
  tests/applications/dsm_filling/test_dsm_filling_config.py
  tests/data/ref_output/dsm_filling_border_interpolation_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_border_interpolation_gizeh_crop_roi.tif
  tests/data/ref_output/dsm_filling_bulldozer_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_bulldozer_gizeh_crop_roi.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_roi.tif
  tests/data/ref_output/dsm_filling_exogenous_filling_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_exogenous_filling_gizeh_crop_roi.tif
  tests/data/ref_output/dsm_filling_filling_bulldozer_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_filling_bulldozer_gizeh_crop_roi.tif
Due: isort, black, flake8, pylint, sphinx-build

lint: disable sonarqube
  sonar-project.properties
Due: none

tests: add end2end test for border interpolation
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/exogenous_filling.py
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_border_interpolation.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_paca_border_interpolation.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_filling_exogenous_filling_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_exogenous_filling_gizeh_crop_roi.tif
  tests/data/ref_output/mask_end2end_paca_border_interpolation.tif
  tests/data/ref_output/mask_end2end_paca_bulldozer.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add parameters documentation
  cars/applications/dsm_filling/bulldozer_filling.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

test: test end2end was unstable
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_border_interpolation.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_paca_border_interpolation.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/mask_end2end_paca_border_interpolation.tif
  tests/data/ref_output/mask_end2end_paca_bulldozer.tif
  tests/data/ref_output/mask_end2end_paca_matches_filling.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

tests: increase tolerance for bulldozer filling and remove bulldozer from border interpolation
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/dsm_end2end_paca_border_interpolation.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: filter points with nan values on X, Y or z attribute
  cars/applications/point_cloud_fusion/point_cloud_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use rasterio reproject to reproject geoid in exogenous_filling
  cars/applications/dsm_filling/dsm_filling_tools.py
  cars/applications/dsm_filling/exogenous_filling.py
Due: isort, black, flake8, pylint, sphinx-build

change border computation method to lower memory consumption
  cars/applications/dsm_filling/border_interpolation.py
  tests/data/ref_output/dsm_end2end_paca_border_interpolation.tif
Due: isort, black, flake8, pylint, sphinx-build

fix: use output_geoid, do not save files il save_intermediate data is false, add interpolation_method as parameter
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/exogenous_filling.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add interpolation_method as parameter of exogenous_filling method
  cars/applications/dsm_filling/exogenous_filling.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: fix copy of file in dump_dir
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/bulldozer_filling.py
  cars/applications/dsm_filling/exogenous_filling.py
Due: isort, black, flake8, pylint, sphinx-build

docs: fix in docstring
  cars/applications/dsm_filling/border_interpolation.py
  cars/applications/dsm_filling/exogenous_filling.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change the doc for codip
  docs/source/Additional_tips.rst
  docs/source/CARS overview/3d_products.rst
  docs/source/CARS overview/CARS_pipeline.rst
  docs/source/CARS overview/from_satellite_images_to_dsm.rst
  docs/source/CARS overview/in_a_nutshell.rst
  docs/source/CARS overview/index.rst
  docs/source/CARS overview/masks_and_classifications_usage.rst
  docs/source/developer_guide/contributing_to_cars.rst
  docs/source/how_CARS_works/masks_and_classifications_usage.rst
  docs/source/how_to_use_CARS.rst
  docs/source/how_to_use_CARS/From_sensor_data_to_DSM.rst
  docs/source/how_to_use_CARS/How_to_get_full_stereo_products.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  docs/source/index.rst
Due: sphinx-build

doc: change a name
  docs/source/how_to_use_CARS/From_sensor_data_to_DSM.rst
Due: sphinx-build

doc: change images
  docs/source/images/classif_vegetationmask_nice.png
  docs/source/images/classif_watermask_nice.png
Due: sphinx-build

doc: change in sparse matching app
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: dsm merging
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  cars/core/inputs.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/dsm_inputs.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  tests/data/ref_output/classification_end2end_ventoux_fusion.tif
  tests/data/ref_output/color_end2end_ventoux_fusion.tif
  tests/data/ref_output/color_end2end_ventoux_lr.tif
  tests/data/ref_output/colorisation_end2end_gizeh_reentrance.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_fusion.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_lr.tif
  tests/data/ref_output/dsm_inf_end2end_ventoux_lr.tif
  tests/data/ref_output/performance_map_end2end_ventoux_fusion.tif
  tests/data/ref_output/phased_dsm_end2end_ventoux_fusion.tif
  tests/data/ref_output/phased_dsm_end2end_ventoux_lr.tif
  tests/data/ref_output/weights_end2end_ventoux_lr.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: add weights as auxiliary output for dsm level
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  docs/source/how_to_use_CARS/basic_configuration.rst
  tests/data/ref_output/weights_end2end_ventoux_fusion.tif
  tests/data/ref_output/weights_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/weights_end2end_ventoux_with_color.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add pandora configuration
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/loaders/config_census11_sgm_20_160.json
  cars/applications/dense_matching/loaders/config_census11_sgm_20_80.json
  cars/applications/dense_matching/loaders/config_census11_sgm_38_464.json
  cars/applications/dense_matching/loaders/config_census11_sgm_72_309.json
  cars/applications/dense_matching/loaders/config_census_sgm_default.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
  tests/applications/dense_matching/test_dense_matching_config.py
  tests/applications/dense_matching/test_pandora_loader.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change the name of the confs
  cars/applications/dense_matching/loaders/config_census_sgm_homogeneous.json
  cars/applications/dense_matching/loaders/config_census_sgm_mountain_and_vegetation.json
  cars/applications/dense_matching/loaders/config_census_sgm_shadow.json
  cars/applications/dense_matching/loaders/config_census_sgm_urban.json
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change the names
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

notebook: change in notebook
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output
