Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: add profiling mode (elapsed time, memory)
  Makefile
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/sparse_matching/sift.py
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/sequential_cluster.py
  cars/pipelines/sensor_to_full_resolution_dsm/dsm_output.py
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

doc: add profiling option (dev guide)
  docs/source/user_guide/configuration.rst
Due: sphinx-build

docs: update CHANGELOG
  CHANGELOG.md
Due: none

refacto: enhance cluster profiling configuration
  Makefile
  cars/core/utils.py
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/sequential_cluster.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

doc: fix error
  docs/source/user_guide/configuration.rst
Due: sphinx-build

feat: propagate ambiguity until the end of pipeline
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/dense_matching/loaders/config_census_sgm.json
  cars/applications/dense_matching/loaders/config_mccnn.json
  cars/applications/dense_matching/regularisation.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/constants.py
  cars/core/constants_disparity.py
  cars/core/geometry/otb_geometry.py
  cars/orchestrator/registry/saver_registry.py
  docs/source/developer_guide/design/application.rst
  docs/source/user_guide/configuration.rst
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/applications/dense_matching/test_regularisation.py
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/data/ref_output/ambiguity_end2end_ventoux.tif
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update changelog
  CHANGELOG.md
  cars/applications/point_cloud_fusion/point_cloud_tools.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add release description
  CHANGELOG.md
Due: none

fix: freeze pyproj version 3.3.1
  setup.cfg
Due: none

feat: check global configuration
  cars/pipelines/pipeline_constants.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_full_res_dsm_constants.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: fix typo
  cars/pipelines/pipeline_template.py
Due: isort, black, flake8, pylint, sphinx-build

fix: big disparity map save error
  cars/data_structures/cars_dataset.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add dockerfile for dev
  Dockerfile
  Dockerfile.deps
  Dockerfile.jupyter
  Dockerfile.tutorial
  Makefile
Due: none

feat: fixed version for tuto, add separate target and clean docker
  Dockerfile.deps
  Dockerfile.jupyter
  Dockerfile.tutorial
  Makefile
Due: none

docs: update makefile help
  Makefile
Due: none

feat: modify min number of sift matches in conf
  cars/applications/sparse_matching/sift.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: quick refacto application template: remove pylint errors, remove pylint disable no-member + quick clean (masks)
  .pylintrc
  CHANGELOG.md
  cars/applications/application.py
  cars/applications/application_template.py
  cars/applications/resampling/resampling.py
  cars/conf/input_parameters.py
  cars/orchestrator/cluster/abstract_cluster.py
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: wrong image saved in notebooks
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_full_resolution_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_full_resolution_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

feat: use inline ignores
  Dockerfile
  Makefile
Due: none

fix: wget vfeat
  Dockerfile.deps
Due: none

feat: add docker options
  Makefile
Due: none

fix: docker build requires exactly 1 argument
  Makefile
Due: none

feat: add output file used_conf.json
  cars/applications/application_template.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/grid_generation/grid_constants.py
  cars/applications/grid_generation/grid_generation.py
  cars/applications/point_cloud_fusion/cloud_fusion_constants.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/point_cloud_fusion.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/point_cloud_outliers_removing/points_removing_constants.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/rasterization_constants.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling.py
  cars/applications/resampling/resampling_constants.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/applications/triangulation/triangulation_constants.py
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/sequential_cluster.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  docs/source/user_guide/cli.rst
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: save point cloud to las
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/inputs.py
  cars/data_structures/cars_dataset.py
  cars/data_structures/dataframe_converter.py
  cars/externals/otb_pipelines.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  docs/source/user_guide/cli.rst
  setup.cfg
  tests/data_structure/test_points.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: unit test
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/data_structures/cars_dataset.py
  cars/orchestrator/registry/saver_registry.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/data_structure/test_points.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: sonar quality
  cars/applications/point_cloud_outliers_removing/small_components.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove outputimage type otb
  cars/externals/otb_pipelines.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add point cloud laz saving doc
  docs/source/images/pc.png
  docs/source/user_guide/cli.rst
  docs/source/user_guide/configuration.rst
Due: sphinx-build

feat: add interpolation method
  cars/applications/fill_dense_matches/__init__.py
  cars/applications/fill_dense_matches/fill_disp.py
  cars/applications/fill_dense_matches/fill_disp_constants.py
  cars/applications/fill_dense_matches/fill_disp_tools.py
  cars/applications/fill_dense_matches/plane.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add dense matches filing application
  cars/applications/__init__.py
  cars/applications/dense_matches_filling/__init__.py
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/fill_disp_constants.py
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/fill_dense_matches/fill_disp.py
  cars/applications/fill_dense_matches/plane.py
  cars/applications/holes_detection/__init__.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/holes_detection/holes_detection.py
  cars/applications/holes_detection/holes_detection_tools.py
  cars/applications/sparse_matching/sift.py
  cars/data_structures/cars_dataset.py
  cars/data_structures/corresponding_tiles_tools.py
  cars/orchestrator/registry/abstract_registry.py
  cars/orchestrator/registry/replacer_registry.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add tests
  cars/applications/dense_matches_filling/plane.py
  cars/data_structures/corresponding_tiles_tools.py
  tests/data_structure/test_corresponding_tiles.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add dense matches filing application
  cars/applications/dense_matches_filling/fill_disp_tools.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add warning, dense_matches_filing doesnt support mp mode
  cars/applications/dense_matches_filling/plane.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/holes_detection/holes_detection_tools.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: update applications get conf
  cars/applications/dense_matches_filling/__init__.py
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/holes_detection/holes_detection.py
  cars/applications/holes_detection/holes_detection_tools.py
  cars/data_structures/corresponding_tiles_tools.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: remove linter desabled
  cars/applications/dense_matches_filling/__init__.py
  cars/applications/dense_matching/__init__.py
  cars/applications/dense_matching/loaders/__init__.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/dense_matching/loaders/weight_mccnn/__init__.py
  cars/applications/grid_generation/__init__.py
  cars/applications/holes_detection/__init__.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/holes_detection/holes_detection.py
  cars/applications/point_cloud_fusion/__init__.py
  cars/applications/point_cloud_outliers_removing/__init__.py
  cars/applications/rasterization/__init__.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/resampling/__init__.py
  cars/applications/sparse_matching/__init__.py
  cars/orchestrator/cluster/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update tests
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/rasterization/simple_gaussian.py
  cars/data_structures/cars_dataset.py
  cars/data_structures/format_transformation.py
  tests/data/ref_output/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/msk_end2end_gizeh_crop.tif
  tests/data_structure/test_format_transformation.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
