Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: SharelocGeometry if OTBGeometry not available
  cars/applications/__init__.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

test: increase tolerance performance map
  tests/test_end2end.py
Due: isort, black, flake8, pylint

test: update terrain_bbox (gdal>pyproj)
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
Due: isort, black, flake8, pylint

fix: add hdr file in package_data
  setup.cfg
Due: none

feat: remove install target dependency
  Makefile
Due: none

feat: add install-dev-otb-free
  Makefile
Due: none

docs: new installation
  docs/source/faq.rst
  docs/source/index.rst
  docs/source/install.rst
  docs/source/install_with_otb.rst
Due: sphinx-build

docs: add vlfeat autodoc
  Makefile
Due: none

fix: issue with latex : https://github.com/vlfeat/vlfeat/issues/76
  Makefile
Due: none

docs: remove rebuild documentation (see make docs)
  README.md
Due: none

docs: initial elevation as file (shareloc compatibility)
  README.md
Due: none

docs: add subsection
  docs/source/faq.rst
Due: sphinx-build

docs: typo
  docs/source/install.rst
Due: sphinx-build

docs: rewording
  docs/source/install.rst
Due: sphinx-build

docs: typo
  docs/source/install_with_otb.rst
Due: sphinx-build

docs: initial elevation as file (shareloc compatibility)
  docs/source/getting_started.rst
Due: sphinx-build

docs: fix Title underline too short
  docs/source/install.rst
Due: sphinx-build

fix: correct pylint otb erros in otb free install mode
  cars/core/geometry/otb_geometry.py
  cars/core/otb_adapters.py
  tests/core/geometry/test_otb_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add logging note/doc
  docs/source/user_guide/configuration.rst
Due: sphinx-build

feat: add workers logger
  cars/applications/dense_matches_filling/plane.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/cars.py
  cars/conf/input_parameters.py
  cars/conf/log_conf.py
  cars/core/cars_logging.py
  cars/core/geometry/__init__.py
  cars/core/geometry/otb_geometry.py
  cars/data_structures/cars_dataset.py
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/dask_config/distributed.yaml
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

fix: bug corrected matches saving
  cars/applications/grid_generation/grid_correction.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update AUTHORS.md
  AUTHORS.md
Due: none

fix: typo PRODUCT2 < PRODUCT1
  cars/conf/input_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

fix: save separate matches according to correction
  cars/applications/grid_generation/grid_constants.py
  cars/applications/grid_generation/grid_correction.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update tests
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: dimension issue
  cars/applications/triangulation/triangulation_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: clean logging
  cars/applications/triangulation/triangulation_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: avoid IndexError during keypoints filtering
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove tiles filled with nan
  cars/applications/resampling/bicubic_resampling.py
  cars/core/geometry/__init__.py
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

test: add geoid offset from pandas
  cars/applications/triangulation/triangulation_tools.py
  tests/applications/triangulation/test_triangulation_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove enforced pyproj version
  setup.cfg
Due: none

feat: dump unused epipolar tiles , add tests
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/resampling/bicubic_resampling.py
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update geometry
  cars/applications/resampling/bicubic_resampling.py
  cars/core/geometry/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

fix: sonar
  cars/applications/resampling/bicubic_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

fix: update docker deps
  Dockerfile.deps
Due: none

feat: remove use of sec disp and change application interfaces
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/grid_generation/grid_correction.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_fusion/point_cloud_fusion.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/core/tiling.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: adapt new interfaces to notebook tutorials
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

docs: remove use_sec_disp parameter in documentation
  docs/source/developer_guide/design/application.rst
  docs/source/user_guide/configuration.rst
Due: sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
