Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

doc: update doc
  docs/source/user_guide/configuration.rst
Due: sphinx-build

feat: move epipolar a priori as input param
  cars/applications/grid_generation/grid_correction.py
  cars/conf/input_parameters.py
  cars/pipelines/pipeline_constants.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_full_res_dsm_constants.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update epipolar a priori
  docs/source/user_guide/configuration.rst
Due: sphinx-build

quality: decrease complexity function
  cars/pipelines/sensor_to_full_resolution_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

test: update baseline
  tests/data/ref_output/ambiguity_end2end_ventoux.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

quality: update black-missing formating
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

test: update baseline
  tests/data/ref_output/ambiguity_end2end_ventoux.tif
Due: none

test: fix config settings
  tests/test_end2end.py
Due: isort, black, flake8, pylint

test: update triangulation baseline
  tests/applications/triangulation/test_triangulation_tools.py
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/cloud1_ref_pandora.nc
  tests/data/ref_output/triangulation1_ref.nc
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint

feat: add nodata to color
  cars/applications/triangulation/triangulation_tools.py
  cars/data_structures/dataframe_converter.py
Due: isort, black, flake8, pylint, sphinx-build

fix: set nodata into epic X,Y and Z
  cars/applications/triangulation/triangulation_tools.py
Due: isort, black, flake8, pylint, sphinx-build

test: update baseline
  tests/data/ref_output/cloud1_ref_pandora
Due: none

fix: pipeline merged configurations
  cars/pipelines/pipeline_template.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: add tests
  tests/pipelines/test_pipeline_template.py
Due: isort, black, flake8, pylint

tests: update
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: prevent scipy issue (version!=1.10.0)
  setup.cfg
Due: none

doc: docstring pipeline template
  cars/pipelines/pipeline_template.py
  tests/pipelines/test_pipeline_template.py
Due: isort, black, flake8, pylint, sphinx-build

test: adapt input paths
  tests/applications/grid_generation/test_grids.py
  tests/data/input/test_application/color1.geom
  tests/data/input/test_application/color1.tif
  tests/data/input/test_application/grid_generation_gizeh_ROI
  tests/data/input/test_application/img1.geom
  tests/data/input/test_application/img1.tif
  tests/data/input/test_application/img2.geom
  tests/data/input/test_application/img2.tif
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref
Due: isort, black, flake8, pylint

test: add application tes: grid generation (general case)
  tests/applications/grid_generation/test_grids.py
  tests/data/input/test_application/grid_generation_gizeh_ROI
  tests/data/input/test_application/srtm_dir/N29E031_KHEOPS.tif
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref
  tests/helpers.py
Due: isort, black, flake8, pylint

fix: update curl=7.68.0-1ubuntu2.15
  Dockerfile.deps
Due: none

feat: crop right disp
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove use of setup.py and remove importlib useless dependency
  Makefile
  setup.cfg
Due: none

fix: robustify version to get in Makefile through cars/__init__.py
  Makefile
Due: none

feat: crop right disparity map
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/triangulation/triangulation_tools.py
  tests/applications/dense_matching/test_dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update unit test references
  tests/data/ref_output/disp1_sec_pandora.nc
  tests/data/ref_output/disp1_sec_pandora_msk_ref.nc
  tests/data/ref_output/disp1_sec_pandora_msk_sec.nc
  tests/data/ref_output/disp3_sec_pandora.nc
Due: none

feat: crop right disparity map
  cars/applications/dense_matches_filling/plane.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add key name in pc saving
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: dsm low res
  cars/applications/grid_generation/grid_correction.py
Due: isort, black, flake8, pylint, sphinx-build

Fix: clean logging
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: udpdate vim package (docker-deps)
  Dockerfile.deps
Due: none

feat: add parametrized application test
  tests/applications/grid_generation/test_grids.py
  tests/data/input/test_application/grid_generation_gizeh_ROI
  tests/data/input/test_application/grid_generation_gizeh_ROI_color
  tests/data/input/test_application/grid_generation_gizeh_ROI_no_color
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_color
  tests/data/ref_output_application/grid_generation/grid_generation_gizeh_ROI_ref_no_color
  tests/helpers.py
Due: isort, black, flake8, pylint

feat: add disparity intervall computation from cloud filtering
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/constants.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: docs and notebooks update with new disparity interval
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/triangulation_tools.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  docs/source/user_guide/overview.rst
  tests/applications/sparse_matching/test_sparse_matching_tools.py
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_full_resolution_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_full_resolution_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: add disparity intervall computation from cloud filtering
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/triangulation_tools.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: docs and notebooks update with new disparity interval
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/triangulation_tools.py
  tests/data/ref_output/clr_end2end_paca.tif
  tests/data/ref_output/clr_end2end_ventoux.tif
  tests/data/ref_output/clr_end2end_ventoux_4bands.tif
  tests/data/ref_output/clr_end2end_ventoux_with_roi.tif
  tests/data/ref_output/clr_end2end_ventoux_with_snap_to_img1.tif
  tests/data/ref_output/dsm_end2end_paca.tif
  tests/data/ref_output/dsm_end2end_ventoux_egm96.tif
  tests/data/ref_output/dsm_end2end_ventoux_with_roi.tif
  tests/data/ref_output/dsm_end2end_ventoux_with_snap_to_img1.tif
  tests/data/ref_output/dsm_mean_end2end_ventoux.tif
  tests/data/ref_output/dsm_std_end2end_ventoux.tif
  tests/data/ref_output/msk_end2end_paca.tif
  tests/test_end2end.py
  tutorials/sensor_to_full_resolution_dsm_matching_methods_comparison.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

test: add more test outputs for disparity intervall difference
  tests/data/ref_output/clr_end2end_ventoux_egm96.tif
  tests/data/ref_output/clr_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_n_pts_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_pts_in_cell_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_std_end2end_ventoux_quality_stats.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint
