Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: use crs instead of relying on an epsg with dsm inputs
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/applications/auxiliary_filling/auxiliary_filling_wrappers.py
  cars/applications/dsm_filling/border_interpolation_app.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
  cars/applications/dsm_filling/exogenous_filling_app.py
  cars/core/inputs.py
  cars/core/projection.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: use the right function for projection
  cars/applications/dsm_filling/border_interpolation_app.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: added new argument to rasterization
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: use crs when projecting intersections
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: changed vcrs computation's position in the pipeline
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: added scaling_coeff to new unit test
  tests/pipelines/test_output.py
Due: isort, black, flake8, pylint

bug: fix scaling inversion in tile offset when reading input dsm tiles
  cars/pipelines/parameters/dsm_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

fix: apply margin to terrain bounds with libgeo
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/resampling/resampling_algo.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update ref
  tests/data/ref_output/ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/color_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/dem_median_end2end_ventoux.tif
  tests/data/ref_output/dem_median_end2end_ventoux_8bit.tif
  tests/data/ref_output/dem_median_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/dem_median_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/dsm_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/dsm_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_n_pts_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_pts_in_cell_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_std_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/epi_pc_X_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Y_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Z_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_classification_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/filling_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/mask_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/weights_end2end_ventoux_no_elevation.tif
Due: none

lint: black
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: robustify direct and inverse locs
  cars/applications/dense_matching/disparity_grid_algo.py
  cars/core/geometry/abstract_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add linear margin for DEM for libgeo
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/core/geometry/abstract_geometry.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change margin
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: use default alt for safe direct loc
  cars/core/geometry/abstract_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: robustify filling with nodata
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/applications/dsm_filling/border_interpolation_app.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
  cars/applications/dsm_filling/exogenous_filling_app.py
  cars/applications/rasterization/simple_gaussian_app.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/unit/unit_pipeline.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/ref_epipolar_disp_ground_truth_left.tif
  tests/data/ref_output/ref_epipolar_disp_ground_truth_right.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fill nodata of dem median with zeros
  cars/applications/dem_generation/dem_generation_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: replace 0 by default_alt
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dem_generation/dichotomic_generation_app.py
  cars/applications/dem_generation/rasterization_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: removed limitation on the pandora conf with intervals&fast cross validation
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

feat: new pandora release
  pyproject.toml
Due: none

tests: fix ci
  cars/applications/dem_generation/dichotomic_generation_app.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: refacto default pipeline
  cars/applications/rasterization/simple_gaussian_app.py
  cars/applications/resampling/bicubic_resampling_app.py
  cars/pipelines/conf_resolution/conf_final_resolution.json
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/unit/unit_pipeline.py
  tests/pipelines/test_default.py
Due: isort, black, flake8, pylint, sphinx-build

fix: keep confidence filtering for intermediate resolutions
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update applications
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_override_all_resolutions.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_override_single_resolution.yaml
Due: sphinx-build

test: update
  tests/test_end2end.py
Due: isort, black, flake8, pylint

notebook: fix notebooks
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

feat: change height margin function
  cars/applications/dem_generation/rasterization_app.py
  tests/pipelines/test_advanced_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

fix: restore dem_generation
  cars/applications/dem_generation/rasterization_app.py
Due: isort, black, flake8, pylint, sphinx-build

test: fix logger
  cars/orchestrator/cluster/log_wrapper.py
  tests/orchestrator/cluster/test_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fixes
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dem_generation/rasterization_app.py
  cars/core/geometry/abstract_geometry.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: rebase
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: doc
  cars/pipelines/parameters/advanced_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

fix: rebase
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: merge used_conf
  cars/core/cars_logging.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove no failure mode
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/disparity_grid_algo.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/sensor_inputs_constants.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: generate fused profiling report
  cars/cars.py
  cars/core/cars_logging.py
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_profiler.py
  cars/orchestrator/cluster/sequential_cluster.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: test unit
  tests/pipelines/test_advanced_parameters.py
Due: isort, black, flake8, pylint

feat: remove resolution in dem generation
  cars/applications/dem_generation/rasterization_app.py
  cars/core/inputs.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/unit/unit_pipeline.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: orchestrator set to sequential
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output
