Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

docs: geom deprecated
  docs/source/example_configs/getting_started/gizeh_configfile.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/inputs_sensor_image_pairing.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_pairs_1_dsm.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_pairs_n_depth_maps.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_n_pairs_n_point_clouds.yaml
  docs/source/example_configs/how_to_use_CARS/basic_configuration/output_sparse_dsm.yaml
  docs/source/example_configs/how_to_use_CARS/how_to_launch_CARS/configfile.yaml
Due: sphinx-build

feat: remove geom from cart starter and extract roi
  cars/extractroi.py
  cars/starter.py
  docs/source/example_configs/how_to_use_CARS/from_sensor_data_to_DSM/dimap_2.yaml
  docs/source/example_configs/how_to_use_CARS/from_sensor_data_to_DSM/with_a_roi_1.yaml
  docs/source/how_to_use_CARS/From_sensor_data_to_DSM.rst
  tutorials/data_gizeh_small.tar.bz2
Due: isort, black, flake8, pylint, sphinx-build

fix: docstring and tutorials
  cars/extractroi.py
  tutorials/data_gizeh_small.tar.bz2
Due: isort, black, flake8, pylint, sphinx-build

feat: adapt dem size to roi
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

notebooks: update notebooks to new abstractgeometry API
  cars/core/geometry/abstract_geometry.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: set default alt as median of dem
  cars/applications/dem_generation/rasterization_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: downscale dem min and max
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dem_generation/rasterization_app.py
  cars/core/geometry/abstract_geometry.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/unit/unit_pipeline.py
  tests/pipelines/test_advanced_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

feat: adapt dem size to roi
  cars/applications/dem_generation/dem_generation_wrappers.py
  cars/applications/dense_matching/census_mccnn_sgm_app.py
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/sparse_matching/sift_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/unit/unit_pipeline.py
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: libgeo fix
  cars/core/geometry/abstract_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: epipolar points outside of grid
  cars/applications/dense_matching/disparity_grid_algo.py
  cars/applications/grid_generation/grid_generation_algo.py
  cars/applications/triangulation/triangulation_algo.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

lint
  cars/applications/dense_matching/disparity_grid_algo.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add parameters in docs
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

lint: sonarqube
  sonar-project.properties
Due: none

docs: add dem_roi_margin parameter
  cars/applications/dem_generation/dem_generation_wrappers.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: robustify disp grid gen when dem min does not cover a tile
  cars/applications/dense_matching/disparity_grid_algo.py
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: remove geomodel from notebooks config
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

docs: adapt doc for margin
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

bug: fix inverted geoid offset in auxiliary_filling
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
Due: isort, black, flake8, pylint, sphinx-build

feat: removed activated from pc outlier removal and dsm filling applications
  cars/applications/dsm_filling/border_interpolation_app.py
  cars/applications/dsm_filling/bulldozer_filling_app.py
  cars/applications/dsm_filling/exogenous_filling_app.py
  cars/applications/point_cloud_outlier_removal/small_components_app.py
  cars/applications/point_cloud_outlier_removal/statistical_app.py
  cars/pipelines/parameters/application_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: renamed sparse_matching.sift to sparse_matching
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: added documentation for dynamic applications
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_1.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_2.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_3.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_point_cloud_outlier_removal.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_point_cloud_outlier_removal_1.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_point_cloud_outlier_removal_2.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_point_cloud_outlier_removal_3.yaml
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: added dynamic apps=None in the final used conf
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: added dynamic apps for point cloud outlier removal
  cars/pipelines/parameters/application_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: added dynamic keys for dsm filling
  cars/pipelines/parameters/application_parameters.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: updated .sift and activated
  cars/bundleadjustment.py
  tests/applications/dsm_filling/test_dsm_filling.py
  tests/applications/dsm_filling/test_dsm_filling_config.py
  tests/applications/point_cloud_outlier_removal/test_outlier_removal_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

docs: removed activated for dynamic apps
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_1.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_2.yaml
  docs/source/example_configs/how_to_use_CARS/advanced_configuration/applications_dsm_filling_3.yaml
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: changed error to warning in bulldozer filling
  cars/applications/dsm_filling/bulldozer_filling_app.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: removed activated param
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

test: fixed test config creation, updated refs
  tests/test_end2end.py
Due: isort, black, flake8, pylint

ref2:change ref
  tests/data/ref_output/source_pc_end2end_ventoux_split.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split_4326.tif
Due: none

ref: change ref
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/colorisation_end2end_gizeh_reentrance.tif
Due: none

feat: add epsg in texture
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change the way of defining the epsg in texture
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: add vertical crs
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors_app.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
