Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: add utm lib
  setup.cfg
Due: none

feat: remove otb remote module demreader
  otb_remote_module/app/otbDEMReader.cxx
Due: none

fix: typo
  tests/core/test_preprocessing.py
Due: isort, black, flake8, pylint

feat: classif-confidence support for the dpc to dsm pipeline
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/constants.py
  cars/core/outputs.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
  docs/source/user_guide/configuration.rst
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
  tests/data/input/epi_pc_gizeh/epi_classification.tif
  tests/data/input/epi_pc_gizeh/epi_confidence1.tif
  tests/data/input/epi_pc_gizeh/epi_confidence2.tif
  tests/data/ref_output/classif_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove log for optional data in registry and enable free confidence name
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/orchestrator/orchestrator.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove otb remote module
  otb_remote_module/app/CMakeLists.txt
Due: none

fix: update software tools
  Dockerfile.deps
Due: none

fix: laspy deps (fix urllib3<1.27)
  setup.cfg
Due: none

fix: move init statements out of raises context
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/test_cars.py
Due: isort, black, flake8, pylint

docs: add comments for checks that are not in application schema
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add conditions for application parameters
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: add missing checks
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/resampling/bicubic_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add 'Available value' column in docs
  docs/source/user_guide/configuration.rst
Due: sphinx-build

feat: add checks on orchestrator parameters
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

docs: rectifications and fill available value column
  docs/source/user_guide/configuration.rst
Due: sphinx-build

refacto: change rasterisation parameters from write_xxx to save_xxx
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/conf_pipeline/sensor_to_sparse_dsm.json
  docs/source/user_guide/configuration.rst
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

test: test check_conf methods of applications
  cars/applications/grid_generation/epipolar_grid_generation.py
  tests/applications/dense_matching/test_dense_matching_config.py
  tests/applications/dense_matching_filling/__init__.py
  tests/applications/dense_matching_filling/test_dense_matching_filling_config.py
  tests/applications/grid_generation/test_grid_generation_config.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing_config.py
  tests/applications/rasterization/test_rasterization_config.py
  tests/applications/resampling/test_resampling_config.py
  tests/applications/sparse_matching/test_sparse_matching_config.py
Due: isort, black, flake8, pylint, sphinx-build

docs: change docstrings of tests
  tests/applications/dense_matching/test_dense_matching_config.py
  tests/applications/dense_matching_filling/test_dense_matching_filling_config.py
  tests/applications/grid_generation/test_grid_generation_config.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing_config.py
  tests/applications/rasterization/test_rasterization_config.py
  tests/applications/resampling/test_resampling_config.py
  tests/applications/sparse_matching/test_sparse_matching_config.py
Due: isort, black, flake8, pylint

fix: no confidence provided
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: first shareloc geometry plugin integration without tests
  .pylintrc
  cars/applications/__init__.py
  cars/applications/resampling/resampling_tools.py
  cars/conf/input_parameters.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/preprocessing.py
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

fix: enable stop sphinx doc generation on error and warnings
  Makefile
Due: none

fix: bug loc direct inversion between OTB and shareloc
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: configuration table rebase clean between master and branch
  docs/source/user_guide/configuration.rst
Due: sphinx-build

fix: update cars code headers for autoapi doctype to work, fix warnings unindent
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/core/datasets.py
  cars/core/geometry/shareloc_geometry.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/pipeline_template.py
Due: isort, black, flake8, pylint, sphinx-build

fix: clarify image envelop polygon code
  cars/core/geometry/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add shareloc tests (grid + triangulation) + ventoux end2end test and data
  tests/applications/grid_generation/test_grids.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/conftest.py
  tests/data/input/phr_ventoux/input_shareloc.json
  tests/data/input/stereo_input/tests_configurations.json
  tests/data/ref_output/clr_end2end_ventoux_shareloc.tif
  tests/data/ref_output/dsm_end2end_ventoux_shareloc.tif
  tests/test_end2end_shareloc.py
Due: isort, black, flake8, pylint

docs: clarify comment in x/y inversion cars/shareloc image_envelopp bug
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add shareloc plugin/loader configuration doc
  docs/source/common.rst
  docs/source/user_guide/cli.rst
  docs/source/user_guide/configuration.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/input_image_preparation.rst
  docs/source/user_guide/plugins.rst
Due: sphinx-build

feat: add test localization for shareloc geometry
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint

fix: adapt commit explanation for test_generate_epipolar_grids baseline difference
  tests/applications/grid_generation/test_grids.py
Due: isort, black, flake8, pylint

fix: change comment for triangulation tests results between shareloc and OTB and adapt precision
  tests/applications/triangulation/test_triangulation_tools.py
Due: isort, black, flake8, pylint

fix: cars docker deps
  Dockerfile.deps
Due: none

fix: fix test values and stabilize tests to 10 decimals
  tests/applications/grid_generation/test_grids.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint

fix: vanishing ROI description
  docs/source/user_guide/configuration.rst
Due: sphinx-build

feat: correct saving of laz point clouds for splitted pipeline
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/data_structures/cars_dataset.py
Due: isort, black, flake8, pylint, sphinx-build

test: change ref for split pipeline because of uint8 cast
  tests/data/ref_output/clr_end2end_ventoux_split.tif
Due: none

doc: fix water mask procedure
  docs/source/user_guide/input_image_preparation.rst
Due: sphinx-build

refac: replace osr by pyproj, move otb installation and add vlfeat target
  Makefile
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/core/projection.py
  cars/core/tiling.py
  setup.cfg
  setup.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update links for pypi
  README.md
Due: none

docs: add MANIFEST.in
  MANIFEST.in
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
