Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

test:fix in test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: put the wrong variable
  cars/applications/sparse_matching/abstract_sparse_matching_app.py
Due: isort, black, flake8, pylint, sphinx-build

test: update transform grid
  tests/applications/grid_generation/test_grids.py
Due: isort, black, flake8, pylint

bug: fix classification fusion in dense matching (backport from cars 1109 MR 893)
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/cpp/dense_matching_cpp.py
  cars/applications/dense_matching/cpp/includes/dense_matching.hpp
  cars/applications/dense_matching/cpp/src/dense_matching.cpp
  cars/applications/dense_matching/dense_matching_tools.py
  docs/source/how_to_use_CARS/advanced_configuration.rst
  tests/applications/dense_matching/test_dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

ci: add a job to sync release 0.12 with github
  .gitlab-ci.yml
Due: none

ci: gitlab-ci syntax
  .gitlab-ci.yml
Due: none

ci: update gitlab ci pipeline for release_0_12_1 branch and cars_0_12_patches branches
  .gitlab-ci.yml
Due: none

fix: save classif in dump_dir if a dsm_filling app is activated
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: add parameter to choose if valid pixels are filled
  cars/applications/dense_match_filling/fill_disp_algo.py
  cars/applications/dense_match_filling/plane_app.py
  cars/applications/dense_match_filling/zero_padding_app.py
Due: isort, black, flake8, pylint, sphinx-build

fix: removed confidences saving and reentering through depth maps, only save ambiguity.tif as the official output;\ntest: changed tests related to confidences
  cars/applications/dense_matching/dense_matching_wrappers.py
  cars/applications/point_cloud_fusion/pc_fusion_algo.py
  cars/applications/point_cloud_fusion/pc_fusion_wrappers.py
  cars/applications/rasterization/rasterization_algo.py
  cars/applications/rasterization/rasterization_wrappers.py
  cars/applications/rasterization/simple_gaussian_app.py
  cars/applications/triangulation/line_of_sight_intersection_app.py
  cars/applications/triangulation/triangulation_wrappers.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/parameters/depth_map_inputs.py
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
  tests/data/ref_output/ambiguity_end2end_ventoux.tif
  tests/data/ref_output/ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/ambiguity_end2end_ventoux_split.tif
  tests/data/ref_output/ambiguity_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif_no_merging
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/confidence_from_ambiguity_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/confidence_from_intensity_std_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

docs: updated docs to reflect changes; updated dsp inputs to have only ambiguity as an input instead of confidences
  cars/core/constants.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/unit/unit_pipeline.py
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

test: fixed refs for reversed ambiguity
  tests/data/ref_output/ambiguity_end2end_ventoux.tif
  tests/data/ref_output/ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/ambiguity_end2end_ventoux_split.tif
  tests/data/ref_output/ambiguity_end2end_ventoux_split_no_merging.tif
Due: none

test: modified wrong ref for new ambiguity
  tests/data/ref_output/ambiguity_end2end_ventoux_split_no_merging.tif
Due: none

ci: deactivate unstable assertions for release
  tests/test_end2end.py
Due: isort, black, flake8, pylint

doc: update release notes
  CHANGELOG.md
Due: none

feat: put no data at -9999 in epi disp filled
  cars/applications/dense_match_filling/abstract_dense_match_filling_app.py
  cars/applications/dense_match_filling/plane_app.py
  cars/applications/dense_match_filling/zero_padding_app.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add parameter in docs
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: give absolute path of json
  cars/bundleadjustment.py
Due: isort, black, flake8, pylint, sphinx-build

feat: put transform to abspath into pipeline init
  cars/bundleadjustment.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: put shareloc at 0.2.9
  pyproject.toml
Due: none

fix: renamed source_pc to contributing_pair
  cars/applications/rasterization/simple_gaussian_app.py
  tests/data/ref_output/contributing_pair_end2end_ventoux_split copy.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_split.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_split_4326.tif
  tests/data/ref_output/contributing_pair_end2end_ventoux_split_no_merging.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: split transform of grid left and right
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

fix: add offset of output geoid in dem generation app
  cars/applications/dem_generation/dichotomic_generation_app.py
  cars/applications/dem_generation/rasterization_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: replace reference for one test
  tests/data/ref_output/color_end2end_ventoux_egm96.tif
  tests/data/ref_output/color_end2end_ventoux_egm96_custom_geoid.tif
  tests/data/ref_output/dsm_end2end_ventoux_egm96.tif
  tests/data/ref_output/dsm_end2end_ventoux_egm96_custom_geoid.tif
Due: none

fix: fix in default and unit pipeline
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in unit pipeline
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove geom plugin
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove corrected_matches_ds function in estimate_right_grid_correct
  cars/applications/grid_generation/grid_correction_app.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: change test
  tests/applications/grid_generation/test_grids.py
Due: isort, black, flake8, pylint

feat: added support for yaml inputs
  cars/bundleadjustment.py
  cars/cars.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/depth_map_inputs.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/parameters/sensor_inputs.py
  cars/pipelines/parameters/sensor_loaders/basic_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/pivot_sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader.py
  cars/pipelines/parameters/sensor_loaders/sensor_loader_template.py
  cars/pipelines/pipeline.py
  cars/pipelines/unit/unit_pipeline.py
  pyproject.toml
  tests/helpers.py
  tests/pipelines/test_advanced_parameters.py
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: change notebook
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
Due: jupyter-nb-clear-output

fix: change notebook x2
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
Due: jupyter-nb-clear-output

docs: added automatic yaml to json conversion on doc build; replaced hardcoded configs with file includes
  .gitignore
  docs/source/cars_configs_extension.py
  docs/source/conf.py
  docs/source/developer_guide/creating_a_plugin.rst
  docs/source/getting_started.rst
  docs/source/how_to_use_CARS/From_sensor_data_to_DSM.rst
  docs/source/how_to_use_CARS/advanced_configuration.rst
  docs/source/how_to_use_CARS/basic_configuration.rst
  docs/source/how_to_use_CARS/how_to_launch_CARS.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: added format support to cars-starter and cars-bundle-adjustment
  cars/bundleadjustment.py
  cars/starter.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
