Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: specify the name of the file where one can find the replaced dsm.tif
  docs/source/usage.rst
Due: sphinx-build

bug: revert changes on attribute copy
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
Due: isort, black, flake8, pylint, sphinx-build

fix: post-rebase fixes
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: docs now lists all dump_dir outputs of dsm_filling
  docs/source/usage.rst
Due: sphinx-build

test: add laz test data for pc filtering
  tests/data/input/nimes_laz/subsampled_nimes.laz
Due: none

feature: expose half_window_size parameter in small_components and statistical filtering applications
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: use parameter use_median to statistical outlier filtering application in point cloud mode
  cars/applications/point_cloud_outliers_removing/statistical.py
Due: isort, black, flake8, pylint, sphinx-build

bug: don't use nodata value from dem median in disparity grids generation
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

bug: add point_cloud_outliers_removing applications to needed apps for sensor to depth maps pipelines
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: write last level of filtered depth map into depth map directory when required
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: use median and quartiles instead of mean/stddev by default in statistical outlier filtering
  cars/applications/point_cloud_outliers_removing/statistical.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add use median and half_epipolar_size to outlier filtering app doc
  docs/source/usage.rst
Due: sphinx-build

feat: add z_inf and z_sup as input in depth_maps inputs
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/pipelines/parameters/depth_map_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add z_inf and z_sup in the depth_map inputs
  docs/source/usage.rst
Due: sphinx-build

feat: simplification of the check inputs
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

test: modification of test_compute_dem_intersection_with_poly
  tests/core/test_projection.py
Due: isort, black, flake8, pylint

bug: fix test on output_dir parameter activation
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
Due: isort, black, flake8, pylint, sphinx-build

test: set use_median=False for statistical outlier filtering in tests for non regression
  cars/pipelines/default/default_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename point cloud outliers removing into point cloud outlier removal
  cars/applications/__init__.py
  cars/applications/point_cloud_outlier_removal/__init__.py
  cars/applications/point_cloud_outlier_removal/outlier_removal_tools.py
  cars/applications/point_cloud_outlier_removal/pc_out_removal.py
  cars/applications/point_cloud_outlier_removal/point_removal_constants.py
  cars/applications/point_cloud_outlier_removal/small_components.py
  cars/applications/point_cloud_outlier_removal/statistical.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/default/default_pipeline.py
  docs/source/usage.rst
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

bug: only save triangulation output coordinates in official product if depth map is requested
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename outliers_removing into outlier_removal in tests
  tests/applications/point_cloud_outlier_removal/__init__.py
  tests/applications/point_cloud_outlier_removal/test_outlier_removal.py
  tests/applications/point_cloud_outlier_removal/test_outlier_removal_config.py
Due: isort, black, flake8, pylint

quality: remove duplicated and unused functions
  cars/applications/point_cloud_outlier_removal/outlier_removal_tools.py
Due: isort, black, flake8, pylint, sphinx-build

bug: fix dataset name for statistical merged point cloud
  cars/applications/point_cloud_outlier_removal/statistical.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: factorize the creation of the epipolar CarsDataset in PointCloudOutlierRemoval applications
  cars/applications/point_cloud_outlier_removal/pc_out_removal.py
  cars/applications/point_cloud_outlier_removal/small_components.py
  cars/applications/point_cloud_outlier_removal/statistical.py
Due: isort, black, flake8, pylint, sphinx-build

quality: factorize more code in PointCloudOutlierRemoval
  cars/applications/point_cloud_outlier_removal/pc_out_removal.py
  cars/applications/point_cloud_outlier_removal/small_components.py
  cars/applications/point_cloud_outlier_removal/statistical.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename outliers_removing into outlier_removal in notebooks
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: usage negative axis with srtm
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

packaging: set cars-filter version to 0.1.*
  setup.cfg
Due: none

doc: refacto doc dev
  docs/source/developer_guide/algorithm_conception.rst
  docs/source/developer_guide/concepts/application.rst
  docs/source/developer_guide/concepts/carsdataset.rst
  docs/source/developer_guide/concepts/cluster_mp.rst
  docs/source/developer_guide/concepts/orchestrator.rst
  docs/source/developer_guide/concepts/plugin.rst
  docs/source/developer_guide/concepts/software_conception.rst
  docs/source/developer_guide/contributing_to_cars.rst
  docs/source/developer_guide/creating_a_plugin.rst
  docs/source/developer_guide/faq_dev.rst
  docs/source/developer_guide/index.rst
  docs/source/developer_guide/troubleshooting.rst
  docs/source/index.rst
  docs/source/software_design/index.rst
  docs/source/software_design/interaction.rst
  docs/source/software_design/orchestrator.rst
  docs/source/software_design/plugin.rst
Due: sphinx-build

feature: use cars-filter in epipolar mode when outlier filtering app activated and merging is deactivated
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change of the sift configuration
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add changes in the sift configuration
  docs/source/usage.rst
Due: sphinx-build

Apply 1 suggestion(s) to 1 file(s)
  cars/applications/dem_generation/dichotomic_generation.py
Due: isort, black, flake8, pylint, sphinx-build

Fix bulldozer
  cars/applications/dsm_filling/bulldozer_config/base_config.yaml
  cars/applications/dsm_filling/bulldozer_filling.py
  setup.cfg
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_no_roi.tif
  tests/data/ref_output/dsm_filling_dsm_filled_gizeh_crop_roi.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change dense_matches to dense_match and holes_detection to hole_detection
  cars/applications/__init__.py
  cars/applications/dense_match_filling/__init__.py
  cars/applications/dense_match_filling/dense_match_filling.py
  cars/applications/dense_match_filling/fill_disp_constants.py
  cars/applications/dense_match_filling/fill_disp_tools.py
  cars/applications/dense_match_filling/plane.py
  cars/applications/dense_match_filling/zero_padding.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/hole_detection/__init__.py
  cars/applications/hole_detection/cloud_to_bbox.py
  cars/applications/hole_detection/hole_detection.py
  cars/applications/hole_detection/hole_detection_tools.py
  cars/pipelines/default/default_pipeline.py
  docs/source/usage.rst
  tests/applications/dense_matching_filling/test_dense_matching_filling_config.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: robust to different classif transform
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/resampling/resampling_tools.py
Due: isort, black, flake8, pylint, sphinx-build

use new version of libsgm
  Makefile
  cars/__init__.py
  cars/applications/dense_matching/dense_matching_tools.py
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

fix: output depth map of outlier removal application is 4326 and not UTM
  cars/applications/point_cloud_outlier_removal/outlier_removal_tools.py
Due: isort, black, flake8, pylint, sphinx-build
