Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: fix for initial elevation
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for epi_step
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for disp to alt ratio
  cars/applications/grid_generation/transform_grid.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in transform grid and rasterization
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/grid_generation/transform_grid.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add altitudes min and max in ROI estimation for DEM
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/grid_generation/grid_correction_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/unit/unit_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add dem_roi_margin parameter
  cars/applications/grid_generation/grid_correction_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: pu no data at -9999 in epi_disp.tif
  cars/applications/dense_matching/census_mccnn_sgm_app.py
Due: isort, black, flake8, pylint, sphinx-build

feat: put np.nan in dense match filling
  cars/applications/dense_match_filling/fill_disp_algo.py
  cars/applications/dense_match_filling/fill_disp_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: put disparity no data at np.nan
  cars/applications/dense_matching/dense_matching_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

test: change ref unit testé
  tests/data/ref_output_application/dense_matching/disp1_ref_pandora.nc
  tests/data/ref_output_application/dense_matching/disp1_ref_pandora_mask_ref.nc
  tests/data/ref_output_application/dense_matching/disp1_ref_pandora_mask_sec.nc
  tests/data/ref_output_application/dense_matching/disp3_ref_pandora.nc
  tests/data/ref_output_application/dense_matching/disp_with_confidences_ref_pandora.nc
Due: none

test: update get_roi test
  cars/applications/dem_generation/rasterization_app.py
  cars/applications/grid_generation/grid_correction_app.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/shareloc_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add finfo
  cars/applications/rasterization/simple_gaussian_app.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change color no data
  cars/applications/rasterization/simple_gaussian_app.py
  cars/core/constants.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change some things
  cars/applications/rasterization/simple_gaussian_app.py
  cars/core/constants.py
Due: isort, black, flake8, pylint, sphinx-build

feat: change the way of defining the texture no data
  cars/applications/rasterization/simple_gaussian_app.py
  cars/core/constants.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove print
  cars/applications/rasterization/simple_gaussian_app.py
Due: isort, black, flake8, pylint, sphinx-build

feat: case dtype is none
  cars/applications/rasterization/simple_gaussian_app.py
Due: isort, black, flake8, pylint, sphinx-build

ci: try fix branch for github sync job (comment some jobs to speed up the test)
  .gitlab-ci.yml
Due: none

ci: trigger pipeline again
  .gitlab-ci.yml
Due: none

ci: remove https from github url
  .gitlab-ci.yml
Due: none

ci: add a change to pyproject to trigger docker build (check for non regression)
  pyproject.toml
Due: none

ci: clean branch
  .gitlab-ci.yml
  pyproject.toml
Due: none

feat: update tag
  .gitlab-ci.yml
Due: none

doc: change doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

doc: put description
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: modify epipolar_error_maximum_bias
  cars/applications/sparse_matching/abstract_sparse_matching_app.py
  cars/applications/sparse_matching/sift_app.py
Due: isort, black, flake8, pylint, sphinx-build
