Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: versioning
  cars/__init__.py
  docs/source/conf.py
Due: isort, black, flake8, pylint, sphinx-build

docs: fix bugs
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
  docs/source/howto.rst
  docs/source/usage/configuration.rst
Due: sphinx-build

docs: add circled images
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
  docs/source/images/sparse.matching.circled.drawio.png
  docs/source/images/sparse.rasterization.circled.drawio.png
  docs/source/images/sparse.triangulation.circled.drawio.png
Due: sphinx-build

lint: fix linter errors with python 3.10
  .pylintrc
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: cast new_data before adding it to old_data
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: also cast the first tile
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add round before and after int cast to avoid floor or x.99999
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  tests/data/ref_output/color_end2end_paca_bulldozer.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
Due: isort, black, flake8, pylint, sphinx-build

tests: remove print
  tests/test_end2end.py
Due: isort, black, flake8, pylint

tests: remove merging in test 'quality stats'
  tests/test_end2end.py
Due: isort, black, flake8, pylint

tests: update reference data due to cast
  tests/data/ref_output/color_end2end_paca_bulldozer.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/color_end2end_ventoux.tif
  tests/data/ref_output/color_end2end_ventoux_egm96.tif
  tests/data/ref_output/color_end2end_ventoux_egm96_custom_geoid.tif
  tests/data/ref_output/color_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/color_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/color_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/color_end2end_ventoux_with_snap_to_img1.tif
  tests/data/ref_output/dsm_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_mean_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_n_pts_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_pts_in_cell_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/dsm_std_end2end_ventoux_quality_stats.tif
Due: none

feat: update cars-starter
  cars/starter.py
  docs/source/usage/command_line.rst
Due: isort, black, flake8, pylint, sphinx-build

docs: update changelog
  CHANGELOG.md
Due: none

docs: change patch title
  CHANGELOG.md
Due: none

fix: readthedocs version
  .readthedocs.yaml
  docs/requirements-docs.txt
  setup.cfg
Due: sphinx-build

fix: remove test_project_coordinates_on_line
  tests/core/test_projection.py
Due: isort, black, flake8, pylint

fix: remove duplicated lines
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add cars-devibrate
  cars/devibrate.py
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

fix: Abstract class with abstract methods instantiated
  cars/devibrate.py
Due: isort, black, flake8, pylint, sphinx-build

fix: iterate over n_col and not n_row for classif reprojection
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update ref
  tests/data/ref_output/classif_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/classification_end2end_ventoux_split.tif
  tests/data/ref_output/classification_end2end_ventoux_with_classif.tif
  tests/data/ref_output/clr_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/color_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/filling_end2end_ventoux_split.tif
  tests/data/ref_output/filling_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/mask_end2end_paca_matches_filling.tif
  tests/data/ref_output/msk_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split_no_merging.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split_no_merging.tif
Due: none

feat: robustify exception, srtm geoid
  cars/devibrate.py
Due: isort, black, flake8, pylint, sphinx-build

feat: expose cars-devibrate parameters
  cars/devibrate.py
Due: isort, black, flake8, pylint, sphinx-build

feat: rename cars-devibrate parameters
  cars/devibrate.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

tests: increase tolerance on test for github action
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: add pandora_sparse_matching
  cars/applications/pandora_sparse_matching/__init__.py
  cars/applications/pandora_sparse_matching/pandora_low_resolution.py
  cars/applications/pandora_sparse_matching/pandora_sparse_matching.py
  cars/applications/pandora_sparse_matching/pandora_sparse_matching_tools.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: deletion of some files
  cars/applications/pandora_sparse_matching/__init__.py
  cars/applications/pandora_sparse_matching/pandora_low_resolution.py
  cars/applications/pandora_sparse_matching/pandora_sparse_matching.py
  cars/applications/pandora_sparse_matching/pandora_sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: new version of pandora_sparse_matching
  cars/applications/sparse_matching/__init__.py
  cars/applications/sparse_matching/pandora_sparse_matching.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: modification of a test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: correction in pipeline
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: changes in the doc
  docs/source/usage/configuration.rst
Due: sphinx-build

tests: change some ref again
  tests/data/ref_output/dsm_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_X_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Y_end2end_ventoux_no_elevation.tif
  tests/data/ref_output/epi_pc_Z_end2end_ventoux_no_elevation.tif
Due: none

tests: ref_output again
  tests/data/ref_output/color_end2end_paca_bulldozer.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/mask_end2end_paca_matches_filling.tif
Due: none
