Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: linter
  sonar-project.properties
Due: none

fix: linter
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/point_cloud_fusion.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  sonar-project.properties
Due: isort, black, flake8, pylint, sphinx-build

tests: update
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: none tiles
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update
  docs/source/usage/index.rst
Due: sphinx-build

feat: color mandatory un pc to dsm pipeline
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
  docs/source/usage/index.rst
Due: isort, black, flake8, pylint, sphinx-build

doc: fix
  docs/source/usage.rst
Due: sphinx-build

fix: color artefacts
  cars/applications/resampling/bicubic_resampling.py
  tests/data/ref_output/clr_end2end_paca.tif
  tests/data/ref_output/clr_end2end_ventoux.tif
  tests/data/ref_output/clr_end2end_ventoux_egm96.tif
  tests/data/ref_output/clr_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/clr_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/clr_end2end_ventoux_split_4326.tif
  tests/data/ref_output/clr_end2end_ventoux_with_snap_to_img1.tif
  tests/data/ref_output/shareloc/clr_end2end_paca.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_egm96.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_split.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_split_4326.tif
  tests/data/ref_output/shareloc/clr_end2end_ventoux_with_snap_to_img1.tif
Due: isort, black, flake8, pylint, sphinx-build

tests: update
  tests/data/ref_output/clr_end2end_paca.tif
  tests/data/ref_output/clr_end2end_ventoux.tif
  tests/data/ref_output/clr_end2end_ventoux_egm96.tif
  tests/data/ref_output/clr_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/clr_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/clr_end2end_ventoux_split_4326.tif
  tests/data/ref_output/clr_end2end_ventoux_with_snap_to_img1.tif
Due: none

doc: update
  docs/source/usage.rst
Due: sphinx-build

feat: improve dem generation
  cars/applications/dem_generation/dichotomic_generation.py
Due: isort, black, flake8, pylint, sphinx-build

Fix docker
  Dockerfile.deps
Due: none

fix ci
  cars/applications/dense_matches_filling/fill_disp_tools.py
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: reduce exploration interval for sifts when initial elevation is given
  cars/applications/sparse_matching/sift.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove triangulation and rasterization of dsm for sparse pipeline
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix : add margin on left strip to compute sifts on borders
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

feat: compute sift by strip
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: invert disp_lower_bound and disp_upper_bound
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

refact: remove merge matches
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

feat: compte euclidean distance matrix by blocks
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: sensor_to_sparse_dsm pipeline by strip end to end
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update matches refereces
  tests/applications/resampling/test_resampling_config.py
  tests/data/ref_output/matches.npy
Due: isort, black, flake8, pylint

fix: deal with strips with zero matches
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: change interface of resampling function
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

tests: separate references for no_merging pipeline
  tests/data/ref_output/classif_end2end_ventoux_split.tif
  tests/data/ref_output/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/clr_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/filling_end2end_ventoux_split.tif
  tests/data/ref_output/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/msk_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/msk_end2end_ventoux_split.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: update shareloc
  setup.cfg
Due: none

fix: use multiprocessing fork
  cars/cars.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update shareloc geometry
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update shareloc version
  cars/cars.py
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: adapt notebook to new interfaces
  cars/applications/dense_matching/loaders/pandora_loader.py
  tutorials/notebook_helpers.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

tests: update unit tests ref of dense matching
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/disp1_ref_pandora.nc
  tests/data/ref_output/disp1_ref_pandora_msk_ref.nc
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp3_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint

notebook: adapt notebooks to Pandora 1.6.0a2
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

tests: adapt unit tests to Pandora 1.6
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/data/conf_pandora/conf_default.json
  tests/data/conf_pandora/conf_with_all_confidences.json
  tests/helpers.py
Due: isort, black, flake8, pylint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
