Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feature: throw exception is the old cars API is used (out_dir key detected)
  cars/cars.py
Due: isort, black, flake8, pylint, sphinx-build

Apply 2 suggestion(s) to 2 file(s)
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/grid_generation/grid_generation.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: raise a warning instead of an exception if the 'out_dir' key is found in input configuration
  cars/cars.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename pc_xxx files into depth_map_xxx and move them to parameters
  cars/pipelines/parameters/depth_map_inputs.py
  cars/pipelines/parameters/depth_map_inputs_constants.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename point cloud input parameters and functions into depth map
  cars/pipelines/parameters/depth_map_inputs.py
  cars/pipelines/parameters/depth_map_inputs_constants.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

bug: write dsm and color outputs in dump_dir when save_intermediate_data is activated without official dsm product
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: rename point cloud into depth map in pipeline using a depth map as input or output
  cars/pipelines/__init__.py
  cars/pipelines/conf_pipeline/depth_maps_to_dsm.json
  cars/pipelines/depth_maps_to_dsm/__init__.py
  cars/pipelines/depth_maps_to_dsm/depth_maps_to_dsm_pipeline.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

bug: mark optional rasterization outputs as optional_data to avoid warning when the data is missing
  cars/applications/rasterization/simple_gaussian.py
  cars/orchestrator/registry/saver_registry.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: write performance map in input and output depth maps
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/pipelines/parameters/depth_map_inputs.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/data/ref_output/performance_map_end2end_ventoux_split.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split_no_merging.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: update triangulation API
  cars/applications/triangulation/triangulation.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: remove basenames from output parameters
  cars/pipelines/depth_maps_to_dsm/depth_maps_to_dsm_pipeline.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: update output parameters documentation
  docs/source/usage.rst
Due: sphinx-build

doc: rename point cloud into depth map for the triangulation output in documentation
  docs/source/usage.rst
Due: sphinx-build

minor: code refomatting
  cars/starter.py
Due: isort, black, flake8, pylint, sphinx-build

test: fix path in test_end2end_ventoux_unique_split
  tests/test_end2end.py
Due: isort, black, flake8, pylint

doc: add code review suggestions
  docs/source/usage.rst
Due: sphinx-build

fix: change entrypoint from main() to cli()
  setup.cfg
Due: none

refactor: improve cleaning of dump_dir files
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

bug: write all profiling outputs in log directory
  cars/orchestrator/cluster/log_wrapper.py
Due: isort, black, flake8, pylint, sphinx-build

bug: activate save_intermediate_data in grid_generation in test_end2end_ventoux_egm96_geoid because it is required for baseline checks
  tests/test_end2end.py
Due: isort, black, flake8, pylint

bug: fix path when updating baselines
  tests/test_end2end.py
Due: isort, black, flake8, pylint

doc: update parameter documentation
  docs/source/usage.rst
Due: sphinx-build

doc: remove epsg from depth maps input configuration (epsg has been moved to output parameters)
  docs/source/usage.rst
Due: sphinx-build

refactor: clean tile processing in depth_maps_to_dsm
  cars/pipelines/depth_maps_to_dsm/depth_maps_to_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: turn negative values of geotransform positive
  cars/applications/resampling/resampling_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix(doc): update documentation
  docs/source/contributing_the_project.rst
  docs/source/exploring_the_field/3d_products.rst
  docs/source/exploring_the_field/from_satellite_images_to_dsm.rst
  docs/source/exploring_the_field/masks_and_classifications_usage.rst
  docs/source/getting_started.rst
  docs/source/howto.rst
  docs/source/software_design/orchestrator.rst
  docs/source/software_design/plugin.rst
  docs/source/troubleshooting_and_faqs.rst
  docs/source/usage.rst
  tutorials/data_gizeh.tar.bz2.md5sum
  tutorials/data_gizeh_small.tar.bz2.md5sum
Due: sphinx-build

fix(extractroi): update profile transform
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

feat(docker): create docker dev environment
  Dockerfile.local
  docs/source/contributing_the_project.rst
Due: sphinx-build

release 0.9.0
  CHANGELOG.md
  cars/__init__.py
  setup.cfg
  tests/data/ref_output/confidence_from_risk_max_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split.tif
  tests/data/ref_output/performance_map_end2end_ventoux_split_no_merging.tif
Due: isort, black, flake8, pylint, sphinx-build

docs: update AUTHORS.md
  AUTHORS.md
Due: none

tests: use multiprocessing
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: python 3.10 installation libsgm
  setup.cfg
Due: none

fix: move decorator on a non-recursive function
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

Chaine low cost: sans validation croisée
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/config_census_sgm.json
  cars/applications/dense_matching/loaders/config_mccnn.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  docs/source/usage.rst
  tests/applications/dense_matching/test_pandora_loader.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: interval must be [-1000m, 9000m] for sparse matching when no dem is used
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: replace griddata to decrease the time of the interpolation
  cars/applications/grid_generation/grid_correction.py
Due: isort, black, flake8, pylint, sphinx-build

fix: add rpc on crop
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
