Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: add moustach and debug logging
  cars/core/cars_logging.py
  cars/orchestrator/cluster/log_wrapper.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use basic file handlers
  cars/core/cars_logging.py
Due: isort, black, flake8, pylint, sphinx-build

fix sonar duplicated lines
  sonar-project.properties
Due: none

fix: mp workers do not use all cpus on some devices
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add 4 colums to matches files with sensor coordinates of matches
  cars/applications/sparse_matching/sift.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add info in docs
  docs/source/usage/index.rst
Due: sphinx-build

notebook : add grids to filter_matches function
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

docs: add grids in docstring
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

fix: downgrade flake8-bugbear for CI
  setup.cfg
Due: none

fix: adapt interfaces for sparse pipeline
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: cast data to lighter types if possible
  cars/applications/point_cloud_fusion/point_cloud_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: cast data to lighter types if possible
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/triangulation/triangulation_tools.py
  cars/data_structures/corresponding_tiles_tools.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update color ref
  tests/data/ref_output/clr_end2end_paca.tif
  tests/data/ref_output/clr_end2end_ventoux.tif
  tests/data/ref_output/clr_end2end_ventoux_egm96.tif
  tests/data/ref_output/clr_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/clr_end2end_ventoux_quality_stats.tif
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/clr_end2end_ventoux_split_4326.tif
  tests/data/ref_output/clr_end2end_ventoux_with_snap_to_img1.tif
Due: none

fix: tile is not processed if none
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update docstring
  cars/applications/triangulation/triangulation_tools.py
Due: isort, black, flake8, pylint, sphinx-build

mode mp par défaut
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
  docs/source/usage/index.rst
Due: isort, black, flake8, pylint, sphinx-build

docs: rename recipes > howto
  docs/source/howto.rst
  docs/source/index.rst
  docs/source/usage.rst
Due: sphinx-build

docs: remove line
  docs/source/usage.rst
Due: sphinx-build

feat: add cars-extractroi
  cars/extractroi.py
  docs/source/howto.rst
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

style: pylint
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

feat: rename window option
  cars/extractroi.py
  docs/source/howto.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: remove rasterio import
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

style: isort
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

docs: typo
  docs/source/howto.rst
Due: sphinx-build

style: black
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

docs: fix links
  docs/source/usage.rst
Due: sphinx-build

style: flake8
  cars/extractroi.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add pc pipeline
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  docs/source/images/cars_pipeline_sensor2dsm_no_merging.png
  docs/source/images/pc_to_dsm_no_merging.png
  docs/source/usage/index.rst
Due: isort, black, flake8, pylint, sphinx-build

tests: update
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add no merging pipeline
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/data_structures/cars_dataset.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/orchestrator.py
  cars/orchestrator/registry/abstract_registry.py
  cars/orchestrator/registry/replacer_registry.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: linter
  cars/orchestrator/registry/unseen_registry.py
Due: isort, black, flake8, pylint, sphinx-build

tests: sonar
  sonar-project.properties
Due: none

tests: update
  cars/core/geometry/otb_geometry.py
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update
  tests/data/ref_output/rasterization_multiple_res_ref.nc
  tests/data/ref_output/rasterization_multiple_with_source_res_ref.nc
  tests/data/ref_output/rasterization_res_ref_1.nc
  tests/data/ref_output/rasterization_res_ref_2.nc
  tests/data/ref_output/ref_simple_rasterization.nc
Due: none
