Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - pre-commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - pre-push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: removed heavy folders from the built dist
  .gitattributes
  pyproject.toml
Due: none

fix: added docstrings
  cars/applications/dense_match_filling/cpp/dense_match_filling_cpp.py
  cars/applications/dense_matching/cpp/dense_matching_cpp.py
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: removed all remaining numba functions and replaced them with a cpp implementation
  cars/applications/dense_match_filling/cpp/__init__.py
  cars/applications/dense_match_filling/cpp/dense_match_filling_cpp.py
  cars/applications/dense_match_filling/cpp/includes/dense_match_filling.hpp
  cars/applications/dense_match_filling/cpp/meson.build
  cars/applications/dense_match_filling/cpp/src/bindings.cpp
  cars/applications/dense_match_filling/cpp/src/dense_match_filling.cpp
  cars/applications/dense_match_filling/fill_disp_tools.py
  cars/applications/dense_matching/cpp/__init__.py
  cars/applications/dense_matching/cpp/dense_matching_cpp.py
  cars/applications/dense_matching/cpp/includes/dense_matching.hpp
  cars/applications/dense_matching/cpp/src/bindings.cpp
  cars/applications/dense_matching/cpp/src/dense_matching.cpp
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/dsm_filling/bulldozer_filling.py
  meson.build
  pyproject.toml
  tests/applications/point_cloud_outlier_removal/test_outlier_removal.py
Due: isort, black, flake8, pylint, sphinx-build

fix: github ci needs additional packages
  .github/workflows/cars-ci.yml
Due: none

fix: replaced version.sh by a cross platform python script, fixed github ci's pip install
  .github/workflows/cars-ci.yml
  meson.build
  version.py
  version.sh
Due: isort, black, flake8, pylint

fix: editable builds require a source venv
  Makefile
Due: none

fix: installation now always happens in editable mode
  Makefile
Due: none

fix: crash was happening in ci because of numba_num_threads
  cars/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

fix: added pandora numba variables back
  cars/__init__.py
  tests/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

fix: cleaned up and reorganized the makefile
  Makefile
Due: none

lint: lines too long in cpp files
  cars/applications/dense_match_filling/cpp/src/dense_match_filling.cpp
  cars/applications/dense_matching/cpp/src/dense_matching.cpp
Due: sphinx-build

fix: properly handle paths for build to work
  meson.build
  version.py
Due: isort, black, flake8, pylint

fix: make install changes, put back the numba variables for shareloc, removed the cython installation from github ci
  .github/workflows/cars-ci.yml
  Makefile
  cars/__init__.py
  cars/orchestrator/cluster/dask_jobqueue_utils.py
  tests/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

lint: black lint
  cars/core/geometry/abstract_geometry.py
  cars/pipelines/parameters/dsm_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update README.md
  README.md
Due: none

feat: add auxiliary inputs in beefrost
  cars/applications/ground_truth_reprojection/direct_localization.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_tools.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
Due: isort, black, flake8, pylint, sphinx-build

feat: correction of a bug and generalization of the code
  cars/applications/ground_truth_reprojection/direct_localization.py
  cars/applications/ground_truth_reprojection/ground_truth_reprojection_tools.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change space
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: fix in docstring
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove epsg
  cars/pipelines/parameters/advanced_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add verification
  cars/pipelines/parameters/advanced_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change the doc
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: allow estimate_right_grid_disp to take either floats or ints as input
  cars/applications/dense_matching/cpp/includes/dense_matching.hpp
  cars/applications/dense_matching/cpp/src/bindings.cpp
  cars/applications/dense_matching/cpp/src/dense_matching.cpp
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

lint: black, pylint
  cars/applications/dense_matching/cpp/dense_matching_cpp.py
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: removed prints
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove retrocompatibility with old pipelines
  cars/cars.py
Due: isort, black, flake8, pylint, sphinx-build

feat: move parameters pipeline eand geometry_plugin to advanced
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/advanced_parameters_constants.py
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

notebooks: update tutorials for new API
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/depth_map_inputs.py
  cars/pipelines/pipeline_constants.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

fix: override initial_elevation before geom plugin init
  cars/pipelines/parameters/advanced_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

docs: some fixs on advanced config documentation
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

fix: add real paths for dem in tests
  tests/data/input/data_gizeh_crop/dump_dir/dem_generation/dem_max.tif
  tests/data/input/data_gizeh_crop/dump_dir/dem_generation/dem_median.tif
  tests/data/input/data_gizeh_crop/dump_dir/dem_generation/dem_min.tif
  tests/pipelines/test_advanced_parameters.py
Due: isort, black, flake8, pylint

tests: adapt tests to new API
  cars/cars.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/pipeline_template.py
  tests/helpers.py
  tests/pipelines/test_advanced_parameters.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add default values for geometry plugin and pipeline
  docs/source/how_to_use_CARS/advanced_configuration.rst
Due: sphinx-build

feat: add job to create and publish wheels with GH actions
  .github/workflows/cars-ci.yml
  pyproject.toml
Due: none

feat: change do, remove a print and fix for depth_maps
  cars/applications/rasterization/rasterization_tools.py
  cars/core/constants.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change doc
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

fix: fix for pylint
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add ambiguity as an auxiliary input
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/constants.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/parameters/output_constants.py
  cars/pipelines/parameters/output_parameters.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for sonarqube
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in pandora loader
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
