Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: modifications after rebase with master
  cars/applications/dense_matching/dense_matching_tools.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  tests/data/ref_output/clr_end2end_ventoux.tif
Due: isort, black, flake8, pylint, sphinx-build

refactor: move disparity interval computation to sparse_matching_tools
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_constants.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  tests/data/ref_output/ambiguity_end2end_ventoux.tif
  tests/data/ref_output/clr_end2end_ventoux.tif
  tests/data/ref_output/clr_end2end_ventoux_4bands.tif
  tests/data/ref_output/dsm_end2end_ventoux.tif
  tests/test_end2end.py
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_full_resolution_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_full_resolution_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

fix: update pip and git versions
  Dockerfile.deps
Due: none

fix: update software-properties-common version
  Dockerfile.deps
Due: none

fix: update git version
  Dockerfile.deps
Due: none

docs: update AUTHORS.md
  AUTHORS.md
Due: none

fix: use sparse matches estimation only a priori
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: linter
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/holes_detection/holes_detection_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/cars.py
  cars/core/geometry/__init__.py
  cars/core/geometry/otb_geometry.py
  cars/core/inputs.py
  cars/core/outputs.py
  cars/core/preprocessing.py
  cars/core/projection.py
  cars/data_structures/cars_dataset.py
  cars/orchestrator/cluster/mp_factorizer.py
  cars/orchestrator/cluster/mp_wrapper.py
  cars/orchestrator/cluster/multiprocessing_cluster.py
  cars/pipelines/pipeline.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add matches point cloud saving
  cars/applications/grid_generation/grids.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/constants.py
  cars/core/outputs.py
  cars/core/projection.py
  cars/data_structures/cars_dataset.py
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/pipelines/test_wrappers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: manage all disparity confidence layers
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_constants.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/core/constants_disparity.py
  cars/pipelines/conf_pipeline/sensor_to_low_resolution_dsm.json
  docs/source/user_guide/configuration.rst
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_intensity_std_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update Pandora confidence name
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/core/constants_disparity.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add disp confidences unit test
  cars/applications/dense_matching/dense_matching_tools.py
  cars/core/constants.py
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_sec_pandora.nc
  tests/helpers.py
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

test: update
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/data/conf_pandora/conf_default.json
  tests/data/conf_pandora/conf_with_all_confidences.json
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/data/ref_output/disp1_ref_pandora_msk_ref.nc
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp1_sec_pandora_msk_ref.nc
  tests/data/ref_output/disp1_sec_pandora_msk_sec.nc
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_sec_pandora.nc
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: check always input size compatibility
  cars/pipelines/sensor_to_full_resolution_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

refacto: mask refactoring
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/dense_matching/regularisation.py
  cars/applications/resampling/resampling_tools.py
  cars/applications/sparse_matching/sift.py
  cars/conf/input_parameters.py
  cars/conf/mask_classes.py
  cars/conf/mask_cst.py
  cars/orchestrator/cluster/dask_config/reference_confs/distributed.yaml
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_full_res_dsm_constants.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  docs/source/developer_guide/design/application.rst
  docs/source/user_guide/cli.rst
  docs/source/user_guide/configuration.rst
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/applications/dense_matching/test_regularisation.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/conf/test_mask_classes.py
  tests/data/input/phr_gizeh/input_msk_fill.json
  tests/data/input/phr_paca/input.json
  tests/data/input/phr_paca/left_msk.tif
  tests/data/input/phr_paca/right_msk.tif
  tests/data/input/phr_paca/right_msk_classes.json
  tests/data/input/test_application/configfile.json
  tests/data/ref_output/clr_end2end_paca.tif
  tests/data/ref_output/disp1_ref_pandora_msk_ref.nc
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp1_sec_pandora_msk_ref.nc
  tests/data/ref_output/disp1_sec_pandora_msk_sec.nc
  tests/data/ref_output/dsm_end2end_paca.tif
  tests/data/ref_output/msk_end2end_paca.tif
  tests/data_structure/test_tile_manager.py
  tests/helpers.py
  tests/pipelines/test_wrappers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

qualit: update pylint exception conf
  .pylintrc
Due: none

test: update baseline end2end msk test
  tests/data/ref_output/clr_end2end_paca.tif
  tests/data/ref_output/dsm_end2end_paca.tif
  tests/data/ref_output/msk_end2end_paca.tif
Due: none

feat: add new holes filling app
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/fill_disp_constants.py
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zeros_padding.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update mask doc and FAQ
  docs/source/faq.rst
  docs/source/user_guide/cli.rst
Due: sphinx-build

fix: rebase
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/orchestrator/registry/saver_registry.py
  docs/source/user_guide/configuration.rst
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp1_sec_pandora_msk_ref.nc
  tests/data/ref_output/disp1_sec_pandora_msk_sec.nc
Due: isort, black, flake8, pylint, sphinx-build

fix: rebase
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint

doc: mask
  docs/source/user_guide/cli.rst
Due: sphinx-build

feat: change roi input
  cars/core/preprocessing.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  docs/source/user_guide/configuration.rst
  tests/data/input/phr_gizeh/roi/roi_poly_gizeh.dbf
  tests/data/input/phr_gizeh/roi/roi_poly_gizeh.prj
  tests/data/input/phr_gizeh/roi/roi_poly_gizeh.shp
  tests/data/input/phr_gizeh/roi/roi_poly_gizeh.shx
  tests/helpers.py
  tests/pipelines/test_sensors_inputs.py
  tests/test_end2end.py
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_full_resolution_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_full_resolution_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: change roi input
  cars/pipelines/sensor_to_full_resolution_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

doc: fix api doc indentation
  docs/source/user_guide/index.rst
Due: sphinx-build

feat: support all epsg in geojson
  cars/core/roi_tools.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  docs/source/user_guide/configuration.rst
  tests/core/test_roi_tools.py
  tests/helpers.py
  tests/pipelines/test_sensors_inputs.py
  tests/test_end2end.py
  tutorials/main_tutorial.ipynb
  tutorials/sensor_to_full_resolution_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_full_resolution_dsm_step_by_step.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

doc: typo
  docs/source/user_guide/configuration.rst
Due: sphinx-build

feat: add pc to dsm pipeline
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/cars.py
  cars/core/constants.py
  cars/core/preprocessing.py
  cars/pipelines/conf_pipeline/point_clouds_to_dsm.json
  cars/pipelines/conf_pipeline/sensor_to_pc.json
  cars/pipelines/pipeline.py
  cars/pipelines/point_clouds_to_dsm/__init__.py
  cars/pipelines/point_clouds_to_dsm/pc_constants.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

tests: add end2end test
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif.aux.xml
  tests/helpers.py
  tests/test_cars.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: pylint
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/core/preprocessing.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update, doc
  cars/core/tiling.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/sensor_to_full_resolution_dsm/sensor_to_full_resolution_dsm_pipeline.py
  cars/pipelines/sensor_to_low_resolution_dsm/sensor_to_low_resolution_dsm_pipeline.py
  docs/source/images/cars_pipeline_multi_pair.png
  docs/source/images/cars_pipeline_sensor2dsm.png
  docs/source/images/cars_pipeline_sensor_to_pc.png
  docs/source/images/pc_to_dsm.png
  docs/source/images/sensor_to_low_dsm.png
  docs/source/user_guide/configuration.rst
  docs/source/user_guide/overview.rst
  tests/helpers.py
  tests/test_cars.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: linter
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
Due: isort, black, flake8, pylint, sphinx-build

fix: linter
  cars/core/preprocessing.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: low res pipeline
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update pipelines
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/resampling/bicubic_resampling.py
  cars/core/inputs.py
  docs/source/images/cars_pipeline_multi_pair.png
  docs/source/images/cars_pipeline_sensor2dsm.png
  docs/source/images/cars_pipeline_sensor_to_pc.png
  docs/source/images/pc_to_dsm.png
  docs/source/images/sensor_to_low_dsm.png
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: optimise point cloud to dsm pipeline
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/rasterization/point_cloud_rasterization.py
  cars/applications/rasterization/simple_gaussian.py
  cars/data_structures/cars_dataset.py
  cars/data_structures/cars_dict.py
  cars/orchestrator/cluster/mp_wrapper.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build
