Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

doc: remove holes detection application
  docs/source/user_guide/configuration.rst
Due: sphinx-build

fix: linter
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/holes_detection/holes_detection_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: comment code
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint

fix: Update distributed.yaml
  cars/orchestrator/cluster/dask_config/reference_confs/distributed.yaml
Due: sphinx-build

docs: update changelog 0.6.0
  CHANGELOG.md
Due: none

docs: add line about set_to_ref_alt
  CHANGELOG.md
Due: none

feat: replace otb by cars-resample
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/resampling/resampling_tools.py
  cars/core/datasets.py
  cars/externals/otb_pipelines.py
  otb_remote_module/app/CMakeLists.txt
  otb_remote_module/app/otbBuildMask.cxx
  tests/externals/test_otb_pipelines.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add cars-resample dependency
  setup.cfg
Due: none

fix: update ref (pickle-pandas compatibility)
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/data1_ref_clr
  tests/data/ref_output/data3_ref_clr_4bands
Due: none

fix for pandas upgrade
  tests/helpers.py
Due: isort, black, flake8, pylint

fix: upgrade docker deps
  Dockerfile.deps
Due: none

fix: allow classification in only one file of pair
  cars/applications/holes_detection/holes_detection_tools.py
  docs/source/user_guide/configuration.rst
  docs/source/user_guide/input_image_preparation.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: pygdal and cyvlfeat with --use-pep517 option
  Makefile
Due: none

fix: clean vlfeat variables
  Makefile
Due: none

fix: downgrade pip
  Makefile
Due: none

fix: remove pygdal
  Makefile
  setup.cfg
Due: none

fix: no-binary option for cyvlfeat
  Makefile
Due: none

fix: revert remove pygdal
  Makefile
Due: none

fix: revert remove pygdal (gdal version)
  Makefile
Due: none

fix: remove cyvlfeat from setup.cfg
  setup.cfg
Due: none

feat: add studies notebook
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  tutorials/dsm_step_by_step_Alice.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: add test
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/applications/grid_generation/test_grids.py
  tests/test_notebook_helpers.py
  tests/test_notebooks.py
  tutorials/notebook_helpers_cars_free.py
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: add advanced user notebook
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/grid_generation/grid_correction.py
  cars/applications/grid_generation/grids.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/data_structures/corresponding_tiles_tools.py
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tutorials/data_gizeh_small.tar.bz2
  tutorials/notebook_helpers.py
  tutorials/notebook_helpers_cars_free.py
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: mp mode evolution to exit when crash
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
  tests/test_notebook_helpers.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add python path for pbs_dask
  cars/orchestrator/cluster/abstract_dask_cluster.py
  cars/orchestrator/cluster/pbs_dask_cluster.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: update notebook
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: remove pbs dask warnings
  cars/orchestrator/cluster/pbs_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: linter
  cars/applications/grid_generation/grids.py
  cars/core/preprocessing.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

tests: update
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: bad indent
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update grid correction a priori
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove log
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: factorize helpers
  tests/test_notebook_helpers.py
  tutorials/notebook_helpers.py
  tutorials/notebook_helpers_cars_free.py
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, jupyter-nb-clear-output

fix: roi convention in notebook
  cars/applications/grid_generation/grids.py
  tests/applications/grid_generation/test_grids.py
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: update test notebook
  tests/test_notebooks.py
Due: isort, black, flake8, pylint

doc: add doc on sequential orchestrator
  docs/source/user_guide/configuration.rst
Due: sphinx-build

feat: remove otb non geometry functions
  cars/applications/__init__.py
  cars/applications/filtering/__init__.py
  cars/applications/filtering/devib_tools.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/core/preprocessing.py
  cars/externals/__init__.py
  cars/externals/otb_pipelines.py
  tests/core/test_preprocessing.py
  tests/externals/test_otb_pipelines.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove devib tools
  tests/applications/filtering/__init__.py
  tests/applications/filtering/test_devib.py
Due: isort, black, flake8, pylint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
