Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

Fix docker
  Dockerfile
  Makefile
Due: none

feature: pairing and mask modes in auxiliary filling application
  cars/applications/auxiliary_filling/auxiliary_filling.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  cars/applications/auxiliary_filling/auxiliary_filling_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feature: implements classif filling and use auxiliary_filling in default pipeline
  cars/applications/__init__.py
  cars/applications/auxiliary_filling/__init__.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feature: implements color filling
  cars/applications/auxiliary_filling/auxiliary_filling.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
Due: isort, black, flake8, pylint, sphinx-build

refactor: support auxiliary filling in depth map to dsm pipeline
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  cars/applications/auxiliary_filling/auxiliary_filling_tools.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feature: initialize auxiliary filling module and tests
  cars/applications/auxiliary_filling/__init__.py
  cars/applications/auxiliary_filling/auxiliary_filling.py
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  tests/applications/auxiliary_filling/__init__.py
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
  tests/applications/auxiliary_filling/test_auxiliary_filling_config.py
Due: isort, black, flake8, pylint, sphinx-build

feature: filter sensors that do not intersect with current tile before performing all inverse locations
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  cars/applications/auxiliary_filling/auxiliary_filling_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

test: update unit test for colorization
  cars/applications/auxiliary_filling/auxiliary_filling_tools.py
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
  tests/data/ref_output/classification_end2end_paca_bulldozer.tif
Due: isort, black, flake8, pylint, sphinx-build

bug: remove debug dir and print
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
Due: isort, black, flake8, pylint

feature: update baselines and clean code
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
  cars/applications/auxiliary_filling/auxiliary_filling_tools.py
  docs/source/usage/configuration.rst
  tests/applications/auxiliary_filling/test_auxiliary_filling.py
  tests/applications/auxiliary_filling/test_auxiliary_filling_config.py
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/classification_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_0.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_1.tif
  tests/data/ref_output/color_end2end_paca_aux_filling_2.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: modification in margin definition
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

feat: new_version
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add window for the use of mondial vrt
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: for pylint
  cars/core/projection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix sonarqube alert
  sonar-project.properties
Due: none

feat: add elevation_upper/lower_bound in pandora_sparse_mtch
  cars/applications/sparse_matching/pandora_sparse_matching.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add of elevation_delta_upper/lower_bound in pandora_sparse_mtch
  docs/source/usage/configuration.rst
Due: sphinx-build

tests: finalized refs update
  tests/data/ref_output/color_end2end_paca_bulldozer.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/mask_end2end_paca_bulldozer.tif
  tests/data/ref_output/mask_end2end_paca_matches_filling.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: deletion of an unwanted function
  cars/core/projection.py
  sonar-project.properties
Due: isort, black, flake8, pylint, sphinx-build

fix: fix in the doc
  docs/source/usage/configuration.rst
Due: sphinx-build

feat: deletion of decimation factor
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: robustify cast
  cars/applications/auxiliary_filling/auxiliary_filling_from_sensors.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add use of phased dsm
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/advanced_parameters.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/parameters/dsm_inputs_constants.py
Due: isort, black, flake8, pylint, sphinx-build

feat: finalization phased dsm
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/core/inputs.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/dsm_inputs.py
  docs/source/usage/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add roi
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/dsm_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: create optimal_tile_size function
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/dsm_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

Fix resampling
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: tests and more
  cars/applications/rasterization/rasterization_tools.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/depth_map_inputs.py
  cars/pipelines/parameters/dsm_inputs.py
  cars/pipelines/parameters/sensor_inputs.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/data/input/phr_ventoux/input_with_color_and_classif.json
  tests/data/ref_output/classif_end2end_ventoux_lr.tif
  tests/data/ref_output/classif_end2end_ventoux_rl.tif
  tests/data/ref_output/color_end2end_ventoux_fusion.tif
  tests/data/ref_output/color_end2end_ventoux_lr.tif
  tests/data/ref_output/colorisation_end2end_gizeh_reentrance.tif
  tests/data/ref_output/phased_dsm_end2end_ventoux_fusion.tif
  tests/data/ref_output/phased_dsm_end2end_ventoux_lr.tif
  tests/data/ref_output/phased_dsm_end2end_ventoux_rl.tif
  tests/data/ref_output/weights_end2end_ventoux_lr.tif
  tests/data/ref_output/weights_end2end_ventoux_rl.tif
  tests/pipelines/test_dsm_inputs.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix pylint
  cars/pipelines/parameters/dsm_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

test: change ref
  tests/data/ref_output/color_end2end_ventoux_split_4326.tif
Due: none

feat: fix for used conf
  cars/pipelines/parameters/depth_map_inputs.py
  cars/pipelines/parameters/dsm_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add note saying that we can add sensors inputs
  docs/source/usage/configuration.rst
Due: sphinx-build

refact: use pandora new margins
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: deal with grid margin en resampling
  cars/applications/resampling/resampling_tools.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/parameters/sensor_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

tests: edit 2 end2end tests to add margin
  tests/data/ref_output/classification_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_aux_filling.tif
  tests/data/ref_output/color_end2end_paca_matches_filling.tif
  tests/data/ref_output/color_end2end_ventoux_with_color.tif
  tests/data/ref_output/dsm_end2end_paca_bulldozer.tif
  tests/data/ref_output/dsm_end2end_paca_matches_filling.tif
  tests/data/ref_output/dsm_end2end_ventoux_with_color.tif
  tests/data/ref_output/mask_end2end_paca_bulldozer.tif
  tests/data/ref_output/mask_end2end_paca_matches_filling.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: update shareloc version
  setup.cfg
Due: none

fix: take margin into account for roi estimation
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

test: add roi estimation with grid margin on UT
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint
