Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [pre-commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [pre-push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [pre-commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: fix in rasterization_tools
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix for sonarqube
  sonar-project.properties
Due: none

feat: change for multiple ambiguity
  cars/applications/rasterization/rasterization_tools.py
  cars/core/constants.py
  cars/orchestrator/registry/saver_registry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: I can't add the ambiguity saving without increasing the complexity of the function
  sonar-project.properties
Due: none

feat: modification in the way to save the ambiguity
  cars/applications/rasterization/rasterization_tools.py
  cars/orchestrator/registry/saver_registry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: cars was not robust to no confidence
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

feat:fix an error
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build

feat: fix a bug and add confidence dict in dsm_inputs
  cars/applications/rasterization/rasterization_tools.py
  cars/core/constants.py
  cars/orchestrator/registry/saver_registry.py
  cars/pipelines/default/default_pipeline.py
  cars/pipelines/parameters/dsm_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: correction in dsm_input
  cars/pipelines/parameters/dsm_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add confidence in dsms_inputs
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

feat: add line for pylint
  cars/pipelines/default/default_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: final correction
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

feat: correction of a bug for the tests
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

test: change test
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: filter tile only if it is not full of nan
  cars/applications/point_cloud_outlier_removal/outlier_removal_tools.py
Due: isort, black, flake8, pylint, sphinx-build

test: change test end2end
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: add optionnal mp_mode
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

doc: change doc
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

doc: modif in basic conf
  docs/source/how_to_use_CARS/basic_configuration.rst
Due: sphinx-build

docs: add illustrations for masks and classifications usages
  docs/source/how_CARS_works/masks_and_classifications_usage.rst
  docs/source/images/classif_satellite_nice.png
  docs/source/images/classif_vegetationmask_nice.png
  docs/source/images/classif_watermask_nice.png
  docs/source/images/mask_dsm_nice.png
  docs/source/images/mask_satellite_nice.png
  docs/source/images/mask_watermask_nice.png
Due: sphinx-build

docs: change table + modify size images
  docs/source/how_CARS_works/masks_and_classifications_usage.rst
  docs/source/images/classif_satellite_nice.png
  docs/source/images/classif_vegetationmask_nice.png
  docs/source/images/classif_watermask_nice.png
Due: sphinx-build

docs: add licence
  tests/data/input/open-licence-etalab-v2.0-en.pdf
  tests/data/input/open-licence-etalab-v2.0-fr.pdf
Due: none

fix: environment is pypi and not testpypi
  .github/workflows/cars-ci.yml
Due: none

fix: new sparse matching path
  cars/devibrate.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update pandora version
  pyproject.toml
Due: none

fix: fix bug in pandora sparse matching
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: robustify auto mode
  cars/applications/dense_match_filling/plane.py
  cars/applications/dense_match_filling/zero_padding.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outlier_removal/small_components.py
  cars/applications/point_cloud_outlier_removal/statistical.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/constants.py
  cars/data_structures/cars_dataset.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
  docs/source/how_to_use_CARS/basic_configuration.rst
  docs/source/how_to_use_CARS/how_to_launch_CARS.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add memory profiling
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_profiler.py
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

fix: slurm data type
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add cpu usage
  cars/orchestrator/cluster/mp_cluster/multiprocessing_profiler.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change the way of calculating the roi_margin
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use 50% of total ram
  cars/orchestrator/orchestrator.py
  docs/source/how_to_use_CARS/how_to_launch_CARS.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: change version of downsample
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: robustify to reset
  cars/orchestrator/cluster/abstract_cluster.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_profiler.py
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build
