Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: adapt CARS to Pandora 1.6
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/dense_matching/loaders/config_census_sgm.json
  cars/applications/dense_matching/loaders/config_mccnn.json
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/core/constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  setup.cfg
  tests/helpers.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

Apply 1 suggestion(s) to 1 file(s)
  setup.cfg
Due: none

fix: add mccnn compatible version in setup
  setup.cfg
Due: none

fix: comment copy on tests end2end
  tests/test_end2end.py
Due: isort, black, flake8, pylint

tests: remove duplicate test
  tests/orchestrator/cluster/test_cluster.py
Due: isort, black, flake8, pylint

fix: add env variables to test init for pytest
  cars/__init__.py
  cars/cars.py
  tests/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

tests: update ref of confidence
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/confidence_from_risk_max_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/data/ref_output/disp1_ref_pandora.nc
  tests/data/ref_output/disp1_ref_pandora_msk_ref.nc
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp3_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
  tests/data/ref_output/shareloc/clr_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/shareloc/dem_median_end2end_ventoux.tif
  tests/data/ref_output/shareloc/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/shareloc/msk_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/shareloc/performance_map_end2end_gizeh_crop_no_merging.tif
Due: none

fix: prevent pandora from copying attributes in disp dataset
  cars/applications/dense_matching/dense_matching_tools.py
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/disp1_ref_pandora.nc
  tests/data/ref_output/disp1_ref_pandora_msk_ref.nc
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp3_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
Due: isort, black, flake8, pylint, sphinx-build

feat: add parameter max_tasks_per_worker and increase it from 1 to 10
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add parameter max_tasks_per_worker for mode mp in docs
  docs/source/usage.rst
Due: sphinx-build

feat: add env variables to force monothread in workers
  cars/__init__.py
  tests/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

change default pipeline
  cars/cars.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  docs/source/usage.rst
Due: isort, black, flake8, pylint, sphinx-build

Fix docker
  Dockerfile.deps
Due: none

Resolve "Ajout d'information des tuiles traitées"
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/holes_detection/cloud_to_bbox.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/data_structures/cars_dataset.py
  cars/orchestrator/orchestrator.py
  cars/orchestrator/registry/replacer_registry.py
  cars/orchestrator/registry/saver_registry.py
  cars/orchestrator/tiles_profiler.py
  docs/source/howto.rst
  setup.cfg
Due: isort, black, flake8, pylint, sphinx-build

feat: crop disparity range if needed
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/data_structures/corresponding_tiles_tools.py
  tests/applications/dense_matching/test_dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: sonar
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove log
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: set saving log level to debug
  cars/orchestrator/registry/abstract_registry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: bug numpy in filling
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix: remove reverting if wrong convention
  cars/core/outputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: remove ROI for endogeneous DEM
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

fix: disp filling error tile profiling
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
Due: isort, black, flake8, pylint, sphinx-build

fix: keep float32 type for output of resampling
  cars/applications/resampling/resampling_tools.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add resampling parameters in docs
  docs/source/usage.rst
Due: sphinx-build

fix: open grid and image only once
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling_tools.py
Due: isort, black, flake8, pylint, sphinx-build

test: change location of parameter strip_height in tests
  cars/applications/resampling/resampling_tools.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

fix: decrease ram par slurm worker
  cars/orchestrator/cluster/slurm_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

feat: iterative resampling
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling.py
  cars/applications/resampling/resampling_tools.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

move parameters strip_height and step in resampling application
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove profiling of load and dump
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
Due: isort, black, flake8, pylint, sphinx-build

feat: upgrade shareloc to 0.2.0a2
  setup.cfg
Due: none

docs: update projects
  README.md
  docs/source/images/logo-ai4geo.png
  docs/source/images/logo-evoland.png
Due: sphinx-build

fix: pylint
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/data_structures/cars_dataset.py
Due: isort, black, flake8, pylint, sphinx-build

fix: pylint
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
