Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: bad origin for sensor matches
  cars/core/geometry/abstract_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

test: update ref (3023 => 3059)
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

test: update ref (1350 => 1426)
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

test: update
  tests/test_end2end.py
Due: isort, black, flake8, pylint

feat: resample on median endo DEM even if initial elvation is given
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: change default percentile parameter of dem_generation to match ducumentation
  cars/applications/dem_generation/dichotomic_generation.py
Due: isort, black, flake8, pylint, sphinx-build

feat: force dtype of outputs
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

docs: msk_no_data should be uint8
  docs/source/usage.rst
Due: sphinx-build

use c++ version of compute_strip_of_epipolar_grid
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use python version of compute_strip_of_epipolar_grid with RPCoptim class
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use vertical_direction=north on Shareloc to deal with negative Y-axis
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: update shareloc on setup.cfg
  setup.cfg
Due: none

feat: geomodel not mandatory anymore
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  docs/source/usage.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: allow giving path to pandora config
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/dense_matching_constants.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  docs/source/usage.rst
Due: isort, black, flake8, pylint, sphinx-build

Confidence intervals propagation
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/constants.py
  cars/core/constants_disparity.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

Test functions and saving rasters modifications
  cars/applications/point_cloud_fusion/point_cloud_fusion.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_constants.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/core/constants.py
  tests/applications/dense_matching/test_dense_matching_config.py
  tests/applications/dense_matching/test_dense_matching_tools.py
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/data/conf_pandora/conf_with_all_confidences.json
  tests/data/ref_output/rasterization_res_ref_1_intervals.nc
  tests/data/ref_output/triangulation1_ref_intervals.nc
Due: isort, black, flake8, pylint, sphinx-build

Confidence intervals propagation
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

Documentation
  docs/source/usage.rst
Due: sphinx-build

Pandora loader and correct transition from disp bounds to hgt bounds
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/triangulation/line_of_sight_intersection.py
  docs/source/usage.rst
Due: isort, black, flake8, pylint, sphinx-build

Adding sensors_arrangement_left_right into geometry and tests
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/geometry/abstract_geometry.py
  tests/core/geometry/test_otb_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
  tests/data/input/phr_ventoux/corrected_right_epi_grid.tif
  tests/data/input/phr_ventoux/left_epi_grid.tif
Due: isort, black, flake8, pylint, sphinx-build

Defining default output path
  cars/applications/rasterization/simple_gaussian.py
Due: isort, black, flake8, pylint, sphinx-build

fix: intervals are not computed anymore when generate_performance_map is true
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  docs/source/usage.rst
  tests/applications/dense_matching/test_dense_matching_config.py
Due: isort, black, flake8, pylint, sphinx-build

refacto: put intervals in a separate array during rasterization
  cars/applications/dense_matching/loaders/pandora_loader.py
  cars/applications/rasterization/rasterization_tools.py
  cars/core/constants.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/data/ref_output/rasterization_res_ref_1_intervals.nc
  tests/data/ref_output/triangulation1_ref_intervals.nc
Due: isort, black, flake8, pylint, sphinx-build

add filling and performance map in pc inputs in documentation
  docs/source/usage.rst
Due: sphinx-build

Resolve "création plugin débruitage"
  cars/applications/application.py
  cars/applications/point_cloud_denoising/__init__.py
  cars/applications/point_cloud_denoising/point_cloud_denoising.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/core/constants.py
  cars/orchestrator/achievement_tracker.py
  cars/orchestrator/tiles_profiler.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

écriture des las dans workers
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outliers_removing/pc_out_removing.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/data_structures/cars_dataset.py
  cars/orchestrator/orchestrator.py
  cars/orchestrator/registry/compute_registry.py
  cars/orchestrator/tiles_profiler.py
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: drop epipolar tiles outside of ROI for no_merging pipeline
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: be robust to elevation roi
  cars/applications/dem_generation/dichotomic_generation.py
  cars/applications/resampling/bicubic_resampling.py
  cars/core/geometry/abstract_geometry.py
  cars/core/geometry/otb_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/inputs.py
  cars/core/roi_tools.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

notebooks: update
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: dask crash
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: typo
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

fix: remove print
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add bigger margin for roi
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

bugfix: check if we should overload with cars conf or not
  cars/applications/dense_matching/loaders/pandora_loader.py
Due: isort, black, flake8, pylint, sphinx-build
