Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feat: add option to use endogenous dem
  cars/pipelines/sensor_to_dense_dsm/sensor_dense_dsm_constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  docs/source/usage.rst
  tests/data/ref_output/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/clr_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/msk_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use grid on dem median resolution
  cars/applications/dense_matching/census_mccnn_sgm.py
  docs/source/usage.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: size
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

fix: rebase
  tests/data/ref_output/shareloc/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/clr_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/shareloc/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/dsm_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/shareloc/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/msk_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/shareloc/performance_map_end2end_gizeh_crop.tif
  tests/data/ref_output/shareloc/performance_map_end2end_gizeh_crop_no_merging.tif
Due: none

feat: inverse row and col for inverse loc with Shareloc
  cars/core/geometry/shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

tests: inverse row and col reference for inverse loc test
  cars/core/geometry/shareloc_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update CHANGELOG for 0.7.6
  CHANGELOG.md
Due: none

fix: bugs version update
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: save mask even if not provided
  cars/applications/rasterization/rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

feat: get automatically number of worker and ram per worker
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add auto mode in documentation
  docs/source/usage.rst
Due: sphinx-build

test: update
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
Due: isort, black, flake8, pylint

tests: add run of used conf
  tests/test_end2end.py
Due: isort, black, flake8, pylint

tests: add unit test for applications, inputs, orchestrator
  cars/applications/dense_matching/loaders/config_census_sgm.json
  tests/applications/dense_matching/test_dense_matching_config.py
  tests/applications/dense_matching_filling/test_dense_matching_filling_config.py
  tests/applications/point_cloud_fusion/test_point_cloud_fusion_config.py
  tests/applications/point_cloud_outliers_removing/test_outliers_removing_config.py
  tests/applications/rasterization/test_rasterization_config.py
  tests/applications/resampling/test_resampling_config.py
  tests/applications/sparse_matching/test_sparse_matching_config.py
  tests/applications/triangulation/test_triangulation_config.py
  tests/orchestrator/cluster/test_cluster_config.py
  tests/pipelines/test_sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

décalage sous pixellique lors du resampling
  cars/applications/dem_generation/dem_generation_tools.py
  cars/applications/grid_generation/grid_correction.py
  cars/applications/resampling/resampling_tools.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/core/preprocessing.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/applications/resampling/test_resampling.py
  tests/data/input/phr_ventoux/left_image_modified_transform.tif
Due: isort, black, flake8, pylint, sphinx-build

fix: loc on all exogenous dem
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

fix: loc on all exogenous dem
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

Geometry Plugin par défaut avec l'OTB chargé génère une erreur
  cars/core/geometry/__init__.py
  cars/core/geometry/abstract_geometry.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

fix: auto mode with one cpu
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

Resolve "SharelocGeometry ne passe pas les paramètres à AbstractGeometry et génère une erreur avec check_inputs"
  Makefile
  cars/applications/triangulation/triangulation_tools.py
  cars/cars.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/projection.py
  docs/source/usage.rst
  tests/applications/grid_generation/test_grids.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/helpers.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

Masquer pixels rebouché classif droite non valides image gauche
  cars/applications/dense_matching/dense_matching_tools.py
  cars/orchestrator/cluster/abstract_dask_cluster.py
  tests/data/ref_output/classif_end2end_ventoux_split.tif
  tests/data/ref_output/clr_end2end_paca.tif
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_paca.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/filling_end2end_ventoux_split.tif
  tests/data/ref_output/msk_end2end_paca.tif
Due: isort, black, flake8, pylint, sphinx-build

tests: update reference of tests
  tests/data/ref_output/classif_end2end_ventoux_split.tif
  tests/data/ref_output/clr_end2end_paca.tif
  tests/data/ref_output/clr_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/dsm_end2end_paca.tif
  tests/data/ref_output/dsm_end2end_ventoux_split.tif
  tests/data/ref_output/filling_end2end_ventoux_split.tif
  tests/data/ref_output/msk_end2end_paca.tif
  tests/data/ref_output/msk_end2end_ventoux_split.tif
  tests/data/ref_output/source_pc_end2end_ventoux_split.tif
  tests/test_end2end.py
Due: isort, black, flake8, pylint

fix: fill input mask when filling
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: Set GDAL_CACHEMAX to 500MB
  cars/__init__.py
Due: isort, black, flake8, pylint, sphinx-build

Adding mean and stdev for intervals to raster
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

Fixed wrong application name in log
  cars/applications/holes_detection/holes_detection.py
Due: isort, black, flake8, pylint, sphinx-build

fix: splitting str created messed up the formatting
  cars/applications/sparse_matching/sift.py
Due: isort, black, flake8, pylint, sphinx-build

Classif is optionnal and saving color only if add_color=True (default)
  cars/applications/resampling/bicubic_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

Raises warning when discarding intervals
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add global disparity to dataset for ambiguity
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

test: adapt to global disp for ambiguity
  tests/data/ref_output/cloud1_ref_pandora
  tests/data/ref_output/confidence_from_ambiguity1_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity2_end2end_ventoux_split.tif
  tests/data/ref_output/confidence_from_ambiguity_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_ambiguity_end2end_ventoux_no_srtm.tif
  tests/data/ref_output/confidence_from_risk_max_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_max_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_before_end2end_ventoux.tif
  tests/data/ref_output/confidence_from_risk_min_end2end_ventoux.tif
  tests/data/ref_output/disp1_ref_pandora.nc
  tests/data/ref_output/disp1_ref_pandora_msk_ref.nc
  tests/data/ref_output/disp1_ref_pandora_msk_sec.nc
  tests/data/ref_output/disp3_ref_pandora.nc
  tests/data/ref_output/disp_with_confidences_ref_pandora.nc
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop_no_merging.tif
  tests/data/ref_output/rasterization_res_ref_1_intervals.nc
  tests/pipelines/test_wrappers.py
Due: isort, black, flake8, pylint

notebook: remove use_confidence
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

minor: change pandora's version
  setup.cfg
Due: none

fix: restore old constructor for abstract geometry
  cars/core/geometry/abstract_geometry.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

notebook: update tutorials
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

fix: row/col inversed in disp grid generation
  cars/applications/dense_matching/census_mccnn_sgm.py
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build
