Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: PyLint
  stages:
  - commit
  language: system
  entry: pylint --rcfile=.pylintrc

sphinx-build:
  name: Build Sphinx Doc
  stages:
  - push
  entry: make docs
  language: system
  pass_filenames: false

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: negative pixel size
  cars/applications/resampling/bicubic_resampling.py
  cars/core/inputs.py
Due: isort, black, flake8, pylint, sphinx-build

fix: resampling with negative resolution
  cars/applications/resampling/resampling_tools.py
  cars/pipelines/pipeline_template.py
Due: isort, black, flake8, pylint, sphinx-build

fix: resampling with negative resolution
  cars/applications/resampling/resampling_tools.py
Due: isort, black, flake8, pylint, sphinx-build

fix: typo
  cars/applications/resampling/bicubic_resampling.py
Due: isort, black, flake8, pylint, sphinx-build

feat: update changelog
  CHANGELOG.md
Due: none

fix: change message log
  cars/cars.py
Due: isort, black, flake8, pylint, sphinx-build

fix: typo
  cars/cars.py
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

docs: remove space
  cars/applications/grid_generation/epipolar_grid_generation.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add enforced logging info message
  cars/cars.py
  cars/core/cars_logging.py
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add custom log level
  cars/cars.py
  cars/core/cars_logging.py
  cars/orchestrator/orchestrator.py
  docs/source/user_guide/cli.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: typo
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/resampling/bicubic_resampling.py
  cars/core/cars_logging.py
  cars/orchestrator/cluster/log_wrapper.py
  cars/orchestrator/cluster/mp_cluster/mp_objects.py
  cars/orchestrator/cluster/mp_cluster/mp_wrapper.py
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  cars/orchestrator/orchestrator.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

docs: typo
  cars/applications/grid_generation/epipolar_grid_generation.py
Due: isort, black, flake8, pylint, sphinx-build

feat: specify file=sys.stdout to tqdm
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add/remove line breaks
  CHANGELOG.md
Due: none

fix: save only one worker log file
  cars/core/cars_logging.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add slurm orchestrator
  Makefile
  cars/orchestrator/cluster/__init__.py
  cars/orchestrator/cluster/dask_jobqueue_utils.py
  cars/orchestrator/cluster/slurm_dask_cluster.py
  docs/source/developer_guide/design/orchestrator.rst
  docs/source/developer_guide/how_to_contribute.rst
  docs/source/user_guide/configuration.rst
  pytest.ini
  tests/orchestrator/cluster/test_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: bug intersection
  cars/applications/sparse_matching/sparse_matching_tools.py
Due: isort, black, flake8, pylint, sphinx-build

doc: add laz merging documentation
  docs/source/user_guide/configuration.rst
  docs/source/user_guide/index.rst
Due: sphinx-build

doc: add laz merging documentation
  docs/source/user_guide/output_postprocessing.rst
Due: sphinx-build

doc: add laszip link
  docs/source/user_guide/output_postprocessing.rst
Due: sphinx-build

docs: rewording
  docs/source/user_guide/output_postprocessing.rst
Due: sphinx-build

docs: typo
  docs/source/user_guide/output_postprocessing.rst
Due: sphinx-build

docs: typo
  docs/source/user_guide/configuration.rst
Due: sphinx-build

refac: remove main_tutorial
  Dockerfile.tutorial
  Makefile
  docs/source/developer_guide/how_to_contribute.rst
  tests/test_notebooks.py
  tutorials/main_tutorial.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: add information map to raster giving for each pixel the stereo pair used
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/point_cloud_outliers_removing/outlier_removing_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  cars/core/tiling.py
  cars/data_structures/cars_dataset.py
  cars/pipelines/point_clouds_to_dsm/point_cloud_to_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: adapt existing tests
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
  tests/applications/point_cloud_fusion/test_point_cloud_tools.py
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint

fix: import otb
  cars/orchestrator/cluster/dask_jobqueue_utils.py
  cars/orchestrator/cluster/pbs_dask_cluster.py
  cars/orchestrator/cluster/slurm_dask_cluster.py
  tests/core/geometry/test_otb_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

test: add new test for source map from multiple point cloud
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/constants.py
  tests/applications/rasterization/test_rasterization_tools.py
  tests/data/ref_output/rasterization_multiple_with_source_res_ref.nc
Due: isort, black, flake8, pylint, sphinx-build

docs: add doc of new parameters and complete docstrings
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/core/tiling.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: check remote modules
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/geometry/otb_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

refac: remove install-deps-otb-free
  Makefile
Due: none

docs: add a FAQ about rasterio
  docs/source/faq.rst
Due: sphinx-build

fix: None tiles not managed in cloud detection
  cars/applications/holes_detection/cloud_to_bbox.py
Due: isort, black, flake8, pylint, sphinx-build

feat: release version constraint
  Dockerfile.jupyter
Due: none

fix: prevent erroneous sign flip for res property
  setup.cfg
Due: none

refacto: manage priority tasks (mp mode)
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  sphinx-build: any of: ^(docs/.*|cars/.*)$
  jupyter-nb-clear-output: any of: \.ipynb$
