Repository CNES/cars: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: sphinx-build
    name: Build Sphinx Doc
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars/.*)$
    pass_filenames: False

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    files: \.ipynb$
    stages: [commit]
    language: system
    entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

fix: technical debt
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

fix: cython version
  Makefile
  docs/source/install.rst
Due: sphinx-build

move /tmp/cars_tmp_dir to ./cars_tmp_dir
  cars/orchestrator/orchestrator.py
  cars/pipelines/pipeline_template.py
  docs/source/developer_guide/how_to_contribute.rst
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

fix: if orchestrator is used without context, tmp_dir is not cleaned
  tests/applications/point_cloud_fusion/test_pc_tif_tools.py
  tests/applications/resampling/test_resampling.py
Due: isort, black, flake8, pylint

fix: notebook version incompatible with jupyter
  setup.cfg
Due: none

feat: add disparity thresholds
  cars/applications/dense_matching/census_mccnn_sgm.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

docs: typo
  cars/applications/dense_matching/census_mccnn_sgm.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use tempfile directory
  cars/orchestrator/orchestrator.py
Due: isort, black, flake8, pylint, sphinx-build

feat: use tempfile directory in test
  tests/helpers.py
Due: isort, black, flake8, pylint

docs: update docs for temporary directory
  docs/source/developer_guide/how_to_contribute.rst
  tests/helpers.py
Due: isort, black, flake8, pylint, sphinx-build

doc: update changelog
  CHANGELOG.md
Due: none

fix: linter
  tests/helpers.py
Due: isort, black, flake8, pylint

fix: docker deps
  Dockerfile.deps
Due: none

fix: list of none point cloud
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
Due: isort, black, flake8, pylint, sphinx-build

fix: docker versions
  Dockerfile.deps
Due: none

fix: correct logs during launch of cluster
  cars/orchestrator/cluster/dask_jobqueue_utils.py
  cars/orchestrator/cluster/pbs_dask_cluster.py
  cars/orchestrator/cluster/slurm_dask_cluster.py
Due: isort, black, flake8, pylint, sphinx-build

refacto: change geometry interfaces
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/grid_generation/grids.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/applications/point_cloud_outliers_removing/small_components.py
  cars/applications/point_cloud_outliers_removing/statistical.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/sparse_matching/sift.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation.py
  cars/applications/triangulation/triangulation_constants.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/geometry/__init__.py
  cars/core/geometry/otb_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/preprocessing.py
  cars/core/projection.py
  cars/pipelines/pipeline_constants.py
  cars/pipelines/pipeline_template.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: pass grids in memory, factorize DTMIntersection for shareloc, fix serialisation of plugin
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/grid_generation/grid_correction.py
  cars/applications/resampling/bicubic_resampling.py
  cars/applications/resampling/resampling_tools.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/geometry/__init__.py
  cars/core/geometry/otb_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/preprocessing.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

tests: adapt interface of tests
  cars/applications/grid_generation/grid_correction.py
  cars/applications/resampling/resampling_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/geometry/otb_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/applications/grid_generation/test_grids.py
  tests/applications/resampling/test_resampling.py
  tests/applications/triangulation/test_triangulation_tools.py
  tests/core/geometry/test_abstract_geometry.py
  tests/core/geometry/test_otb_geometry.py
  tests/core/geometry/test_shareloc_geometry.py
  tests/core/test_projection.py
  tests/core/test_tiling.py
  tests/data/input/data_gizeh_crop/configfile_crop.json
  tests/data/input/data_gizeh_crop/srtm_dir/N29E031_KHEOPS.tif
  tests/data/input/phr_gizeh/input_msk_fill.json
  tests/data/input/phr_paca/input.json
  tests/data/input/phr_ventoux/input.json
  tests/data/input/phr_ventoux/input_bias.json
  tests/data/input/phr_ventoux/input_shareloc.json
  tests/data/input/phr_ventoux/input_with_classif.json
  tests/data/input/phr_ventoux/input_with_color.json
  tests/data/input/phr_ventoux/input_without_color.json
  tests/data/ref_output/clr_end2end_gizeh_crop.tif
  tests/data/ref_output/dsm_end2end_gizeh_crop.tif
  tests/data/ref_output/msk_end2end_gizeh_crop.tif
  tests/data/ref_output/performance_map_end2end_gizeh_crop.tif
  tests/helpers.py
  tests/pipelines/test_wrappers.py
  tests/test_end2end_shareloc.py
Due: isort, black, flake8, pylint, sphinx-build

docs: update docstrings and add geometry plugin section in docs
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/applications/grid_generation/grid_correction.py
  cars/applications/grid_generation/grids.py
  cars/applications/sparse_matching/sparse_matching_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/geometry/otb_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/core/preprocessing.py
  cars/core/projection.py
  docs/source/user_guide/configuration.rst
  docs/source/user_guide/plugins.rst
Due: isort, black, flake8, pylint, sphinx-build

fix: move check of remote modules in check_geometry_plugin
  cars/applications/grid_generation/epipolar_grid_generation.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  tutorials/notebook_helpers.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

docs: add OTB plugin documentation
  docs/source/user_guide/configuration.rst
  docs/source/user_guide/plugins.rst
Due: sphinx-build

fix: remove former_conf, update developer docs, change entry_points name
  cars/__init__.py
  cars/applications/__init__.py
  cars/core/former_confs_utils.py
  cars/core/geometry/__init__.py
  cars/core/geometry/otb_geometry.py
  cars/core/preprocessing.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  docs/source/developer_guide/design/index.rst
  docs/source/developer_guide/design/loader.rst
  docs/source/developer_guide/design/plugin.rst
  tests/core/geometry/test_otb_geometry.py
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: isort, black, flake8, pylint, sphinx-build, jupyter-nb-clear-output

feat: propagate mask until rasterisation
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/point_cloud_fusion/point_cloud_tools.py
  cars/applications/rasterization/rasterization_tools.py
  cars/applications/rasterization/simple_gaussian.py
  cars/applications/triangulation/triangulation_tools.py
  cars/core/constants.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  tests/applications/rasterization/test_rasterization_tools.py
Due: isort, black, flake8, pylint, sphinx-build

docs: add save_filling parameter
  cars/applications/dense_matches_filling/fill_disp_tools.py
  docs/source/user_guide/configuration.rst
Due: isort, black, flake8, pylint, sphinx-build

feat: add filling attribute to disparity map
  cars/applications/dense_matches_filling/dense_matches_filling.py
  cars/applications/dense_matches_filling/fill_disp_tools.py
  cars/applications/dense_matches_filling/plane.py
  cars/applications/dense_matches_filling/zero_padding.py
  cars/applications/point_cloud_fusion/mapping_to_terrain_tiles.py
  cars/core/constants.py
  cars/core/constants_disparity.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add band descriptions
  cars/data_structures/cars_dataset.py
Due: isort, black, flake8, pylint, sphinx-build

fix: make filling mask work with splitted pipeline
  cars/applications/point_cloud_fusion/pc_tif_tools.py
  cars/applications/triangulation/line_of_sight_intersection.py
  cars/core/inputs.py
  cars/pipelines/point_clouds_to_dsm/pc_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

feat: add geomodel dict shema check
  cars/core/geometry/otb_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix tests
  cars/pipelines/sensor_to_sparse_dsm/sensor_to_sparse_dsm_pipeline.py
  tests/core/geometry/test_otb_geometry.py
Due: isort, black, flake8, pylint, sphinx-build

fix: fix notebook tutorials
  tutorials/sensor_to_dense_dsm_matching_methods_comparison.ipynb
  tutorials/sensor_to_dense_dsm_step_by_step.ipynb
  tutorials/sensor_to_dsm_from_a_priori.ipynb
Due: jupyter-nb-clear-output

feat: if geomodel is str, change it to dict
  cars/core/geometry/otb_geometry.py
  cars/core/geometry/shareloc_geometry.py
  cars/pipelines/sensor_to_dense_dsm/sensor_to_dense_dsm_pipeline.py
  cars/pipelines/sensor_to_dense_dsm/sensors_inputs.py
Due: isort, black, flake8, pylint, sphinx-build

doc: MP cluster documentation
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
  docs/source/developer_guide/design/cluster_mp.rst
  docs/source/developer_guide/design/index.rst
  docs/source/images/mp_cluster.svg
Due: isort, black, flake8, pylint, sphinx-build

fix: typo
  cars/orchestrator/cluster/mp_cluster/multiprocessing_cluster.py
Due: isort, black, flake8, pylint, sphinx-build
